{{!
    @template local_airpay_proctoring/admin_home
}}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">{{#str}}adminhome, local_airpay_proctoring{{/str}}</h2>
        {{#has_review_cap}}
        <a href="{{{ review_queue_url }}}" class="btn btn-outline-warning btn-sm">
            <i class="fa fa-flag"></i>
            {{#str}}reviewqueue, local_airpay_proctoring{{/str}}
        </a>
        {{/has_review_cap}}
    </div>

    <div data-region="datatable"
         data-component="local_airpay_proctoring"
         data-ws-name="local_airpay_proctoring_list_attempts"
         data-columns="{{ columns_json }}"
         data-default-sort="timecreated"
         data-default-sortdir="desc"
         data-extra-args='{}'>
        <div class="text-center text-muted py-5">Loading...</div>
    </div>
</div>

{{#js}}
require(['theme_airpayux/datatable'], function(Datatable) {
    Datatable.init(document.querySelector('[data-region="datatable"]'));
});
{{/js}}
