{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#response}}
{{#viewtypeCard}}
<table id ="manage_users1" class="generaltable">
    <thead>
        <tr>
            <th>{{# str}}category {{/ str}}</th>
            <th>{{# str}}categorycode, local_courses{{/ str}}</th>
            <th>{{# str}}subcategory, local_courses{{/ str}}</th>
            <th>{{# str}}courses, local_courses{{/ str}}</th>
            <th>{{# str}}actions, local_courses{{/ str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#records}}
      
        <tr>
            <td>{{parentname_str}}</td>
            <td>{{categoryidnumber_idnumber}}</td>
            {{# showsubcategory}}
            <td>{{{ categoryname_str }}}</td>
            {{/ showsubcategory}}
            <td>{{{ catcount }}}</td>
          
            <td>
                {{# actions }}
                    {{# delete_enable}}
                        <a href="javascript:void(0)" data-action = "deletecategorymodal{{catgoryid}}" data-value = "{{ catgoryid }}" class="deletecategorymodal" title = "{{# str}} delete {{/ str}}" onclick="(function(e){require('local_courses/deletecategory').init({contextid:{{ contextid }}, categoryid:{{ catgoryid }}, })})(event)">
                         <i class="fa fa-trash fa-fw" aria-hidden="true" aria-label="Edit"></i></a>
                    {{/ delete_enable}}
                    
                    {{^ delete_enable}}
                        <a href="javascript:void(0)" class="deletecategorymodal" title = "{{# str}} delete {{/ str}}" onclick="(function(e){require('local_courses/deletecategory').reasonfor_unabletodelete({reason: '{{unabletodelete_reason}}' })})(event)">
                        <i class="fa fa-trash fa-fw" aria-hidden="true"></i></a>
                    {{/ delete_enable}}
                               
                      <a href="javascript:void(0)" data-action = "createcategorymodal" data-value = "{{ catgoryid }}" class="createcategorymodal" title = "{{# str}} edit {{/ str}}" onclick="(function(e){require('local_courses/newcategory').init({contextid:{{ contextid }}, categoryid:{{ catgoryid }}, })})(event)">
                       <i class="fa fa-pencil fa-fw" aria-hidden="true" aria-label="Edit"></i></a>
                               
                    {{# show }}
                      <a href="javascript:void(0)" title="{{# str}} makeinactive,local_courses{{/ str}}" onclick="(function(e){require('local_courses/deletecategory').suspendonlinetest({ id:{{catgoryid}},visible:0,status:'enable'}) })(event)">
                       <i class="fa fa-eye"></i></a>
                    {{/ show }}
                    
                    {{^ show }}
                       <a href="javascript:void(0)" title="{{# str}} makeactive,local_courses{{/ str}}" onclick="(function(e){ require('local_courses/deletecategory').suspendonlinetest({ id:{{catgoryid}},visible:1,status:'disable'}) })(event)">
                       <i class="fa fa-eye-slash"></i></a>
                    {{/ show }}
                {{/ actions}}
                {{{ copyaction }}}
            </td>
        </tr>
       {{/records}}
    </tbody>
</table>
{{/viewtypeCard}}
{{/response}}
