{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<button type="button" id ="btn_add" style="float: right;margin: 35px 10px 0px 0px;" onclick="(function(e){ require('local_courses/createCoursetype').init({contextid:1}) })(event)">{{#str}}add_coursetype,local_courses{{/str}}</button>
<!--<a id="extended_menu_createcoursetype" class="pull-right course_extended_menu_itemlink" title = "'.get_string('create_coursetype','local_courses').'" data-action="coursetypemodal" onclick="(function(e){ require(\'local_courses/createCoursetype\').init({contextid:'.$categorycontext->id . ' }) })(event)"></a>-->
                                        
<table id ="manage_coursetypes" class="generaltable">
    <thead>
        <tr>
            <th>{{#str}}name, local_courses{{/str}}</th>
            <th>{{#str}}course_type_shortname, local_courses{{/str}}</th>
            {{# is_admin}}
            <th>{{#str}}organization, local_courses{{/str}}</th>
            {{/ is_admin}}
            <th>{{#str}}actions, local_courses{{/str}}</th>
        </tr>
    </thead>
    <tbody>
    {{#result}}
      <tr>
        <td>{{name}}</td>
        <td>{{shortname}}</td>
        {{# is_admin}}
        <td>{{organization}}</td>
        {{/ is_admin}}
        <td>
          {{#display}}
          <a href="javascript:void(0)"  onclick = '(function(e){ require("local_courses/createCoursetype").init({contextid:1, coursetypeid:{{id}} }) })(event)' ><i class="icon fa fa-pencil fa-fw " title="Edit" role="img" aria-label="Edit title"></i></i></a>
          <a href="javascript:void(0)"  onclick = '(function(e){ require("local_courses/createCoursetype").statusConfirm({ contextid:1, coursetypeid:{{id}}, status:{{#active}}"inactive"{{/active}}{{^active}}"active"{{/active}}, name:"{{name}}" }) })(event)'><i class="icon fa {{#active}}fa-eye{{/active}}{{^active}}fa-eye-slash{{/active}} fa-fw iconsmall" title="Active/Inactive" role="img" aria-label="[[le_inactive]]"></i></a>
          {{^identifiedas}}
          <a href="javascript:void(0)"  onclick = '(function(e){ require("local_courses/createCoursetype").deleteConfirm({ coursetypeid:{{id}}, name:"{{name}}"  }) })(event)' data-id= "{{id}}" class="local_classid{{id}}  local_class_delete_button" ><i class="icon fa fa-trash fa-fw " title="Delete" role="img" aria-label="Delete"></i></a>
          {{/identifiedas}}
          {{#identifiedas}}
          <a href="javascript:void(0)"  onclick = '(function(e){ require("local_courses/createCoursetype").deletenotConfirm({ coursetypeid:{{id}}, name:"{{name}}"  }) })(event)' data-id= "{{id}}" class="local_classid{{id}}  local_class_delete_button" ><i class="icon fa fa-trash fa-fw " title="Delete" role="img" aria-label="Delete"></i></a>
          {{/identifiedas}}
          {{/display}}
          {{^display}}
            N/A
          {{/display}}
        </td>        
      </tr>
      {{/result}}
    </tbody>
</table>

