<div class="col-lg-5 col-md-5 pull-left levelcourse_middle">
    {{# cancreatesession }}
        <a href="{{{ config.wwwroot }}}/local/program/sessions.php?bclcid={{bclevelcourseid}}&levelid={{levelid}}&bcid={{programid}}" class="addsession_link">{{#str}}view{{/str}} / {{#str}}createsession, local_program{{/str}}</a>
    {{/ cancreatesession }}
    {{^ cancreatesession }}
    <div class="w-full pull-left session_details">
        {{# signupid }}
        <div class="w-full pull-left schedule_details">
            <span class="pull-left session_icon" title = "{{#str}} sessionschedule, local_program {{/str}}">
                <i class="fa fa-calendar mr-10" aria-hidden="true"></i>
            </span>
            <span class="pull-left sessiontime">
                {{#userdate}} {{timestart}}, %d %b %Y{{/userdate}} at {{#userdate}} {{timestart}}, %I:%M %p {{/userdate}} to {{#userdate}} {{timefinish}}, %d %b %Y %I:%M %p {{/userdate}}
            </span>
        </div>
        <div class="w-full pull-left session_location">
            <span class="pull-left sessionlocation" title = "{{#str}} sessionlocation, local_program {{/str}}">
                <i class="fa fa-map-marker pull-left mr-15" aria-hidden="true"></i>
                <span class="pull-left sessionroom"> {{ roomname }}, {{ location }} </span>
            </span>
        </div>
        {{/ signupid }}
        {{^ sessionenabled }}
        {{^ userview }}
        <a href="{{cfg.wwwroot}}/local/program/sessions.php?bclcid={{bclevelcourseid}}&levelid={{levelid}}&bcid={{programid}}">Sessions</a>
        {{/ userview }}
        {{/ sessionenabled }}
    </div>
    {{/ cancreatesession }}
</div>
<div class="col-lg-2 col-md-2 pull-left levelcourse_right">
    <div class="course_actions">
        {{# canremovecourse }}
            <a class="pull-right course_delete" id="unassign_course_{{bclevelcourseid}}" onclick="(function(e){ require('local_program/program').unassignCourses({action:'unassign_course', bclcid:{{bclevelcourseid}}, levelid:{{levelid}}, bcid:{{programid}} }) })(event)" href="javascript:void(0)"><i class="icon fa fa-times fa-fw" aria-hidden="true" title="Un-assign" aria-label="Delete"></i></a>
        {{/ canremovecourse }}

        {{# cannotremovecourse }}
            <a class="pull-right course_delete" id="unassign_course_{{bclevelcourseid}}" onclick="(function(e){ require('local_program/program').unassignCourses({action:'cannotunassign_course', bclcid:{{bclevelcourseid}}, levelid:{{levelid}}, bcid:{{programid}} }) })(event)" href="javascript:void(0)"><i class="icon fa fa-trash fa-fw" aria-hidden="true" title="Un-assign" aria-label="Delete"></i></a>
        {{/ cannotremovecourse }}
    </div>
    {{^ canremovecourse }}
    {{# userview }}
    <div class='text-xs-right'>
        <span class='course_status_tag'>
            {{# coursecompletionstatus }}
                <span class="course_status completed">{{ coursecompletionstatus }}</span>
            {{/ coursecompletionstatus }}
        </span>
        <span class="reschedule">
            <a href="{{{ config.wwwroot }}}/local/program/sessions.php?bclcid={{bclevelcourseid}}&levelid={{levelid}}&bcid={{programid}}">
                <button class="btn btn-primary reschedule_btn">
                    {{#str}}sessions, local_program{{/str}}
                </button>
            </a>
        </span>
    </div>
    {{/ userview }}
    {{/ canremovecourse }}
</div>