<div class="levelcourse_right ">
    <div class="course_actions">
        {{# canremovecourse }}
            <a class="course_delete" id="unassign_course_{{bclevelcourseid}}" onclick="(function(e){ require('local_program/program').unassignCourses({action:'unassign_course', bclcid:{{bclevelcourseid}}, levelid:{{levelid}}, bcid:{{programid}} }) })(event)" ><i class="icon fa fa-trash fa-fw" aria-hidden="true" title="Un-assign" aria-label="Delete"></i></a>
        {{/ canremovecourse }}

        {{# cannotremovecourse }}
            <a class="course_delete" id="unassign_course_{{bclevelcourseid}}" onclick="(function(e){ require('local_program/program').unassignCourses({action:'cannotunassign_course', bclcid:{{bclevelcourseid}}, levelid:{{levelid}}, bcid:{{programid}} }) })(event)" ><i class="icon fa fa-trash fa-fw" aria-hidden="true" title="Un-assign" aria-label="Delete"></i></a>
        {{/ cannotremovecourse }}
    </div>
    {{^ canremovecourse }}
    {{# userview }}
    <div class='text-xs-right'>
        <span class='course_status_tag'>
            {{# coursecompletionstatus }}
                <span class="course_status completed">{{ coursecompletionstatus }}</span>
            {{/ coursecompletionstatus }}
        </span>

<!--         {{# classroomcourse}}
            <span data-courseid='{{id}}' class="pull-right program_classroom_icon" title="{{# str}} listofclassrooms, local_program{{/ str}}"></span>
        {{/ classroomcourse}} -->
    </div>
    {{/ userview }}
    {{/ canremovecourse }}
</div>
