{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{# program_view_count}}
{{# card_view}}
<div id="{{{subtab}}}" class="tab-pane divslider active active_subtab">
<div class="userdashboard_content userdashboard_ctype_program row d-flex flex-row flex-{{#enableflow}}no{{/enableflow}}wrap">
{{#enableslider}}
     {{> block_userdashboard/userdashboard_enable_slider}}
{{/enableslider}}
    {{#moduledetails}}
    <div class="col-sm-4 col-12 tabs_cmn_class courses_inprogress_slide {{{subtab}}} ctype_program" data-index="{{index}}">
        <div class="program_container d-flex w-100">
            <div class="course_container w-100">
                <div class="classesimgContainer d-flex align-items-center p-0">
                    <span class="bootcampicon_container"><img src="{{ ProgramIcon }}" alt="bootcamp_img" class="bootcampicon"></span>
                    <div>
                        <a href="{{{ProgramUrl}}}" title="{{{ProgramFullname}}}" class="bootcamp_name"> {{{DisplayProgramFullname}}}</a>
                    </div>
                </div>
                <div class="w-full coursecontent">
                    <div class="desc coursedesc w-full">{{{ProgramDescription}}}</div>
                    <div class="mt-15 {{#rating_element}}w-full d-flex align-items-center justify-content-between flex-row flex-wrap{{/rating_element}}">
                        <div class="rating_container">{{{rating_element}}}</div>
                        <a href="{{{ProgramUrl}}}">
                            <button class="btn btn-primary launch_btn">{{#str}}launch, block_userdashboard{{/str}}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/moduledetails}}
    {{# viewMoreCard}}
        <!-- <div class="col-sm-6 col-12 pull-left view_more_data_card ctype_program d-flex justify-content-center align-items-center">
            <a class="center_elemet" href="{{{view_more_url}}}">{{#str}}viewmore{{/str}}</a>
        </div> -->
    {{/ viewMoreCard}}
</div>
</div>
{{/ card_view}}
{{# list_view}}
<table id ="userdashboard_table_content" class="generaltable">
      <thead>
          <tr>
              <th>{{#str}}programname, local_program {{/str}}</th>
              <th></th>
              <th>{{#str}}description, local_program {{/str}}</th>
         </tr>
    </thead>
    <tbody>
          {{# moduledetails}}
         <tr>
            <td> 
               <a href="{{{ProgramUrl}}}" title="{{{ProgramFullname}}}" class="bootcamp_name"> {{{DisplayProgramFullname}}}</a>
            </td>
              <td>
                 <a href="{{{ProgramUrl}}}">
                    <button class="btn btn-sm launch_btn">{{#str}}launch, block_userdashboard{{/str}}</button>
                 </a>
                 {{{ copyaction }}}
            </td>
            <td>
              {{{ProgramDescription}}}
            </td>
         </tr>
        {{/ moduledetails}}
    </tbody>
</table>
{{/ list_view}}

{{/ program_view_count}}

{{^ program_view_count}}
    {{> block_userdashboard/userdashboard_nodata_text}}
{{/ program_view_count}}
