<div class="tab-content">
    {{# programlevel }}
        {{# userview}}
            {{# mycompletionstatus }}
                <span class="levelcomplition completed">{{# str}} levelcompleted, local_program {{/ str}}</span>
            {{/ mycompletionstatus }}
            {{# myinprogressstatus }}
                <span class="levelcomplition inprogress">{{# str}} levelinprogress, local_program {{/ str}}</span>
            {{/ myinprogressstatus }}
        {{/ userview}}
            <div class="w-full level_description">{{{description}}}</div>
        {{#levelcompletioncriteria}}
        <div class="w-full lpcourse_content">
            <div class='alert alert-info mb-0'>
                <b>{{#str}} completion_settings_tab, local_program{{/ str}} : </b> {{{tracking}}}
            </div>
        </div>
        {{/levelcompletioncriteria}}
        {{# canaddcourse }}
        <div class="assign_course_btn text-right">
            <a href="javascript:void(0)" class="addcourse mt-0" onclick="(function(e){ require('local_program/ajaxforms').init({contextid:{{ contextid }}, component:'local_program', callback:'course_form', form_status:0, plugintype: 'local_program', pluginname: 'course', id:0, bcid: {{ programid }}, levelid: {{levelid}} }) })(event)">{{#str}}assigncourses, local_program{{/str}}</a>
        </div>
        {{/ canaddcourse }}
        <div class="row mt-4">
            {{# programlevelcourses }}
            <div class="col-md-6 col-12 mb-5">
                <div class="lpcourse_container d-flex">
                    <div class="d-flex levelcourse_list {{ coursecompletionstatus }}">
                        <div class="lvcimg_container">
                            <div class="levelcourse_img" style="background-image: url('{{ courseimage }}');" alt="{{course}}"></div>
                        </div>
                        <div class="lvcdata_container p-2">
                            <div class="w-full d-flex justify-content-between align-items-center">
                                <h5 class="coursename">
                                    {{{ course }}}
                                </h5>
                                {{> local_program/coursesessionblock }}
                            </div>
                            <div class="lvc_desc">{{{coursesummary}}}</div>
                            <div class="training_btns d-flex mt-3 justify-content-end">
                                {{# classroomcourse}}
                                    <a class="view_btn mr-2"><span data-courseid='{{id}}' class="pull-right program_classroom_icon" title="{{# str}} listofclassrooms, local_program{{/ str}}">View trainings</span></a>
                                {{/ classroomcourse}}
                                <!-- <a class="view_btn mr-2">View trainings</a> -->
                                <a class="start_btn" href="{{courseurl}}">{{#str}} start_course, local_program{{/str}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/ programlevelcourses }}
            {{^ programlevelcourses }}
                <div class="w-full pull-left alert alert-info text-center">{{#str}} noassignedcourses, local_program{{/str}}</div>
            {{/ programlevelcourses }}
        </div>
    {{/ programlevel }}
</div>
