{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template catalog/program list

    Displays program
   
}}
<!-- Versatile cards view-->
<span class="courseimg_strip">Strip</span>
<div class="d-flex my-3 flex-column shadow border rounded overflow-hidden  coursecard_container">
    <div class=" card-img-top courseimg_container p-0">
        <a title="<% record.fullname %>">
            <div style="background-image: url('<% record.fileurl %>')" class="courseimg_bg p-2">
                <span class="CstripCnt">
                    <span class="elearning">Program</span>
                </span>
            </div>
        </a>
    </div>
    <div class="card-body readyCCnt coursecontent ">
        <div class="d-flex w-full course_name_container ">
            <div>
                <a ng-if="record.userenrolstatus == 0 || record.selfenroll == 2" class="d-block link text-decoration-none" title="<% record.fullname %>" >
                    <h4 class="course_name m-y-1 card-title course-title">
                        <% record.fullname %>
                    </h4>
                </a>
                <a ng-if="record.userenrolstatus == 1" class="d-block link text-decoration-none" title="<% record.fullname %>">
                    <h4 class="course_name m-y-1 card-title course-title">
                        <% record.fullname %>
                    </h4>
                </a>
            </div>
            

        </div>
        <div class="card-text course-desc">
            <div class="coursedesc w-full ">
                <div class="course-desc" ng-bind-html="record.intro | unsafe"></div>
            </div>
             <span ng-if='record.selfenroll == 2'>
                    <span class="all-seats-filled txt-red">
                        {{#str}}capacity_check,local_search{{/str}}
                    </span>
                </span>
        </div>
        <div class=" w-full mt-auto">
            <div class="action_div d-flex">
                <div ng-if='record.selfenroll == 0' class='catcr_enrol' ng-bind-html='record.enrollmentbtn | unsafe'>kasdksad</div>
               
                <div ng-if="record.userenrolstatus == 1">
                    <a class="as_button_in_anchor cat_btn  appear_as_button btn-primary viewmore_btn" ng-href="<% record.programlink %>">
                        {{#str}}start_now, local_search{{/str}}
                    </a>
                </div>
                <div ng-bind-html="record.redirect | unsafe"></div>
            </div>
        </div>
    </div>
</div>
