<div class="tagdetails">
    <div class="span12">
        {{# manage}}
        <div class="span4">
            <p><span><b>{{#str}}enrolled, local_program{{/str}}</b>:</span> <span>{{enrolled}}</span>
            <span><b>{{#str}}completed, local_program{{/str}}</b>:</span> <span>{{completed}}</span>
            <span><b>{{#str}}sessions, local_program{{/str}}</b>:</span> <span>{{noofsessions}}</span>
            </p>            
        </div>
        {{/ manage}}

        {{^ manage}}
        <div class="span4">
            <p><span><b>{{#str}}enrolled, local_program{{/str}}</b>:</span> <span>{{{enrolled}}}</span>
            <span><b>{{#str}}completed, local_program{{/str}}</b>:</span> <span>{{completed}}</span>
            <span><b>{{#str}}sessions, local_program{{/str}}</b>:</span> <span>{{noofsessions}}</span>
            <span><b>{{#str}}attended_sessions, local_program{{/str}}</b>:</span> <span>{{attendance}}</span>
            <span><b>{{#str}}status, local_program{{/str}}</b>:</span> <span>{{status}}</span>
            </p>            
        </div>
        {{/ manage}}
    </div>
</div>