{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{# program_view_count}}
<div class="userdashboard_content userdashboard_ctype_classroom d-flex flex-row flex-{{# enableflow}}no{{/enableflow}}wrap">
    {{#moduledetails}}
    <div class="col-sm-6 col-12 pull-left tabs_cmn_class courses_inprogress_slide ctype_program" data-index="{{index}}">
        <div class="bootcamp_container w-full pull-left" >
            <div class="w-full pull-left pt-1 pb-1 pl-15 pr-15 programcontainer_top">
                <div class="w-full pull-left">
                    <div class="classesimgContainer pull-left p-0">
                        <span class="bootcampicon_container"><img src="{{ ProgramIcon }}" class="bootcampicon"></span>
                    </div>
                    <div class="w-full coursecontent">
                        
                        <div class="mb-10">
                            <a href="{{{ProgramUrl}}}" title="{{{ProgramFullname}}}" class="bootcamp_name"> {{{DisplayProgramFullname}}}</a>
                        </div>
                        <div class="desc coursedesc w-full pull-left">{{{ProgramDescription}}}</div>
                        <div class="pull-right mt-15 {{#rating_element}}w-full d-flex align-items-center justify-content-between flex-row flex-wrap{{/rating_element}}">
                            <div class="pull-left">{{{rating_element}}}</div>
                            <a href="{{{ProgramUrl}}}">
                                 <button class="btn btn-primary launch_btn">{{#str}}launch, block_userdashboard{{/str}}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
        
    {{/moduledetails}}  
    {{# viewMoreCard}}
        <div class="col-sm-6 col-12 pull-left view_more_data_card ctype_program d-flex justify-content-center align-items-center">
            <a class="center_elemet" href="{{{view_more_url}}}">{{#str}} viewmore {{/str}}</a>
        </div>
    {{/ viewMoreCard}}
</div>
{{/ program_view_count}}

{{^ program_view_count}}
    {{> block_userdashboard/userdashboard_nodata_text}}  
{{/ program_view_count}}
{{#enableslider}}
     {{> block_userdashboard/userdashboard_enable_slider}}
{{/enableslider}}
