<div id="dashboard-header">
    <div id="reportbox_shadow">
        <div  class="row w-100 pt-2">
            <div class="col-md-5">
                <ul id="segmented-button" class="nav">
                    <li class="nav-item">
                        <input type="radio" name="duration" value="week" id="seg-Week" class="analytics-radio-tab">
                        <label for="seg-Week" class="week nav-link">{{#str}}week{{/str}}</label>
                    </li>
                    <li class="nav-item">
                        <input type="radio" name="duration" value="month" id="seg-Month" class="analytics-radio-tab">
                        <label for="seg-Month" class="nav-link">{{#str}}month{{/str}}</label>
                    </li>
                    <li class="nav-item">
                        <input type="radio" name="duration" value="year" id="seg-Year" class="analytics-radio-tab">
                        <label for="seg-Year" class="nav-link">{{#str}}year, block_reportdashboard{{/str}}</label>
                    </li>
                    <li class="nav-item">
                        <input type="radio" name="duration" value="custom" id="seg-Custom" class="analytics-radio-tab">
                        <label for="seg-Custom"  class="nav-link">{{#str}}custom, block_reportdashboard{{/str}}</label>
                    </li>
                    <li class="nav-item">
                        <input type="radio" name="duration" value="clear" id="seg-Clear" checked="true" class="analytics-radio-tab">
                        <label for="seg-Clear" class="nav-link">{{#str}}all, block_reportdashboard{{/str}}</label>
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <div class="flatpickr mt-3 ml-2">
                    <input type="text" name="customduration" value="" style="display: none;"
                        id="customrange" placeholder="Start Date - End Date">
                </div>
            </div>
            <div class="col-md-4">
                <span id="widgetaction">
                    <span class='left_buttons'>
                        {{# issiteadmin }}
                        {{# reportwidgetstatus }}
                            <span class="dropdown nav-item pull-right">
                                <a class="dropdown-toggle htitle" id="addwidgets{{reportinstance}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{#str}}addwidgettile, block_reportdashboard{{/str}}">
                                    <span class="tooltiptext tooltip-top">{{#str}}addwidgettile, block_reportdashboard{{/str}}</span>
                                    <img src='{{config.wwwroot}}/blocks/learnerscript/pix/addwidget.png' id='addwidgets' class='addblocks-to-dashboard' >
                                </a>
                                <ul class="menu dropdown-menu  dropdown-menu-right dropdown-content" area-labelledby="addwidgets{{reportinstance}}">
                                    {{# reportdashboardstatus }}
                                        <li role="presentation">
                                            <a class="dropdown-item menu-action" onclick = '(function(e){ require("block_reportdashboard/reportdashboard").addblocks_to_dashboard() })(event)'>{{#str}}addwidgets, block_reportdashboard{{/str}}</a>
                                        </li>
                                    {{/ reportdashboardstatus }}
                                    {{# reporttilestatus }}
                                        <li role="presentation">
                                            <a class="dropdown-item menu-action" onclick = '(function(e){ require("block_reportdashboard/reportdashboard").addtiles_to_dashboard() })(event)'>{{#str}}addtiles, block_reportdashboard{{/str}}</a>
                                        </li>
                                    {{/ reporttilestatus }}
                                </ul>
                            </span>
                        {{/ reportwidgetstatus }}
                        {{/ issiteadmin}}
                        <span class="dropdown nav-item pull-right">
                            <a class="dropdown-toggle htitle" id="switchdashboard{{reportinstance}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{#str}}switchdashboard, block_reportdashboard{{/str}}">

                                <img src={{config.wwwroot}}/blocks/learnerscript/pix/switchdashboard.png id='addwidgets' class='addblocks-to-dashboard'>
                            </a>
                            <ul  class="menu dropdown-menu  dropdown-menu-right dropdown-content" area-labelledby="switchdashboard{{reportinstance}}">
                                            {{#get_dashboardname}}

                            <li class="dashboardinstances">
                        {{#editingon}}
                        <span class="edit_delete_icons">
                            <span class="inplaceeditable inplaceeditable-text" data-inplaceeditable="1" data-component="block_reportdashboard" data-itemtype="dashboardname" data-prevoiusdashboardname='{{name}}' data-pagetypepattern='{{pagetypepattern}}' data-value='{{name}}' data-editlabel="New name for Dashboard" data-type="text" data-options="" data-roleshortname= '{{dashboardrole}}'>
                            {{#default}}
                             <!--    <img src={{config.wwwroot}}/pix/i/delete.png id="deleteimg" title="Delete" alt="delete" data-name ='{{name}}' onclick = "(function(e){ require('block_reportdashboard/reportdashboard').Deletedashboard({instance:'{{name}}',random:{{random}} }) }) (event)" /> -->
                                <a href="#" class="quickeditlink" title="Edit title">
                                <span class="quickediticon visibleifjs"><i class="icon fa fa-pencil fa-fw " aria-hidden="true" title="Edit title" aria-label="Edit title" onclick = '(function(e){ require("block_reportdashboard/reportdashboard").updatedashboard("{{name}}","{{dashboardrole}}") })(event)'></i></span>
                                {{/default}}
                            </a>
                            <a href='{{config.wwwroot}}/blocks/reportdashboard/dashboard.php?dashboardurl={{name}}&role={{currentrole}}'><span class="instancename">{{dashboardname}}<span class="accesshide "> Forum</span></span></a>
                            </span>
                        </span>
                        </span>
                                <div class="instance_popup {{name}}" style="display:none;" id="dashboard_delete_popup_{{random}}" >{{#str}}dashboarddelete, block_reportdashboard{{/str}}
                                    <div id="confirm_butns">
                                        <span class="knowmore cpointer"><a id="yesbutton" href ='{{config.wwwroot}}/blocks/reportdashboard/dashboard.php?delete={{name}}&role={{currentrole}}&dashboardurl={{dashboardurl}}&sesskey={{sesskey}}' class="btn btn-default yes_button" >{{#str}}yes{{/str}}</a></span>
                                        <span class="knowmore cpointer"><a id="nobutton" onclick=" (function(e){ require(['jquery','jqueryui'], function($) { $('#dashboard_delete_popup_{{random}}').dialog('close'); }) }) (event);" class="btn btn-default" >{{#str}}no{{/str}}</a></span>
                                    </div>
                                </div>
                        {{/editingon}}
                        {{^editingon}}
                          <a href='{{config.wwwroot}}/blocks/reportdashboard/dashboard.php?dashboardurl={{name}}&role={{currentrole}}'><span class="instancename">{{dashboardname}}<span class="accesshide "> Forum</span></span></a>
                        {{/editingon}}
                       </li>
                        {{/get_dashboardname}}
                            </ul>
                        </span>
                    </span>
                    <span class="right_buttons">
                    {{#issiteadmin}}
                        <span class ='span_adddashboard htitle'onclick = '(function(e){ require("block_reportdashboard/reportdashboard").addnewdashboard() })(event)' title="{{#str}}addnewdashboard, block_reportdashboard{{/str}}">

                            <img src={{config.wwwroot}}/blocks/learnerscript/pix/adddashboard.png id='adddashboard' class='addblocks-to-dashboard'>
                        </span>
                    {{/issiteadmin}}
                    {{#issiteadmin}}
                        <a class= 'htitle' href="{{config.wwwroot}}/blocks/learnerscript/reportsview.php" title="{{#str}}managereports, block_learnerscript{{/str}}">
                            <span class="tooltiptext tooltip-top">{{#str}}managereports, block_learnerscript{{/str}}</span>
                            <img src={{config.wwwroot}}/blocks/learnerscript/pix/managereport.png id='addreport' class="addblocks-to-dashboard">
                        </a>
                    {{/issiteadmin}}
                    {{> block_reportdashboard/switchrole }}
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="mt-2 input_unit d-flex flex-wrap">
    {{# enable_organization }}
        <div class="costcenterfilter mx-2 mb-2 ">
            <label class="d-inline-block mb-0"><b>{{#str}}organization, block_learnerscript{{/str}}</b></label>
            <select name="filter_organization" class = "dashboardcostcenters" id = "dashboardcostcenters" data-select2="1"  data-role="{{dashboardrole}}">
                {{# costcenterslist }}
                    <option value = "{{id}}" {{selected}}>{{fullname}}</option>
                {{/ costcenterslist }}
            </select>
        </div>
    {{/ enable_organization }}
    {{# enable_departments }}
        <div class="departmentfilter mx-2 mb-2">
            <label class="d-inline-block mb-0"><b>{{#str}}departments, block_learnerscript{{/str}}</b></label>
            <select name="filter_departments" class = "dashboarddepartment" id = "dashboarddepartment" data-select2="1"  data-role="{{dashboardrole}}">
                {{# departmentslist }}
                    <option value = "{{id}}" {{selected}}>{{fullname}}</option>
                {{/ departmentslist }}
            </select>
        </div>
    {{/ enable_departments }}
    {{# enable_subdepartments }}
        <div class="subdepartmentfilter mx-2 mb-2">
            <label class="d-inline-block mb-0"><b>{{#str}}subdepartments, block_learnerscript{{/str}}</b></label>
            <select name="filter_subdepartments" class = "dashboardsubdepartment" id = "dashboardsubdepartment" data-select2="1"  data-role="{{dashboardrole}}">
                {{# subdepartmentslist }}
                    <option value = "{{id}}" {{selected}}>{{fullname}}</option>
                {{/ subdepartmentslist }}
            </select>
        </div>
    {{/ enable_subdepartments }}
    {{# enable_level4department }}
        <div class="departmentl4filter mx-2 mb-2">
            <label class="d-inline-block mb-0"><b>{{#str}}level4department, block_learnerscript{{/str}}</b></label>
            <select name="filter_l4departments" class = "dashboardl4department" id = "dashboardl4department" data-select2="1"  data-role="{{dashboardrole}}">
                {{# level4departmentlist }}
                    <option value = "{{id}}" {{selected}}>{{fullname}}</option>
                {{/ level4departmentlist }}
            </select>
        </div>
    {{/ enable_level4department }}
    {{# enable_level5department }}
        <div class="departmentl5filter mx-2 mb-2">
            <label class="d-inline-block mb-0"><b>{{#str}}level5department, block_learnerscript{{/str}}</b></label>
            <select name="filter_l5departments" class = "dashboardl5department" id = "dashboardl5department" data-select2="1"  data-role="{{dashboardrole}}">
                {{# level5departmentlist }}
                    <option value = "{{id}}" {{selected}}>{{fullname}}</option>
                {{/ level5departmentlist }}
            </select>
        </div>
    {{/ enable_level5department }}
</div>
    {{# configuredinstances }}

    {{# coursedashboard }}
        {{# courselist.0 }}
            <span class="coursefilter1">
                <label class="d-inline-block">&nbsp;&nbsp;<b>{{#str}}course{{/str}} : </b></label>
                <select name="filter_course" class = "dashboardcourses" data-select2="1" data-action = "filtercourses" id = "coursedashboardfilter" data-role="{{dashboardrole}}">
                    {{# courselist }}
                        <option value = "{{id}}">{{fullname}}</option>
                    {{/ courselist }}
                </select>
            </span>
        {{/ courselist.0 }}
    {{/ coursedashboard }}
    {{# compliancedashboard }}
            <span class="compliancefilter">
                <label class="d-inline-block">&nbsp;&nbsp;<b>Compliance Program
                </b>
                </label>
               <select name="filter_compliance" class = "dashboardcompliance" data-select2="1" id = "compliancedashboardfilter" data-action = "departmentcompliances" multiple data-role="{{dashboardrole}}">
                    {{# compliancelist }}
                        <option value = "{{id}}" class="{{class}}" {{selected}}>{{name}}</option>
                    {{/ compliancelist }}
                </select>
            </span>
    {{/ compliancedashboard }}
    {{/ configuredinstances }}

    <div id='internalbsm' style="display: none;">
        <div id='innerwrapper'>
            <div class='sidenav'>
                <ul id="dashboards_menu" >
                </ul>
            </div>
        </div>
    </div>
</div>
{{^ configuredinstances }}
<div class="alert alert-info">{{# str }} nolsinstance, block_learnerscript {{/ str }}</div>
{{/ configuredinstances }}
<div class="newreport_dashboard" style="display:none;">
    <form action="{{config.wwwroot}}/blocks/reportdashboard/dashboard.php" id="createdashbaord_form">
        <div class="form-group row fitem has-danger" >
            <div class="col-md-3">
                <label class="col-form-label d-inline " for="id_lastname">
                    {{# str }} dashboardname, block_reportdashboard {{/ str }}
                </label>
            </div>
            <div class="col-md-9 form-inline felement" data-fieldtype="text" >
                <input type="hidden" name="role" value="{{dashboardrole}}" />
                <input type="text" class="form-control form-control-danger" name="dashboardurl" id="id_dashboard" placeholder="Maximum 16 Characters" value="" size="20" maxlength="16">
                <div class="form-control-feedback" id="id_error_dashboard" style="display: none;">{{# str}} dashboard_name, block_reportdashboard {{/ str}}</div>
                <div class="form-control-feedback" id="id_error_dashboard_nospaces" style="display: none;">{{# str}} dashboardnospaces, block_reportdashboard {{/ str}}</div>
            </div>
        </div>
        <div class="form-group row fitem dashboard_submit" >
            <div class="col-md-9 form-inline felement" data-fieldtype="submit" >
                <input type="submit" class="btn btn-primary" id="id_submitbutton" value="Save Changes">
             </div>
        </div>
    </form>
</div>
