#page-local-search-allcourses .CatFilterCnt #clearfilters,
#page-local-search-allcourses .CatFilterCnt #urlbtn {
    margin: 5px 5px 0 0;    
}
#page-local-search-allcourses .CatFilterCnt .filter_buttons {
    display: flex;
    justify-content: flex-end;
}
.norecords_msg{text-align:center}#page-local-search-allcourses .catcr_enrol .singlebutton button{padding:3px 7px}#page-local-search-allcourses .norecords_msg{margin-top:20px;text-align:center;box-shadow:inset 0 0 11px 3px #e2dbdb;padding:20px;clear:both}#page-my-index table.lp_display td #lp_heading{color:#266c92!important;font-size:20px!important;font-weight:400}.course-body{background-color:#fff;overflow:hidden;min-height:346px;margin-bottom:29px;-webkit-box-shadow:0 0 16px 2px rgba(0,0,0,.14);box-shadow:0 0 16px 2px rgba(0,0,0,.14);-webkit-transition:.2s ease-in;-moz-transition:.2s ease-in;-o-transition:.2s ease-in;transition:.2s ease-in;position:relative;border:1px solid #ddd}.course-body:hover{-webkit-transform:translate(10px,-10px);-moz-transform:translate(10px,-10px);-ms-transform:translate(10px,-10px);-o-transform:translate(10px,-10px);transform:translate(10px,-10px)}.course-img{text-align:center;color:#fff;width:100%;height:auto!important}.course-img>img{width:100%;height:auto}.progress{border:0;background-image:none;filter:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;height:16px!important;overflow:hidden;background-color:#f5f5f5!important;border-radius:0!important;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1);margin-bottom:0!important}.progress-bar-success{background-color:#5cb85c}.progress-bar{font-size:9px!important;line-height:16px!important}#demo.jplist .coursepage-name{text-align:left;border-top:0;height:auto;font-size:15px;font-weight:600;display:inline-block;width:100%;background-color:#fff;padding:1rem 1.5rem}#demo.jplist .coursepage-name>a{color:#555658;width:100%;font-weight:200;font-weight:700;font-size:15px;cursor:pointer}#demo.jplist .course-desc{color:#555658;font-weight:100;word-break:break-all;min-height:66px;max-height:66px;overflow:hidden;font-size:14px;margin-top:10px}#demo.jplist .course-author{background-color:#0496a6;font-weight:400;clear:both;width:100%;float:left}@-webkit-keyframes gradientmove{0%{background-image:radial-gradient(at center center,#c2d6bc,#7d3659)}100%{background-image:linear-gradient(to right top,#c2d6bc,#7d3659)}}@keyframes gradientmove{0%{background-image:radial-gradient(at center center,#c2d6bc,#7d3659)}100%{background-image:linear-gradient(to right top,#c2d6bc,#7d3659)}}#demo.jplist .course-author .author-name{padding:0}.author-name>i{width:15px!important}.rowtab{padding:10px 0}.course-category{padding:10px;cursor:pointer;color:#55595c}.course-category>i{font-size:18px}body#page-local-search-allcourses .tab1.active .course-category{border-bottom:3px solid #3f51b5}.tab1 .course-category>i{color:#3f51b5}body#page-local-search-allcourses .tab2.active .course-category{border-bottom:3px solid #0071bc}.tab2 .course-category i{color:#3f51b5}body#page-local-search-allcourses .tab3.active .course-category{border-bottom:3px solid #1177d1}.tab3 .course-category>i{color:#1177d1}body#page-local-search-allcourses .tab4.active .course-category{border-bottom:3px solid #f7941d}.tab4 .course-category>i{color:#f7941d}body#page-local-search-allcourses .tab5.active .course-category{border-bottom:3px solid #ec1b23}.tab5 .course-category>i{color:#ec1b23}body#page-local-search-allcourses .tab6.active .course-category{border-bottom:3px solid #0b9444}.tab6 .course-category>i{color:#0b9444}.course-category>span{font-weight:500!important}.course_maindetails>i{float:left;width:5%;margin-right:6px;margin-top:2px;text-align:center}span.course_details.ng-binding{width:90%;float:left;overflow:hidden}.list-item.col-lg-4.col-xs-12.ng-scope{margin-bottom:15px}#avaliable_courses{margin-bottom:1.4rem}#avaliable_courses input{text-indent:15px}#avaliable_courses input#search,#avaliable_courses select.form-control{border:1px solid rgba(0,0,0,.3);}#avaliable_courses .fa-search{position:absolute;top:9px;left:9px;font-size:14px;color:#555}::-webkit-input-placeholder{color:#555}:-ms-input-placeholder{color:#555}::-moz-placeholder{color:#555;opacity:1}:-moz-placeholder{color:#555;opacity:1}#avaliable_courses #categoryid_select_container{width:23%}#avaliable_courses #categoryid_select_container select#categoryid{float:right;height:34px;width:100%;margin-top:10px}body#page-local-search-allcourses .course-body .course-img>img{width:100%;height:175px}body#page-local-search-allcourses .loader_container{position:absolute;z-index:5;left:0;background-color:rgba(255,255,255,.8);width:100%;height:368px;top:0;padding-top:100px;text-align:center}body#page-local-search-allcourses a.coursesubtitle button{margin-right:0}body#page-local-search-allcourses span.course_details_new{color:#6bbedc}body#page-local-search-allcourses span.course_details.ng-binding i.fa{min-width:20px}body#page-local-search-allcourses .courseinfo_btn{padding-left:2px;padding-right:2px}#page-local-search-allcourses .pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}#page-local-search-allcourses .pagination>li{display:inline-block;margin: 0 0.2rem;}#page-local-search-allcourses .pagination>li>a,#page-local-search-allcourses .pagination>li>span{position:relative;float:left;padding:6px 12px;line-height:1.42857143;text-decoration:none;color:#428bca;background-color:#fff;border:1px solid #ddd;margin-left:-1px}#page-local-search-allcourses .pagination>li:first-child>a,#page-local-search-allcourses .pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}#page-local-search-allcourses .pagination>li:last-child>a,#page-local-search-allcourses .pagination>li:last-child>span{border-bottom-right-radius:4px;border-top-right-radius:4px}#page-local-search-allcourses .pagination>li>a:focus,#page-local-search-allcourses .pagination>li>a:hover,#page-local-search-allcourses .pagination>li>span:focus,#page-local-search-allcourses .pagination>li>span:hover{color:#2a6496;background-color:#eee;border-color:#ddd}#page-local-search-allcourses .pagination>.active>a,#page-local-search-allcourses .pagination>.active>a:focus,#page-local-search-allcourses .pagination>.active>a:hover,#page-local-search-allcourses .pagination>.active>span,#page-local-search-allcourses .pagination>.active>span:focus,#page-local-search-allcourses .pagination>.active>span:hover{z-index:2;color:#fff;background-color:#428bca;border-color:#428bca;cursor:default}#page-local-search-allcourses .pagination>.disabled>a,#page-local-search-allcourses .pagination>.disabled>a:focus,#page-local-search-allcourses .pagination>.disabled>a:hover,#page-local-search-allcourses .pagination>.disabled>span,#page-local-search-allcourses .pagination>.disabled>span:focus,#page-local-search-allcourses .pagination>.disabled>span:hover{color:#999;background-color:#fff;border-color:#ddd;cursor:not-allowed}#page-local-search-allcourses .pagination-lg>li>a,#page-local-search-allcourses .pagination-lg>li>span{padding:10px 16px;font-size:18px}#page-local-search-allcourses .pagination-lg>li:first-child>a,#page-local-search-allcourses .pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}#page-local-search-allcourses .pagination-lg>li:last-child>a,#page-local-search-allcourses .pagination-lg>li:last-child>span{border-bottom-right-radius:6px;border-top-right-radius:6px}#page-local-search-allcourses .pagination-sm>li>a,#page-local-search-allcourses .pagination-sm>li>span{padding:5px 10px;font-size:12px}#page-local-search-allcourses .pagination-sm>li:first-child>a,#page-local-search-allcourses .pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}#page-local-search-allcourses .pagination-sm>li:last-child>a,#page-local-search-allcourses .pagination-sm>li:last-child>span{border-bottom-right-radius:3px;border-top-right-radius:3px}#page-local-search-allcourses .classroom_icon_wrap{font-size:24px}#page-local-search-allcourses i.fa.fa-user.cat_classroom_icon{position:absolute;top:23px;font-size:17px;left:27.2%}body#page-local-search-allcourses .cattbas_container{background-color:#dcecf9;border-radius:8px 8px 0 0;display:table}body#page-local-search-allcourses .cattbas_container a{display:table-cell}body#page-local-search-allcourses section#region-main .card.card-block{background-color:transparent;padding:0;border:none}body#page-local-search-allcourses .course_maindetails .cat_btn.courseenrolbtn{background-color:#f7941d;border:1px solid #f7941d;border-radius:4px;color:#fff}#page-local-search-allcourses span.course_details_new span{width:50%;position:relative;text-align:center}body#page-local-search-allcourses .modal-body .cat_btn.viewmore_btn{float:right}body#page-local-search-allcourses .course_view_list_container .catacourse_container{margin:auto;float:none}body#page-local-search-allcourses .pagination_container{margin:auto;float:none}body#page-local-search-allcourses .course_view_list_container .catacourse_container .courseimg_bg{width:100%;background-size:cover;background-repeat:no-repeat;height:175px;background-position:center center}#demo.jplist .coursepage-name .author-name .course_maindetails .alert{text-align:center;margin:0;padding:0}#demo.jplist .coursepage-name .author-name .course_maindetails{width:100%;text-align:right}body#page-local-search-allcourses .courseimg_bg{position:relative;height:140px;background-size:cover;background-repeat:no-repeat;background-position:center center;background-color:#fff}#page-local-search-allcourses .as_button_in_anchor{display:block;width:100%;float:left}#page-local-search-allcourses .cat_btn.appear_as_button{font-size:inherit;line-height:26px;text-decoration:none;display:block}body#page-local-search-allcourses .cat_btn.appear_as_button:focus,body#page-local-search-allcourses .cat_btn.appear_as_button:hover{text-decoration:none}.cat-level-course{text-decoration:underline;font-weight:600;margin-bottom:10px;cursor:pointer;color:#262626;font-size:18px}#page-local-search-allcourses .course-body:hover .courseimg_bg:after{content:"";position:absolute;left:0;bottom:0;right:0;top:0;-webkit-animation-name:coursehovereffect;-webkit-animation-duration:1s;animation-name:coursehovereffect;animation-duration:1s;background-color:#000;opacity:.2;z-index:0}@-webkit-keyframes coursehovereffect{from{left:0;width:0;top:100%;bottom:0;z-index:2}to{left:0;top:0;width:100%;bottom:0;z-index:0}}@keyframes coursehovereffect{from{left:0;width:0;top:100%;bottom:0;z-index:2}to{left:0;top:0;width:100%;bottom:0;z-index:0}}body#page-local-search-allcourses .spotlight-group{list-style:none;float:left;background:#2e3942;padding:10px 5px;display:table;position:relative;bottom:-16px}body#page-local-search-allcourses .spotlight-group li{display:inline-block;width:19%;text-align:center;display:table-cell}body#page-local-search-allcourses .spotlight-group .spotlight{display:inline-block;margin:auto;vertical-align:top}body#page-local-search-allcourses .spotlight-group .spotlight span{display:block;font-size:14px}body#page-local-search-allcourses .spotlight .icon-student{font-size:18px}body#page-local-search-allcourses .modal-body{padding-left:15px;padding-right:15;padding-bottom:15px}body#page-local-search-allcourses .modal-content{border:none}body#page-local-search-allcourses .modal{background:0 0}body#page-local-search-allcourses #demo .list{width:100%;float:left;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;border-radius:0 0 8px 8px;background:#fff}body#page-local-search-allcourses .modal-lg{max-width:1000px}body#page-local-search-allcourses .fakebtn{padding:3px 6px}body#page-local-search-allcourses .cattbas_container .catalog_crimg{height:22px;width:25px}body#page-local-search-allcourses .info_container .alert.alert-danger{margin:4px 5px}body#page-local-search-allcourses .spotlight-group{min-height:50px}body#page-local-search-allcourses .radiostars{pointer-events:none}.cls-tags{font-weight:400;font-size:14px}#page-local-search-allcourses span.course_details_new span:empty{display:none}@media (max-width:980px){body#page-local-search-allcourses section#region-main{float:left;width:100%}}@media (max-width:520px){body#page-local-search-allcourses .course_view_list_container{padding-left:0;padding-right:0}body#page-local-search-allcourses .list-item.course_view_list{padding-left:0;padding-right:0}}@media(max-width:991px) and (min-width:768px){body#page-blocks-manage-courseinfo div#page-content.row-fluid>[class*=span]{width:96%;margin:0;padding:0 2%}}@media(max-width:767px){body#page-blocks-manage-courseinfo div#page-content.row-fluid{width:94%;padding:0 3%}}@media (min-width:1200px){body#page-local-search-allcourses span.course_details_new{display:-webkit-flex;display:flex;justify-content:center;align-items:center;flex-wrap:nowrap;white-space:nowrap}.course-author .row{margin-right:0;margin-left:0}#page-local-search-allcourses span.course_details_new span:first-child:after{content:"";font-size:47px;position:absolute;transform:rotateZ(30deg);color:#fff;width:2px;background-color:#fff;top:-3px;bottom:-3px;right:0}#page-local-search-allcourses span.course_details_new span:last-child:after{display:none}}@media (min-width:559px) and (max-width:767px){body#page-local-search-allcourses .modal-dialog.modal-lg{height:auto;top:7%}body#page-local-search-allcourses .spotlight-group{margin-bottom:0}}@media (min-width:320px) and (max-width:520px){body#page-local-search-allcourses .spotlight-group li{display:table-cell;width:initial!important}}@media (min-width:320px) and (max-width:558px){body#page-local-search-allcourses .modal-dialog.modal-lg{height:auto;top:10%}body#page-local-search-allcourses .spotlight-group{margin-bottom:0}}@media (min-width:980px) and (max-width:1279px){#page-local-search-allcourses .course_view_list_container .col-lg-3.col-md-3{width:33.33%}}@media (min-width:1005px) and (max-width:980px){#demo.jplist .coursepage-name .coursesubtitle h5{font-size:16px}body#page-local-search-allcourses .course-body{min-height:382px}}@media (min-width:768px) and (max-width:979px){#page-local-search-allcourses .course_view_list_container .col-lg-3.col-md-3{width:50%}}@media (min-width:768px) and (max-width:813px){body#page-local-search-allcourses .cattbas_container .course-category>.fa,body#page-local-search-allcourses .cattbas_container .tab2 .course-category>span{display:block;padding-right:0}}@media (max-width:767px){body#page-local-search-allcourses .cattbas_container{width:100%;float:left;display:initial}body#page-local-search-allcourses .cattbas_container a{display:initial}}@media (min-width:544px) and (max-width:767px){body#page-local-search-allcourses .cattbas_container a{width:50%;float:left;min-height:45px}}@media (min-width:320px) and (max-width:543){body#page-local-search-allcourses .cattbas_container a{width:100%;float:left}}@media (max-width:320px){#demo.jplist .course-desc{max-height:initial!important}}@media (min-width:544px) and (max-width:680px){#page-local-search-allcourses .course_view_list_container .col-sm-6{width:100%}}
#page-local-search-allcourses .section-title{
	font-size: 14px;
    margin: 10px 0;
}
#page-local-search-allcourses .checkbox-item{
    display: flex;
    align-items: center;
}
#page-local-search-allcourses .checkbox-item label{
	margin-left: 7px;
    font-size: 13px;
}
#page-local-search-allcourses .filter-section{
	border-bottom: 1px solid #dcdacb;
}
.course-author a {
	color: #fff;
}
#page-local-search-allcourses .filter-section input[type="checkbox"] {
    position: relative;
    z-index: 0;
    top: 3px;
}
#page-local-search-allcourses .filter-section input[type="checkbox"]:before {
	width: 13px;
    height: 13px;
    background-color: #fff;
    border: 1px solid #dcdacb;
    position: absolute;
    content: "";
}
#page-local-search-allcourses .filter-section input[type="checkbox"]:checked:before {
    background: #265875;
    z-index: -1;
}
#page-local-search-allcourses .filter-section input[type="checkbox"]:checked:after {
    content: "\f00c ";
    font-family: FontAwesome;
    color: white;
    font-size: 13px;
    transition: all 0.2s ease-in-out;
    top: -3px;
    position: absolute;
}
#page-local-search-allcourses .readymainContainer .readyCContainer {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px !important;
}
#page-local-search-allcourses .coursedesc {
    min-height: 64px;
}
#page-local-search-allcourses .catbtm_colon .icon-clock-o, 
#page-local-search-allcourses .icon-window-restore,
#page-local-search-allcourses .catbtm_colon .icon-course-o {
    width: 24px;
    height: 24px;
}
#page-local-search-allcourses .catbtm_colon .icon-question {
    width: 20px;
    height: 20px;
}
#page-local-search-allcourses .course_container.readycourse_container {
    padding-bottom: 32px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#page-local-search-allcourses .course_container.readycourse_container div.ng-scope {
    flex: 0 0 100%;
    max-width: 100%;
}
#page-local-search-allcourses .course-author {
    position: absolute;
    bottom: 0;
}
#page-local-search-allcourses .catbtm_colon, #page-local-search-allcourses .catbtm_info {
    font-size: 12px;
}
#page-local-search-allcourses .readyCCnt .course_name {
    padding-right: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
#page-local-search-allcourses .readyCCnt .course_name a:after {display: none;}
.CstripCnt.CstripCntrt15 {right: 15px;}
.clearboth{clear: both;}
.Lpath_btn_container .cat_btn.viewmore_btn {
    background-color: #fff !important;
    color: #343633 !important;
    border-color: #343633 !important;
    border-radius: 0rem !important;
    border: 2px solid !important;
}
.Lpath_btn_container .cat_btn.viewmore_btn:hover,
.Lpath_btn_container .cat_btn.viewmore_btn:active,
.Lpath_btn_container .cat_btn.viewmore_btn:focus {
    background-color: #343633 !important;
    color: #fff !important;
    outline: none !important;
    box-shadow: none !important;
    border-color: #343633 !important;
}
/*.maindiv{
    height: 250px;
    overflow-y: scroll;
}*/
.tagcoursecount{
    margin-left: 5px;
}
#page-local-search-allcourses .filter-section a[data-toggle="collapse"] {
    display: inline-block;
    padding-left: 35px;
    position: relative;
}
#page-local-search-allcourses .filter-section a[data-toggle="collapse"]:after {
    content: "\f107";
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 20px;
    left: 14px;
    top: 5px;
}
#page-local-search-allcourses .filter-section .collapse .viewmore,
#page-local-search-allcourses .filter-section .collapse .viewless {
    float: left;
    text-align: right;
    padding-right: .5rem;
    width: 100%;
}
#page-local-search-allcourses .filter-section a[aria-expanded="true"]:after {
    content: "\f106";
    font-family: 'FontAwesome';
}
#page-local-search-allcourses .filter-section .collapse.show {
    display: inline-block;
    width: 100%;
}
.CatFilterCnt {
    background-color: #fff;
}
.checkbox_vm_item label {
    margin-left: 7px;
    font-size: 13px;
}
.checkbox_vm_item {
    display: flex;
    clear: both;
}
#page-local-search-allcourses .readymainContainer .readyCContainer .readyCCnt .course_name a {
    word-break: break-all;
}
.Cstripeol{
    display: inline-block;
    background: #fff;
    padding: 8px 10px;
    font-size: 11px;
    letter-spacing: 0;
    position: absolute;
    top: 50px;
    color: #666;
    text-transform: uppercase;
}
.Lpath_btn_container .cat_btn.viewmore_btn.btn {
     box-shadow: -2px 0px 12px 0px #c3babb; 
    border: none !important;
}
@media (max-width: 375px){
    body#page-local-search-allcourses .cat_btmContainer .cat_btm {
        flex-direction: column;
    }
}
.w-80 {
    width: 80%;
}
.w-20 {
    width: 20%;
}
/* By Kamesh for allcourses page */
#page-local-search-allcourses #allcourses_section{
    background-color: #f7fafb;
}
#page-local-search-allcourses #allcourses_section .collapseiconspan{
    display: flex;
    justify-content: end;
    flex: 1;
}
#page-local-search-allcourses #allcourses_section [data-toggle="collapse"] .collapseicon:before {   
    content: "\f078";
}
#page-local-search-allcourses #allcourses_section [data-toggle="collapse"].collapsed .collapseicon:before {
    content: "\f054";
}
#page-local-search-allcourses #allcourses_section .icon-header{
    padding: 0px 15px;
    font-weight: 500;
    display: flex;
}
#page-local-search-allcourses #allcourses_section .icon-header .icon_img img{
    width: 20px;
}
#page-local-search-allcourses #allcourses_section .icon-header .icon_img{
    margin-right:10px;
    display: flex;
}

#page-local-search-allcourses #allcourses_section .fillter_ul{
    list-style: none;
    
}
#page-local-search-allcourses #allcourses_section .fillter_ul li{
    padding-top:8px
}
#page-local-search-allcourses #allcourses_section .fillter_ul li label{
    margin-bottom: 0rem;
}
#page-local-search-allcourses #allcourses_section .fillter_ul li label input{
    margin-right: 10px;
}
#page-local-search-allcourses #allcourses_section .filtered-element-div {
        border: 1px solid #eee;
        background-color: #fff;
        padding: 4px 12px;
}

#page-local-search-allcourses #allcourses_section .filtered-element-div .closeicon img{
    width: 14px;
    margin-left: 11px;
}
#page-local-search-allcourses #allcourses_section #sortbybtn_container .btn{
    background-color: #fff;
    color: #000;
    border-color: #e1e1e1;
}
#page-local-search-allcourses #allcourses_section #sortbybtn_container .btn img{
    width: 18px;
    margin-right: 5px;
    margin-top: -2px;
}
#page-local-search-allcourses #allcourses_section #searchinputformgroup{
    margin: 0;
    margin-right: 6px;
    border-radius: 0px !important;
    position: relative;
    display: flex !important;
    align-items: center;
}
#page-local-search-allcourses #allcourses_section #searchinputformgroup .form-control {
    border-radius: 0px;
    box-shadow: none;
    background-color: #eaeff0;
    padding-left: 20px;
}
#page-local-search-allcourses #allcourses_section #searchinputformgroup #searchicon{
    position: absolute;
    left: 5px;
}
#page-local-search-allcourses #allcourses_section #searchinputformgroup #searchicon img{
    width: 20px;
    margin-left:2px
}

#page-local-search-allcourses #allcourses_section .coursescontainer .headingbanner{
    background-color: #f26c21;
    color: #fff;
    padding: 15px 20px;
    font-size: 16px;
}
#page-local-search-allcourses #allcourses_section .CstripCnt{
    font-size: 12px;
}
#page-local-search-allcourses #region-main{
    padding: 0;
    background-color: transparent;
}
#page-local-search-allcourses #viewmoreless_role  {
    float: right;
    font-size: 13px;
}
/* course card styles */
.coursecard{
  margin-bottom:   20px !important;
}
.coursecard .rating_stars_span .fa{
    color:#ddaa21;
}
.coursecard .course-title{
    font-size: 18px;
    font-weight: 600;
    color: #000 !important;
    margin-bottom: 10px;
}
.coursecard .card-body{
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}
.coursecard .endrolled_details_div span:nth-child(2){
    font-size: 20px;
}
.coursecard .endrolled_details_div,.coursecard .coursecompletionprogress {
    flex:1;
}
.coursecard .coursecompletionprogress {
    padding-right: 35px;
}
.coursecard .coursecompletionprogress span {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}
.coursecard .coursecompletionprogress .progress {
    height: 5px!important;
}
.coursecard .coursecompletionprogress .progress .progress-bar {
    background-color: #f26c21;
}
.coursecard .action_div {
    flex:-1;
}
.coursecard .btn-courseaction a {
    /* background-color: #0099cc !important;
    border-color: #0099cc !important; */
    text-decoration: none;
    color: #fff;
}

/* Header style by kamesh */
#page-local-search-allcourses #page-header{
    background-color: #fff;
    display: none;
}
#page-local-search-allcourses #page-header .col-12{
    padding-bottom: 0 !important;
}
#page-local-search-allcourses #page-header .card{
    margin-bottom: 0 !important;
    border: 0;
}

/*css by kiran*/
body#page-local-search-allcourses .card-img-top.courseimg_container,
body#page-local-search-allcourses .coursecontent .C_titile,
body#page-local-search-allcourses .coursecard .rating_content {
    pointer-events: none;
}
body#page-local-search-allcourses .loader_container img {
    width: 80px;
}
#page-local-search-allcourses .action_div .btn-courseaction {
    box-shadow: 0px 2px 3px grey;
}
#page-local-search-allcourses .coursecard .btn-courseaction a {
    text-shadow: 0px 0px 2px lightgrey;
}
#page-local-search-allcourses .catcourses_list .coursecard {
    overflow: auto;
    height: 96%;
}
#page-local-search-allcourses .endrolled_details_div{
    padding-right: 1rem;
}
#page-local-search-allcourses .courseimg_strip {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    padding: 2px 10px;
    top: 0.5rem;
    font-size: 12px;
}

#page-local-search-coursedetails .coursedet_row {
    padding: 1rem;
    min-height: 130px;
    /*border: 1px solid #000;*/
    margin:0px;
}
#page-local-search-coursedetails .CourseDetils_container {
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    border-radius: 4px;
}
#page-local-search-coursedetails .coursedet_left {
    margin: 1rem 0px 0px;
}
#page-local-search-coursedetails .course_description, .course_description p {
    font-size: 15px;
    line-height: 24px;
}
#page-local-search-coursedetails .course_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 27px;
}
#page-local-search-coursedetails .CourseDetils_content {
    color: #505763;
    padding: 5px 5px;
}
#page-local-search-coursedetails .Course_content{
    padding: 15px 20px;
}
#page-local-search-coursedetails .Course_content .crs_content{
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
}
#page-local-search-coursedetails .view_links {
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    padding: .5rem 1rem;
    color: #fff;
}
#page-local-search-coursedetails .view_links:hover {
    background-color: #000;
    border-color: #000;
    color:#fff !important;
    text-decoration: none;
}
 
#page-local-search-coursedetails .Course_content .crs_content:hover {
    background-color: #000;
    border-color: #000;
    color:#fff;
}
#page-local-search-coursedetails .incentives__text, 
#page-local-search-coursedetails .coursebrieflist .iteminfo{
    color: #505763;
    font-size: 13px;
}
#page-local-search-coursedetails #coursedetails .ui-widget-header {
    background-color: #006699;
    background-image: none;
    border: 0px;
}
 
#page-local-search-coursedetails .ui-tabs .ui-tabs-nav li{
    background-color: #25467a;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 413px) {
   #coursedetails {
    margin-top: 73vh;
}
}
@media only screen and (min-device-width : 414px) and (max-device-width : 767px) {
   #coursedetails {
    margin-top: 48vh;
}
}
@media only screen and (max-width: 768px) {
  #page-local-search-coursedetails .Course_content .crs_content {
    font-size: 10px;
    padding: .5rem 0rem;
}
#page-local-search-coursedetails .view_links {
    font-size: 10px;
    padding: .5rem 0rem;
}
#page-local-search-coursedetails .incentives__text, 
#page-local-search-coursedetails .coursebrieflist .iteminfo{
    font-size: 10px;
}
#page-local-search-coursedetails .Course_content {
    padding: 15px 4px;
}
}
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
#page-local-search-coursedetails .Course_content .crs_content {
    font-size: 14px;
}
#page-local-search-coursedetails .view_links {
    font-size: 14px;
    padding: .5rem 0rem;
}
#page-local-search-coursedetails .Course_content {
    padding: 15px 10px;
}
}

 
/*custom changes for search plugin coursecard section*/

#page-local-search-allcourses .catcourses_list .coursecard {
    overflow: hidden ;
    height: 96%;
}
body#page-local-search-allcourses .courseimg_bg {
    height: 100%;
    border-radius: 11px !important;
    box-shadow: 0 0 3px 0 #00000078;
}
#page-local-search-allcourses .courseimg_strip{
    display: none;
}
body#page-local-search-allcourses .card-img-top.courseimg_container{
    padding: 10px 15px;
    width: 100%;
    
}
#page-local-search-allcourses #allcourses_section .catcourses_list{
    border-bottom: 1px solid #dcdcdc;
    padding-left: 0;
}
#page-local-search-allcourses #allcourses_section .catcourses_list .card{
    border:none!important;
}
#page-local-search-allcourses #avaliable_courses{
    margin-bottom:0!important;
}
#page-local-search-allcourses #allcourses_section .CstripCnt {
    font-size: 10px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
    box-shadow: 1px 2px #f3e4e4;
    background-color: #ffb536;
    padding: 4px 7px;
    border-radius: 6px;
}
#page-local-search-allcourses .readyCCnt .course_name{
    text-transform: capitalize!important;
}
#page-local-search-allcourses .content_section {
    background-color: #fff;
}
#page-local-search-allcourses div#region-main-box {
    background-color: #fff !important;
}
#allcourses_section .alert-info{
    border: none;
    padding: 0;
}
#page-local-search-allcourses .coursecard .course_name_container{
    display: flex;
    align-items: center;
    margin: 7px 0px;
}
#page-local-search-allcourses .coursecard .course_name_container>div:first-child{
    flex-grow: 1;
}
#page-local-search-allcourses .coursecard .course_name_container .course-lable{
    padding: 2px 15px;
    background-color: #FDB71A;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    box-shadow: 0 0 2px 1px #00000021;
}
#page-local-search-allcourses .coursecard .action_div {
    margin: 8px 0;
}
#page-local-search-allcourses .coursecard .action_div>div{
    display:inline-flex;
}
#page-local-search-allcourses .cat_btn, 
#page-local-search-allcourses .viewmore_btn {
    
    width: 100%;
    padding: 8px 10px;
    margin: 0 5px;
    font-weight: 700;
    text-shadow: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#page-local-search-allcourses #allcourses_section #avaliable_courses input#search {
    border: 1px solid #000;
    margin-left: 2px;
    font-size: 17px;
    height: 50px !important;
    background-color: rgba(255,255,255,1);
}
#page-local-search-allcourses #allcourses_section #searchinputformgroup .form-control {
    border-radius: 0;
    box-shadow: none;
    background-color: #eaeff0;
    padding-left: 20px;
}
#page-local-search-allcourses div#searchinputformgroup {
    width: 100%;
}
#page-local-search-allcourses .coursecard .course_name_container>div:first-child {
    flex-grow: 1;
}
#page-local-search-allcourses  .req_button button{
    padding:11px 15px !important;
}
#page-local-search-allcourses .cat_btn:hover, 
#page-local-search-allcourses .viewmore_btn:hover{
    text-decoration: none!important;
}
#page-local-search-allcourses #avaliable_courses #filterviewdiv {
    border-bottom: none !important;
}
#page-local-search-allcourses #allcourses_section .row.ng-scope{
    background-color: #fff;
    margin:0 !important;
    
}
#page-local-search-allcourses #allcourses_section .d-md-block {
    border: 1px solid #dbdbdb;
    padding-left: 16px!important;
    margin-top: 25px;
}
#page-local-search-allcourses #allcourses_section input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    accent-color: #000;
}
#page-local-search-allcourses #allcourses_section .icon-header {
    padding: 0 !important;
    font-weight: 600 !important;
    align-items: center;
}

#page-local-search-allcourses #allcourses_section .icon-header .icon_img {
    margin-right: 10px;
    display: flex;
    padding: 9px 9px;
    border: 1px solid #000;
}
#page-local-search-allcourses #allcourses_section .collapsed_settings_div .collapse_content {
    padding-left: 8px !important;
    margin:0 !important;
}
#page-local-search-allcourses #allcourses_section .collapsed_settings_div  .collapseicon {
    display: none;
}
#page-local-search-allcourses .collapsed_settings_div .checkbox-item label {
    margin-left: 12px !important;
    color: #726e6e!important;
    text-transform: capitalize!important;
}
#page-local-search-allcourses #allcourses_section .collapsed_settings_div .icon-header {
    padding-left: 13px !important;
    font-weight: 500!important;
    margin-left: -13px;
    color: #000;
}
#page-local-search-allcourses #allcourses_section .collapsed_settings_div .icon_img {
    border: 0 !important;
    display: none;
}
#page-local-search-allcourses #allcourses_section #searchinputformgroup #searchicon {
    left: 12px;
}
@media (max-width: 767px){
#page-local-search-allcourses .card .card-body {
    padding: 1rem !important;
}
}

/*search page button allignments*/
#page-local-search-allcourses .coursecontent .viewmore_btn,
#page-local-search-allcourses .coursecontent .cat_btn{
    padding: 4px 0 !important;
    margin: 0 10px 10px 0 !important;
    min-width: 120px;
    font-weight: 500 !important;
    background-color: var(--buttonbgcolor);
    color: var(--btntextcolor);
    border-color: var(--btnbordercolor);
    border-radius: 0.25rem;
    border-style: solid !important;
}

#page-local-search-allcourses .coursecontent .coursedesc .desc{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#page-local-search-allcourses .coursedesc .course-desc{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
}
#page-local-search-allcourses .req_button button{
    padding:4px 0 !important;
    margin-right:5px !important;
    font-weight: 500 !important;
}
#page-local-search-allcourses #allcourses_section .icon-header{
    padding: 5px !important;
}
#page-local-search-allcourses #allcourses_section .ng-scope hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: -4px;
    width: 95%;
} 
#page-local-search-allcourses .cat_btn.appear_as_button{
    font-weight: 500 !important;
    line-height: 20px;
    text-align: center;
}
#page-local-search-allcourses .fakebtn{
    padding:0 !important;
}
#page-local-search-allcourses #region-main .card{
    margin-bottom: 0 !important;
}
/*search page course card changes*/
#page-local-search-allcourses .courseimg_bg{
    min-height: 214px;
}
#page-local-search-allcourses .card-img-top.courseimg_container{
    max-width: 180px ;
    height: 100% ;
}
@media(max-width: 600px){
#page-local-search-allcourses .coursecard_container{
    flex-direction: column;
}
#page-local-search-allcourses .card-img-top.courseimg_container{
    max-width: 100%;
    height: 200px;
}
}
@media(max-width:424px){
   #page-local-search-allcourses .coursecontent .action_div{
    flex-direction: column;
   } 
}


#page-local-search-allcourses .coursecard .course_name_container a:hover {
    text-decoration: none;
}
#page-local-search-allcourses .coursecard .action_div>div{
    margin-top: 10px;
    display: flex;
    
}
#page-local-search-allcourses .coursecontent .viewmore_btn,
#page-local-search-allcourses .coursecontent .cat_btn{
    padding: 4px 12px!important;
    flex-shrink: 0;
    white-space: nowrap;
    width: calc( 100% - 10px );
}

/*course details page css*/
#page-local-search-coursedetails .coursedet_left .img_summary{
    width: 100%;
    padding: 30px 42px;
    height: 180px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
}
#page-local-search-coursedetails .coursedet_left .img_summary::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to left,#3f79b3,#043a79);
    opacity: 0.8;
}
#page-local-search-coursedetails .CourseDetails_content{
    color:#fff;
}
#page-local-search-coursedetails .CourseDetails_content .course_title{
    font-size: 21px;
}
#page-local-search-coursedetails .coursebrieflist .crs_detail_head {
    padding: 1rem;
    background-color: #eaf1fc;
}
#page-local-search-coursedetails .coursebrieflist .crs_detail_head p{
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
}
#page-local-search-coursedetails .coursedet_right .CourseDetails_container{
    border-radius: 0 !important;
    box-shadow: -2px 3px 9px 1px #ddd;
}
#page-local-search-coursedetails .coursebrieflist .crse_details{
    list-style: none;
    padding: 2px 17px;
    margin-bottom: 0;
}
#page-local-search-coursedetails .crse_details li{
    border-bottom: 1px solid #f6f6f6;
    padding-top: 6px;
    padding-bottom: 6px;
}
#page-local-search-coursedetails .crse_details .career_icon {
    background-image: url('[[pix:local_search|track]]');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 12px;
}
#page-local-search-coursedetails .crse_details .level_icon {
    background-image: url('[[pix:local_search|level]]');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 12px;
}
#page-local-search-coursedetails .crse_details .grade_icon {
    background-image: url('[[pix:local_search|grade]]');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 12px;
}
#page-local-search-coursedetails .crse_details .cp_icon {
    background-image: url('[[pix:local_search|courseprovider]]');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 12px;
}
#page-local-search-coursedetails .crse_details .category_icon {
    background-image: url('[[pix:local_search|category]]');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 12px;
}
#page-local-search-coursedetails .user_completion .user_icon {
    background-image: url('[[pix:local_search|completion]]');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:20px;
    height: 20px;
    display: inline-block;
    margin-right: 12px;
}
#page-local-search-coursedetails .user_enrollment .enroll_icon {
    background-image: url('[[pix:local_search|enrollments]]');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 12px;
}
#page-local-search-coursedetails .skill_level_details .skill_icon {
    background-image: url('[[pix:local_search|levels]]');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 12px;
}


#page-local-search-coursedetails .CourseDetails_content span.details_content{
    font-weight: 600;
    font-size: 13px;
}
#page-local-search-coursedetails #region-main{
    padding: 0;
}
#page-local-search-coursedetails .coursedet_left{
    margin:0;
}
#page-local-search-coursedetails .coursedet_row{
    padding:10px 40px;
}
#page-local-search-coursedetails #coursedetails .ui-widget-header {
    background-color: #e9f1fb;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#page-local-search-coursedetails .ui-tabs .ui-tabs-nav li{
    border: none;
    border-radius: 0 !important;
    background: transparent;
}
#page-local-search-coursedetails .ui-tabs .ui-tabs-nav li a{
    font-size: 18px;
    font-weight: 600;
    color: #304e7e;
}
#page-local-search-coursedetails .ui-widget.ui-widget-content{
    border: none;
    border-radius: 24px;
}
#page-local-search-coursedetails #page-header{
    left: 0;
    padding-right: 30px;
    position: absolute;
    z-index: 1;
}
#page-local-search-coursedetails #region-main-box #maincontent{
    height: 0;
}
#page-local-search-coursedetails #page-header .d-flex.flex-wrap {
    float: right;
}
#page-local-search-coursedetails #page-header  ol .breadcrumb-item span{
    color: #fff;
    font-weight: 600;
}
#page-local-search-coursedetails #page-header  ol.breadcrumb{
    font-size: 13px;
    align-items: center;
    margin-top: 15px;
}
#page-local-search-coursedetails #page-header  ol .breadcrumb-item a,
#page-local-search-coursedetails #page-header  .breadcrumb-item+.breadcrumb-item::before{
    color: #fff;
}
#page-local-search-coursedetails .crse_details li .category_type{
    min-width: 60%;
}
