{{!
    @template local_sentientia_proctoring/review_queue
}}
<div class="container-fluid">
    <h2 class="mb-3">{{#str}}reviewqueue, local_sentientia_proctoring{{/str}}</h2>

    <div data-region="datatable"
         data-component="local_sentientia_proctoring"
         data-ws-name="local_sentientia_proctoring_list_review_queue"
         data-columns="{{ columns_json }}"
         data-default-sort="risk_score"
         data-default-sortdir="desc"
         data-extra-args='{}'>
        <div class="text-center text-muted py-5">Loading...</div>
    </div>
</div>

{{#js}}
require(['theme_sentientia/datatable', 'local_sentientia_proctoring/review'],
    function(Datatable, Review) {
        Datatable.init(document.querySelector('[data-region="datatable"]'));
        Review.init();
    });
{{/js}}
