{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="d-flex lpcoursesuser_view_container lp_course_sortorder ">
	<div class="courseprogress_container {{ cmpltd_btn }} d-flex align-items-center flex-column mt-3">
		<div class="check_circle_icon"></div>
		<span class="text-muted date"><strong>{{completiondate}}</strong></span>
		<span class="text-muted time">{{ctime}}</span>
		<div class="course_line flexgrow-1"></div>
	</div>
	<div class = "w-full m-0 lpcourses flexgrow-1">
	<div class=" lpcourses_container {{ disable_class1 }} {{ cmpltd_class }} {{ enroldisable_class1 }} " id = "course_info_{{ courseid }}">
			<!-- <div class="vertical_brdr"></div> -->
			<div class="w-full  lpcourse_content mt-15 mb-15">
				<!-- <div class="col-lg-2 col-md-3  p-0 course_progress_container">
					<div class="w-full  middlline_div"></div>
					<div class="w-full  middlline"></div> -->
					<!--<div class="course_progress">
						<div class="lpcourse_progress progress-chart-container m-b-1">
						   <div class="progress-doughnut">
						        <div class="progress-text has-percent">{{ progressbar }}%</div>
						        <div class="progress-indicator">
						            <svg xmlns="http://www.w3.org/2000/svg">
						                <g>
						                    <title aria-hidden="true">{{ progressbar }}</title>
						                    <circle class="circle percent-{{ progressbar }}"
						                        r="27.5"
					                            cx="35"
					                            cy="35"/>
						                </g>
						            </svg>
						        </div>
						    </div>
						</div>
					</div>-->
				<!-- </div> -->
				<div class="col-md-12 p-0 {{ disable_class1 }} lpcourseslist">
					<div class="d-flex course_container">
						<div class="course_img p-3">
							<div style="background-image: url('{{ courseimgurl }}');height:179px;" alt="" title="" class="pvcourse_img lpimg_bg" >{{{optional_or_mandtry}}}</div>
						</div>
						<div class="summary_container w-full d-flex flex-column p-3">
							<div class="w-full desc_block my-2">
								<h5 class="d-flex justify-content-between">{{{ courselink }}} <span class="course_rating d-flex"><i class="fa fa-star mr-1"></i>{{avgrating}}</span></h5>
								<div class="text-muted lp_course_desc">{{ course_summary_string }}</div>
							</div>
							<div class="bottom_content my-2">
								<div class=" d-flex align-items-baseline max_progress">
									<h6 class="mr-2">Progress</h6>
									<div class="progress ">
	            						<div class="progress-bar text-center" role="progressbar" style="width: {{ progressbar }}%;" aria-valuenow="{{ progressbar }}" aria-valuemin="0" aria-valuemax="100"></div>
	        						</div>
	        						<span class="progress_percentage ml-2">{{ progressbar }}%</span>
								</div>
								{{! <div class="language_option col-md-4">
		        					<i class="fa fa-tags"></i>
		        					<span class="text-muted"><strong>English, Basics</strong></span>
		        				</div> }}

							</div>
							<!-- {{# completeflag}}
							<div class="couse_status text-muted">{{#str}}completed, local_learningplan{{/str}}</div>
							{{/ completeflag}} -->
						</div>
					</div>
				</div>
				{{^ needenrol}}
				<!-- <div class="col-lg-5 col-md-4 ">
				{{#cmpltd_class}}
					<div class='completed'><span class='cmplt_icon {{cmpltd_class}}' title='Completed'><i class='fa fa-check' aria-hidden='true'></i></span><span cmplt_date>{{ completiondate }}</span></div>
				{{/cmpltd_class}}
				</div> -->
				{{/ needenrol}}
			</div>
				<!-- <span class="lp_dot"></span> -->
			</div>
			<!--<div style="background-image: url('{{ course_summary_image_url }}');" alt="{{  }}" title="{{  }}" class="lpimg_bg" ></div>-->
	</div>
</div>

