{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template catalog/learningplan list

    Displays learningplan
   
}}

<!--<div class="course-img">
     <a ng-if="record.selfenroll == 1" title="<% record.fullname %>">
        <div style="background-image: url('<% record.fileurl %>')" class=courseimg_bg></div>
    </a>
    <a ng-if="record.selfenroll == 2" title="<% record.fullname %>" ng-href="<% record.learningplanlink %>">
        <div style="background-image: url('<% record.fileurl %>')" class=courseimg_bg></div>
    </a>
</div>
<div class="coursepage-name">
    <a ng-if="record.selfenroll == 1" class="coursesubtitle" title="<% record.fullname %>" >
        <h5 class="cat-level-course"><% record.fullname %><br/></h5>
    </a>

    <a ng-if="record.selfenroll == 2" class="coursesubtitle" title="<% record.fullname %>" ng-href="<% record.learningplanlink %>">
        <h5 class="cat-level-course"><% record.fullname %><br/></h5>
    </a>
    
    <div class="course-desc"  ng-bind-html="record.intro | unsafe" ></div>
    <span class="pull-left w-full cls-rating" ng-bind-html="record.rating_element | unsafe"></span>
    <div class="pull-left w-full mt-2 cls-tags" ng-bind-html="record.tags | unsafe"></div></br>
    <div class="course-author">
        <div class="row">
            <div class="col-md-12 pull-left author-name">
                <div class="course_maindetails">
                    <span class="pull-right w-full">
                        <span class="course_details_new">
                            <span ng-if="record.selfenroll == 1" class="catcr_enrol" ng-bind-html="record.enrollmentbtn | unsafe"></span>
                                <span ng-if="record.selfenroll == 2">
                                    <a ng-href="<% record.learningplanlink %>">
                                        <button class="cat_btn btn-primary viewmore_btn">{{#str}}start_now, local_search{{/str}}</button>
                                    </a>
                                </span>
                            <span ng-bind-html="record.redirect | unsafe"></span>    
                        </span> {{! end of class course_details_new div}}
                    </span> {{! end of class pull-right div}}
                </div> {{! end of class course_maindetails div}}
            </div> {{! end of class author-name div}}
        </div> {{! end of class row div}}
    </div> {{! end of class course-author div}}
</div>--> {{! end of class coursepage-name div}}

<!-- Versatile cards view-->
<!--<div class="readymainContainer clearfix">
    <div class="col-md-4 col-12 readyCContainer pull-left catcourses_list active ">
        <div class="col-12 pull-left course_container readycourse_container">-->
            <span class="courseimg_strip">Strip</span>
            <div class="d-flex my-3 flex-column shadow border rounded overflow-hidden  coursecard_container">
            <div class="card-img-top courseimg_container p-0">
                <a ng-if="record.selfenroll == 1" title="<% record.fullname %>">
                    <div  style="background-image: url('<% record.fileurl %>')" class="courseimg_bg p-2">
                        <span class="CstripCnt"> <span class="elearning">{{# str}}learningpath, local_learningplan{{/ str}}</span> </span>
                    </div>
                </a>
                <a ng-if="record.selfenroll == 2" title="<% record.fullname %>">
                    <div style="background-image: url('<% record.fileurl %>')" class="courseimg_bg p-2">
                        <span class="CstripCnt"> <span class="elearning">{{# str}}learningpath, local_learningplan{{/ str}}</span> </span>
                    </div>
                </a>

            </div>
            <div class="card-body readyCCnt coursecontent ">
                <div class="d-flex w-full course_name_container ">
                       

                    <div>
                        <a ng-if="record.selfenroll == 1" class="d-block" title="<% record.fullname %>">
                            <h4 class="course_name m-y-1 card-title course-title">
                            <% record.fullname %>
                            </h4>
                        </a>

                        <a ng-if="record.selfenroll == 2" class="d-block" title="<% record.fullname %>">
                            <h4 class="course_name m-y-1 card-title course-title">
                            <% record.fullname %>
                            </h4>
                        </a>
                    </div>
                    
                </div>
                <div class="card-text course-desc">
                    <div class="coursedesc w-full" ng-if="record.summary">
                        <div class="desc" ng-bind-html="record.summary | unsafe" ></div>
                    </div>
                    <div class="coursedesc w-full" ng-if="!record.summary">
                        <div  class="desc" >
                            <p class="alert alert-info">{{# str}}descriptionisnotavailable, local_search{{/ str}}</p>
                        </div>
                    </div>
                </div>
                
                <div class="clearfix"></div>
                <!-- <hr> -->
                <div class=" coursecontent_container mt-auto">
                    <div class="endrolled_details_div">
                        <div class="cat_btmContainer">
                            <div class="w-full cat_btm d-flex justify-content-between">
                                <div class="d-flex flex-row flex-wrap align-items-center justify-content-end">
                                    <span>
                                        <span class="icon-course-o"></span>{{# str }} courses {{/ str }} :
                                        
                                        <span class="text-muted catbtm_info"><% record.coursecount %></span>
                                    </span>
                                    
                                    
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="action_div d-flex mt-auto">
                        
                        <div ng-if="record.selfenroll == 1" class="catcr_enrol" ng-bind-html="record.enrollmentbtn | unsafe"></div>
                               
                        <div ng-bind-html="record.redirect | unsafe"></div>
                      
                        <!-- <button class="btn btn-info">View more</button> -->

                    </div>
                </div>
            </div>
        </div>
            <!-- <div class="cat_btmContainer col-12 mb-2 pt-2  pull-left">
                <div class="w-full cat_btm">
                    <span class="text-muted">Course Provided by<span class="pl-2">:</span></span><span><img src="<% record.course_provider %>" height="50px" width="110px" /></span>
                </div>
            </div> -->
             
            <!--<div class="cat_btmContainer col-12 mb-2 pt-2  pull-left px-4">
                <div class="w-full pull-left cat_btm">
                    <span class="pull-left w-full cls-rating" ng-bind-html="record.rating_element | unsafe"></span>
                </div>
            </div>
            <div class="cat_btmContainer col-12 p-b-1 p-t-1 pull-left px-4">
                <div class="w-full pull-left cat_btm">
                    <div class="pull-left w-full mt-2 cls-tags" ng-bind-html="record.tags | unsafe"></div>
                </div>
            </div>-->
            
        <!--</div>
    </div>
</div>-->
