{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/full_header

    This template renders the header.

    Example context (json):
    {
        "contextheader": "context_header_html",
        "settingsmenu": "settings_html",
        "hasnavbar": false,
        "navbar": "navbar_if_available",
        "courseheader": "course_header_html",
        "welcomemessage": "welcomemessage"
    }
}}
<header id="page-header" class="header-maxwidth d-print-none">
    <div class="w-100">
        <div class="courseheader" style="background-image: url('{{coursebannerimage}}');">
            <div class="row">
                <div class="course_header_container col-md-8">
                    <div class="heading" >
                        {{{contextheader}}}
                        {{#activityurl}}
                            {{{course_summary_data}}}
                        {{/activityurl}}
                    </div>
                    {{^courseprogresspercent}}
                    <div class="user_enrollment row  my-4">
                        <div class="col-md-3 d-flex">
                            <div class="seats_icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="enroll_details d-flex">
                                <span class="details_content">User Enrollements :</span>
                                <span class="enroll_number">{{enrolledusercount}}/{{totaluserscount}}</span>
                            </div>
                        </div>
                        <div class="col-md-9 d-flex">
                            <div class="max-progress d-flex align-items-center">
                                <div class="progress flexgrow-1">
                                    <div class="progress-bar text-center" role="progressbar" style="width:{{enrolledpercentage}}%;"
                                        aria-valuenow="{{enrolledpercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>{{enrolledpercentage}}%</span>
                            </div>
                        </div>
                    </div>
                    <div class="user_completion row  my-4">
                        <div class="col-md-3 d-flex">
                            <div class="user_icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="enroll_details d-flex">
                                <span class="details_content">User Completion :</span>
                                <span class="enroll_number">{{completedusercount}}/{{enrolledusercount}}</span>
                            </div>
                        </div>
                        <div class="col-md-9 d-flex">
                            <div class="max-progress  d-flex align-items-center">
                                <div class="progress flexgrow-1">
                                    <div class="progress-bar text-center" role="progressbar" style="width: {{completedpercentage}}%;"
                                        aria-valuenow="{{completedpercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>{{completedpercentage}}%</span>
                            </div>
                        </div>
                    </div>
                    {{{display_ratings}}}
                    {{/courseprogresspercent}}
                    {{#courseprogresspercent}}
                    <div class="user_enrollment row  my-4">
                        <div class="col-md-9 d-flex">
                            <div class="max-progress d-flex align-items-center">
                                <div class="progress flexgrow-1">
                                    <div class="progress-bar text-center" role="progressbar" style="width:{{usercourseprogresspercent}}%;"
                                        aria-valuenow="{{usercourseprogresspercent}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>{{usercourseprogresspercent}}%</span>
                            </div>
                        </div>
                    </div>
                    {{{display_ratings}}}
                    {{/courseprogresspercent}}
                </div>
                {{#settingsmenu}}
                <div class="context-header-settings-menu">
                    {{{settingsmenu}}}
                </div>
                {{/settingsmenu}}
                {{#activityurl}}
                <div class="context-header-settings-menu">
                    <a href="{{activityurl}}" title="Start">
                        <button type='button' class='btn btn-secondary' title="Start">
                            Start
                        </button>
                    </a>
                </div>
                {{/activityurl}}
            </div>
        </div>
    {{{course_summary_data}}}
    </div>
    
</header>
