<div class="course_contextmenu_extended">
	<ul class="course_extended_menu_list">
        {{# manage}}
            {{# default_menu }}
    			<li>
    				{{# admin_default_menu }}
    					<div class="admin_default_menu">{{{default_menu}}}</div>
    				{{/ admin_default_menu }}
    				{{^ admin_default_menu }}
    					{{{default_menu}}}
    				{{/ admin_default_menu }}
    			</li>
    		{{/ default_menu }}
		{{/ manage}}
        {{# gamification_element}}
            <li>
                <div class="coursebackup course_extended_menu_itemcontainer">
                    <a title="Gamification Settings" class="course_extended_menu_itemlink" href="{{config.wwwroot}}/blocks/gamification/index.php/rules/{{courseid}}"><i class="icon fa fa-gamepad" aria-hidden="true"></i></a>
                </div>
            </li>
        {{/ gamification_element}}
		{{# userenrollment }}
            <li>
            	<div class="coursebackup course_extended_menu_itemcontainer">
                	<a title="Bulk Enrolments" class="course_extended_menu_itemlink" href="{{config.wwwroot}}/local/courses/mass_enroll.php?id={{courseid}}"><i class="icon fa fa-users fa-fw " aria-hidden="true"></i></a>
                </div>
            </li>
            <li>
                <div class="coursebackup course_extended_menu_itemcontainer">
                    <a title="User enrolments" class="course_extended_menu_itemlink" href="{{config.wwwroot}}/local/courses/courseenrol.php?id={{courseid}}&enrolid={{enrolid}}"><i class="icon fa fa-user-plus fa-fw " aria-hidden="true"></i></a>
                </div>
            </li>
            <li>
                <div class="coursebackup course_extended_menu_itemcontainer">
                    <a title="{{# str }}enrolledusers, local_courses {{/ str }}" class="course_extended_menu_itemlink" href="{{config.wwwroot}}/local/courses/enrolledusers.php?id={{courseid}}"><i class="icon fa fa-user" aria-hidden="true"></i></a>
                </div>
            </li>
		{{/ userenrollment }}
		{{# coursebackup}}
            <li>
            	<div class="coursebackup course_extended_menu_itemcontainer">
                	<a title="{{# str }} coursebackup {{/ str }}" class="course_extended_menu_itemlink" href="{{config.wwwroot}}/backup/backup.php?id={{courseid}}"><i class="icon fa fa-download" aria-hidden="true"></i></a>
                </div>
            </li>
		{{/ coursebackup}}
		{{# course_complition }}	
                <li>
                	<div class="editingon course_extended_menu_itemcontainer">
                        <a title="{{# str }} coursecompletion {{/ str}}" class="course_extended_menu_itemlink" href="{{config.wwwroot}}/course/completion.php?id={{courseid}}"><i class="icon fa fa-tags fa-fw" aria-hidden="true"></i></a>
                    </div>
                </li>
		{{/ course_complition }}
		{{# course_reports }}
                <li>
                	<div class="editingon course_extended_menu_itemcontainer">
                        <a title="{{# str }} reports {{/ str}}" class="course_extended_menu_itemlink" href="{{ config.wwwroot}}/grade/report/grader/index.php?id={{courseid}}"><i class="icon fa fa-bar-chart" aria-hidden="true"></i></a>
                    </div>
                </li>
        {{/ course_reports }}
		{{^ course_reports }}
            {{# isenrolled}}
                <li>
                    <div class="editingon course_extended_menu_itemcontainer">
                        <a title="{{# str }} reports {{/ str}}" class="course_extended_menu_itemlink" href="{{ config.wwwroot}}/grade/report/user/index.php?id={{courseid}}"><i class="icon fa fa-bar-chart" aria-hidden="true"></i></a>
                    </div>
                </li>
            {{/ isenrolled}}
		{{/ course_reports }}
        {{# certificate_exists }}
            {{# certificate_download }}
                    <li>
                        <div class="editingon course_extended_menu_itemcontainer">
                            <a title="{{# str }} download_certificate, local_courses {{/ str}}" class="course_extended_menu_itemlink" href="{{ config.wwwroot}}/admin/tool/certificate/view.php?code={{certificateid}}" target="_blank"><i class="icon fa fa-download" aria-hidden="true"></i></a>
                        </div>
                    </li>
            {{/ certificate_download }}
            {{^ certificate_download }}
                    <li>
                        <div class="editingon course_extended_menu_itemcontainer">
                            <a title="{{# str}} unableto_download_msg, tool_certificate, Course {{/str}}" class="course_extended_menu_itemlink" href="javascript: void(0)"><i class="icon fa fa-download" aria-hidden="true"></i></a>
                        </div>
                    </li>
            {{/ certificate_download }}
        {{/ certificate_exists }}
		{{# is_courseedit_icon }}
                <li>
                	<div class="courseedit course_extended_menu_itemcontainer">
                        <a title="{{# str }} editcoursesettings {{/ str}}" class="course_extended_menu_itemlink createcoursemodal courseactions" data-action = "createcoursemodal" data-value = {{courseid}} href="javascript:void(0)" onclick="(function(e){ require('local_courses/courseAjaxform').init({contextid:{{categorycontextid}}, component: 'local_courses', callback:'custom_course_form', form_status:0, plugintype:'local', pluginname:'courses', courseid: {{ courseid }} }) })(event)"><i class="icon fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                </li>
		{{/ is_courseedit_icon }}
		{{# allow_editing }}
                <li>
                	<div class="editingon course_extended_menu_itemcontainer text-xs-center">
                        <a title="Turn edit {{ useredit }}" class="course_extended_menu_itemlink" href="{{{editing_url}}}"><i class="icon fa fa-power-off" aria-hidden="true" aria-label=""></i></a>
                    </div>
                </li>
		{{/ allow_editing }}
        {{{challenge_element}}}
	</ul>
</div>