{{#quicklinksEnable}}
	{{#hasquicklinks}}
		<div class="quickinfoContainer">
			{{#quicklinks}}
				<ul class="quickinfoList">
					{{#quickinfo1}}
						<li class="quickinfoItem">
							<i class="fa fa-cog"></i>
						</li>
					{{/quickinfo1}}
					{{#quickinfo2}}
						<li class="quickinfoItem">
							<i class="fa fa-cog"></i>
						</li>
					{{/quickinfo2}}
					{{#quickinfo3}}
						<li class="quickinfoItem">
							<i class="fa fa-cog"></i>
						</li>
					{{/quickinfo3}}
					{{#quickinfo4}}
						<li class="quickinfoItem">
							<i class="fa fa-cog"></i>
						</li>
					{{/quickinfo4}}
					{{#quickinfo5}}
						<li class="quickinfoItem">
							<i class="fa fa-cog"></i>
						</li>
					{{/quickinfo5}}
				</ul>
			{{/quicklinks}}
		</div>
	{{/hasquicklinks}}
{{/quicklinksEnable}}