#page-local-learningplan-plan_view #learning_plan_users .dataTables_empty{text-align:center}#page-local-learningplan-view .course_extended_menu_list{top:-20px}#page-local-learningplan-plan_view .course_image_comtainer img.learningplan_course_image{width:150px;height:150px}body#page-local-learningplan-plan_view div[role=main] .dataTables_wrapper .dataTables_filter{margin-top:0}span.info_label{min-width:145px;float:left}body#page-local-learningplan-plan_view span.info_label{min-width:145px;float:left}span.info_colon{margin-right:10px;float:right}span.info_value{color:#333;float:left}body#page-local-learningplan-plan_view #learning_plan_courses_admin_view tbody tr,body#page-local-learningplan-plan_view #learning_plan_courses_admin_view tbody tr.lastrow{background:0 0}body#page-local-learningplan-plan_view #learning_plan_courses_admin_view .lp_course_sortorder{padding:0 0 15px;border-bottom:1px solid #ddd}body.path-local-learningplan ul.nav.nav-tabs li .badge{background-color:#f75b5e;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;margin-left:2px;padding:5px 1px;width:18px;height:18px;text-shadow:none}body.path-local-learningplan ul.nav.nav-tabs li>a.nav-link.active{border-bottom:5px solid #f6941d;background:0 0;border-top:none;border-left:none;border-right:none}body.path-local-learningplan ul.nav.nav-tabs li>a.nav-link.active:hover{background:0 0}#page-local-learningplan-plan_view table.flexible th,.generaltable td,.generaltable th,table.flexible td{border:none!important}#page-local-learningplan-plan_view select{margin-top:5px}body#page-local-learningplan-plan_view a.enrol_to_plan:hover{color:#fff}body#page-local-learningplan-plan_view a.enrol_to_plan{float:right;margin-top:-45px;position:absolute;left:65%;color:#fff;font-size:18px}body#page-local-learningplan-plan_view a.actions{float:right;margin-top:-45px;position:absolute;left:68%;color:#fff;font-size:18px}body#page-local-learningplan-plan_view div[role=main]{position:relative}body#page-local-learningplan-plan_view a.already_enrolled_plan{position:absolute;right:10px;top:25px;color:#fff;font-size:18px}#page-local-learningplan-plan_view .course_disabled{pointer-events:none;opacity:.5;cursor:default}table#learning_plan_courses tbody tr td h4.course_sort_status{text-align:right}#page-local-learningplan-plan_view .a.pull-right.enrol_to_plan.nourl.wait{cursor:wait}#page-local-learningplan-lpusers_enroll ul.button_ul:nth-child(even){width:16%;margin:auto 1.4%;text-align:center}#page-local-learningplan-lpusers_enroll ul.button_ul:nth-child(even) li>input[type=submit]{width:110px!important;margin:5px 0}#page-local-learningplan-lpusers_enroll .fitem_fselect{width:38%;float:left;margin-left:24px;padding-top:13px}body.path-local-learningplan .view_more_toggle_content{position:absolute;background-color:#c6e0f1;padding:5px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;color:#333;box-shadow:0 0 5px #333;max-width:300px;z-index:2;max-height:250px;overflow:auto}body.path-local-learningplan .learning_plan_detail_info .view_more_toggle_content{right:0}body.path-local-learningplan .view_more_toggle_content.toggle_open span.view_more_close{position:absolute;right:3px;top:3px;padding:2px 3px;background-color:#fff;line-height:11px;border:1px solid #999}body.path-local-learningplan .view_more_toggle_content.toggle_open span.view_more_content{margin-top:15px;float:left;word-break:break-all}body.path-local-learningplan .view_more_toggle>span.view_less,body.path-local-learningplan .view_more_toggle>span.view_more{cursor:pointer}body#page-local-learningplan-plan_view .tab-content{background-color:#fff;clear:both;width:100%;float:left;padding:15px;margin:auto}body#page-local-learningplan-managelearningplan table#all_learning_plans td>.learning_plan_view{width:100%;float:left}body#page-local-learningplan-managelearningplan table#all_learning_plans>tbody>tr:nth-child(even)>td>.learning_plan_view{border-left:3px solid #0072bc}body#page-local-learningplan-managelearningplan table#all_learning_plans>tbody>tr:nth-child(odd)>td>.learning_plan_view{border-left:3px solid #f75b5e}body#page-local-learningplan-managelearningplan #page-content .collapsibleregion.collapsed{height:10px!important}body#page-local-learningplan-plan_view table#learning_plan_courses>thead th,table#all_learning_plans>thead th{display:none}#page-local-learningplan-plan_view .switch{position:relative;display:inline-block;width:60px;height:34px}#page-local-learningplan-plan_view .switch input{display:none}#page-local-learningplan-plan_view .switch{position:relative;float:right;vertical-align:top;width:52px;height:23px;padding:3px;margin:-3px 10px 10px 0;background:linear-gradient(to bottom,#eee,#fff 25px);background-image:-webkit-linear-gradient(top,#eee,#fff 25px);border-radius:18px;cursor:pointer}#page-local-learningplan-plan_view .switch-input{position:absolute;top:0;left:0;opacity:0}#page-local-learningplan-plan_view .switch-label{position:relative;display:block;height:inherit;font-size:10px;text-transform:uppercase;background:#0072bc;border-radius:inherit;box-shadow:inset 0 1px 2px rgba(0,0,0,.12),inset 0 0 2px rgba(0,0,0,.15);padding:0 29px 0 26px}#page-local-learningplan-plan_view .switch-label:before,.switch-label:after{position:absolute;top:50%;margin-top:-.5em;line-height:1;-webkit-transition:inherit;-moz-transition:inherit;-o-transition:inherit;transition:inherit}#page-local-learningplan-plan_view .switch-label:before{content:attr(data-off);right:11px;color:#fff;text-shadow:0 1px rgba(255,255,255,.5)}#page-local-learningplan-plan_view .switch-label:after{content:attr(data-on);left:5px;color:#fff;text-shadow:0 1px rgba(0,0,0,.2);opacity:0}#page-local-learningplan-plan_view .switch-input:checked~.switch-label{background:#f05a28;box-shadow:inset 0 1px 2px rgba(0,0,0,.15),inset 0 0 3px rgba(0,0,0,.2);font-size:10px;padding:0 26px}.switch-input:checked~.switch-label:before{opacity:0}#page-local-learningplan-plan_view .switch-input:checked~.switch-label:after{opacity:1}#page-local-learningplan-plan_view .switch-handle{position:absolute;top:4px;left:4px;width:20px;height:20px;background:linear-gradient(to bottom,#fff 40%,#f0f0f0);background-image:-webkit-linear-gradient(top,#fff 40%,#f0f0f0);border-radius:100%;box-shadow:1px 1px 5px rgba(0,0,0,.2)}#page-local-learningplan-plan_view .switch-handle:before{content:"";position:absolute;top:50%;left:50%;margin:-6px 0 0 -6px;width:12px;height:12px;background:linear-gradient(to bottom,#eee,#fff);background-image:-webkit-linear-gradient(top,#eee,#fff);border-radius:6px;box-shadow:inset 0 1px rgba(0,0,0,.02)}#page-local-learningplan-plan_view .switch-input:checked~.switch-handle{left:34px;box-shadow:-1px 1px 5px rgba(0,0,0,.2)}#page-local-learningplan-plan_view .switch-label,.switch-handle{transition:All .3s ease;-webkit-transition:All .3s ease;-moz-transition:All .3s ease;-o-transition:All .3s ease}.course_sort_status{position:absolute;right:-32px;top:2px;transform:rotate(45deg);width:110px;height:25px}span.mandatory-course{background-color:#f75b5e;width:100%;text-align:center;padding:5px 0}span.optional-course{background-color:#0072bc;width:100%;text-align:center;padding:5px 0}.course_data_container .course_activity_details.text-right{margin-top:20px}#page-local-learningplan-index div#page-navbar{display:block}body.path-local-learningplan .course-body .coursepage-name{float:left;width:100%;padding:10px}body#page-local-learningplan-lpusers_enroll .content-classimg{border:1px solid #f6f6f6;border-radius:7px!important;width:100%;margin-top:25px;max-width:400px;max-height:400px}body#page-local-learningplan-lpusers_enroll .usersdesc{height:225px;overflow:hidden;font-size:15px!important;font-weight:400;word-break:break-word}body#page-local-learningplan-lpusers_enroll .usersdesc.show_more_description{height:inherit;overflow:auto}body#page-local-learningplan-view .lp_view_container.course_disabled{pointer-events:none;opacity:.5;cursor:default}body#page-local-learningplan-plan_view .plan_description p{margin-bottom:0}body#page-local-learningplan-plan_view .course_complete_info .lp_coursename{padding-left:10px}body#page-local-learningplan-plan_view .course_complete_info .lp_coursename p{margin-bottom:0;font-size:13px;color:#4a4a4a;padding-left:30px}body#page-local-learningplan-plan_view .course_complete_info .lp_coursename a{color:initial}body#page-local-learningplan-plan_view .course_complete_info .actions{line-height:45px}body#page-local-learningplan-plan_view .course_complete_info .switch_type{float:left;text-align:center;margin-top:10px}body#page-local-learningplan-plan_view #learning_plan_users_wrapper input[type=search]{border-radius:8px;padding-left:10px;width:230px;border:1px solid #ddd}body#page-local-learningplan-view .lp_userview_head_container h5{color:#fff;padding:12px 12px 17px;margin-bottom:0;background:linear-gradient(to bottom,#323232 0,#3f3f3f 40%,#1c1c1c 150%),linear-gradient(to top,rgba(255,255,255,.4) 0,rgba(0,0,0,.25) 200%);background-blend-mode:multiply}body#page-local-learningplan-view .lp_userview_head_container .lp_userview_head{border-bottom:3px solid #f7941d;padding:5px;text-align:center}.lp_summary p{margin-bottom:0}body#page-local-learningplan-view .lp_user_list_container{border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd}body#page-local-learningplan-view .lp_view_container{float:none;margin:auto}body#page-local-learningplan-view .lp_view_container .coursepage-name{border-bottom:1px solid #ddd;padding:15px 0 15px}body#page-local-learningplan-view .lp_view_container .lp_coursename{padding-left:10px}body#page-local-learningplan-view .lp_view_container .lp_coursename a{color:initial}body#page-local-learningplan-view .lp_view_container .lp_coursename p{margin-bottom:0;font-size:13px;padding-left:4rem;color:#4a4a4a}body#page-local-learningplan-view .lp_view_container .cmplt_icon .fa.fa-check{color:#fff;background-color:#939498;width:25px;height:25px;margin-left:23px;padding:5px;border-radius:50%;display:block}body#page-local-learningplan-view .lp_view_container.course_completed .cmplt_icon .fa.fa-check{background-color:#0b9444}body#page-local-learningplan-view .lp_view_container .lpnumber_container{padding:3px;font-size:24px;line-height:1.33;border-radius:35px;float:left;background-color:#1177d1}body#page-local-learningplan-view .lp_view_container .lpnmbr_border{border:2px solid #fff;width:40px;height:40px;border-radius:50%;padding:3px}body#page-local-learningplan-view .lp_view_container .lp_nmbr{width:30px;height:30px;font-size:22px;border-radius:50%;line-height:29px;float:left;font-weight:700;border:none}body#page-local-learningplan-view .lp_view_container.course_disabled .lpnumber_container{background-color:#939498}body#page-local-learningplan-view .lp_view_container.course_completed .lpnumber_container{background-color:#0b9444}body#page-local-learningplan-view .lp_view_container.course_disabled .lp_nmbr{background-color:#939498}body#page-local-learningplan-view .lp_view_container.course_completed .lp_nmbr{background-color:#0b9444}body#page-local-learningplan-plan_view .course_complete_info .lpnumber_container{padding:3px;font-size:24px;line-height:1.33;border-radius:35px;float:left;background-color:#1177d1}body#page-local-learningplan-plan_view .course_complete_info .lpnmbr_border{border:2px solid #fff;width:40px;height:40px;border-radius:50%;padding:3px}body#page-local-learningplan-plan_view .course_complete_info .lp_nmbr{width:30px;height:30px;font-size:22px;border-radius:50%;line-height:29px;float:left;font-weight:700;border:none}body#page-local-learningplan-index #all_learning_plans .learning_plan_view .action_icons a{padding:0 5px}body#page-local-learningplan-index #region-main .card.card-block{overflow-x:visible}#page-local-learningplan-index.theme_scheme6 #region-main{padding-top:0}body#page-local-learningplan-index .course_extended_menu_list{top:-20px}body#page-local-learningplan-index #all_learning_plans .learning_plan_detail_info{font-size:15px}body#page-local-learningplan-index #all_learning_plans_filter input{width:230px;border-radius:8px;padding-left:7px}body.path-local-learningplan ul.nav.nav-tabs li>a.nav-link{padding-left:2rem;padding-right:2rem}body.path-local-learningplan .tab-content .course_extended_menu_list.learningplan{top:-26px!important;z-index:0}body.path-local-learningplan .tab-content{position:relative}body.path-local-learningplan .lpcontainer{box-sizing:border-box}body#page-local-learningplan-index table#all_learning_plans>tbody>tr{background:0 0}body#page-local-learningplan-index table#all_learning_plans{border:none}#page-local-learningplan-index table#all_learning_plans .lp_container{border-bottom:5px solid #0071bd;box-shadow:0 0 5px 3px #ddd;float:left;box-sizing:border-box;background-color:#fff}body#page-local-learningplan-index table#all_learning_plans .learning_plan_view .lpicon{font-size:25px;padding:0 15px 0 5px;color:#0071bd;float:left}body#page-local-learningplan-index table#all_learning_plans .learning_plan_view .lp_name{text-decoration:none;font-size:18px;line-height:23px}.lp_name{position:relative;line-height:20px}body#page-local-learningplan-index table#all_learning_plans .learning_plan_view .lp_shortline.detail_short_underline{width:70px!important}body#page-local-learningplan-index table#all_learning_plans tbody tr td{width:50%;float:left;box-sizing:border-box}body#page-local-learningplan-index table#all_learning_plans tbody tr td.dataTables_empty{width:100%}.detail_short_underline{float:left;width:25px;background-color:#1177d1;height:3px}.lpimg_bg{width:100%;height:227px;border-radius:12px;background-repeat:no-repeat;background-position:center center;-webkit-background-size:cover;background-size:cover}.lpcourses{border-left:25px solid #0072bc;position:relative}.pvcourse_img{border-radius:8px 0 0 8px}#page-local-learningplan-view .w-full.pull-left.middlline_div:before{content:">";position:absolute;left:50%;bottom:-20px;font-size:25px;color:#778890}#page-local-learningplan-plan_view .w-full.pull-left.middlline_div:before{content:">";position:absolute;left:50%;top:108px;font-size:25px;color:#778890}.middlline_div{border-bottom:3px solid #778890;height:128px;position:relative;z-index:0}.middlline{height:93px}.course_progress{position:absolute;top:70px;left:35%;z-index:1}.course_container{border-radius:8px;background-color:#fff;box-shadow:0 0 19px 2px #ddd}.summary_container{border-right:20px solid #333;border-radius:0 8px 8px 0;font-size:15px;min-height:145px!important;position:relative}.summary_container:after{content:"";position:absolute;top:50%;right:-31px;margin-top:-13px;border-bottom:13px solid transparent;border-top:13px solid transparent;border-left:14px solid #333}.cmplt_icon .fa.fa-check{color:#fff;background-color:#939498;width:25px;height:25px;padding:5px;margin-left:23px;border-radius:50%;display:block}.cmplt_icon .fa.fa-check{background-color:#0b9444}.lp_dot{-webkit-animation-name:scaling;-webkit-animation-duration:1.5s;animation-name:scaling;animation-duration:1.5s;transition:1.5s ease-in-out;background:#fff;width:8px;left:-17px;top:55%;float:left;border-radius:50%;height:8px;position:absolute}@-webkit-keyframes scaling{0%{transform:scale(0)}100%{transform:scale(1)}}@keyframes scaling{0%{transform:scale(0)}100%{transform:scale(1)}}.lpcourses_container{position:relative}.vertical_brdr{-webkit-animation-name:bordercolor;-webkit-animation-duration:5s;animation-name:bordercolor;animation-duration:5s;position:absolute;border-left:1px solid;border-color:#fff;left:-13px;height:100%}@-webkit-keyframes bordercolor{0%{border-color:transparent}90%{border-color:transparent}100%{border-color:#fff}}@keyframes bordercolor{0%{border-color:transparent}90%{border-color:transparent}100%{border-color:#fff}}.l_form{display:inline-block;width:100%;position:relative}.l_form:before{-webkit-animation-name:smoothline;-webkit-animation-duration:5s;animation-name:smoothline;animation-duration:5s;transition-timing-function:ease-in-out;content:"";top:0;width:1px;left:calc(4rem + 12px);background-color:#fff;display:block;bottom:0;position:absolute;z-index:0}@-webkit-keyframes smoothline{from{top:100%;z-index:1}to{top:0;z-index:1}}@keyframes smoothline{from{bottom:100%;z-index:1}to{bottom:0;z-index:1}}.lpcourse_progress.progress-chart-container{background-color:#393c44;border-radius:50%}.lpcourse_progress.progress-chart-container .progress-doughnut{border:15px solid transparent}.lpcourse_progress.progress-chart-container .progress-doughnut .progress-text.has-percent{color:#fff}.lpcourse_progress.progress-chart-container .progress-doughnut .progress-indicator svg .circle{stroke-width:3px;stroke:#fff}.lpcourseslist{height:150px}.course_disabled{pointer-events:none;opacity:.5;cursor:default}#page-local-learningplan-view .completed{margin-top:4.8rem;margin-left:0}#page-local-learningplan-view .middlline_div{height:98px}#page-local-learningplan-view .course_progress{top:39px}#page-local-learningplan-view .lp_dot{top:49%}#page-local-learningplan-view .lpcourses{margin-left:30px;margin-right:30px}#page-local-learningplan-view .lpcoursesuser_view_container{padding:0 30px}.mandatory{font-size:11px;background-color:#f7941d;border-radius:8px!important;padding:2px 4px;color:#fff;vertical-align:middle}.optional{font-size:11px;background-color:#f7941d;border-radius:8px!important;padding:3px 2px;color:#fff;vertical-align:middle}.pathcourses_list{list-style-type:none;float:left;margin:10px 0;width:100%;display:table}.pathcourses_list li{float:none;display:table-cell;width:auto;padding:0 8px}.pathcourses_list .pathcourse_container{position:relative}.path_coursround{width:20px;float:left;height:20px;background-color:#ededed;border-radius:50%}.path_coursline{width:100%;border-bottom:3px solid #929292;float:left;position:absolute;top:27px}.pathcourses_list li:last-child .pathcourse_container .path_coursline{border:none}.pathcourses_list li:nth-child(5n) .test .path_coursround{border:2px solid #ebb736}.pathcourses_list li:nth-child(5n-1) .test .path_coursround{border:2px solid #a1d448}.pathcourses_list li:nth-child(5n-2) .test .path_coursround{border:2px solid #009eba}.pathcourses_list li:nth-child(5n-3) .test .path_coursround{border:2px solid #a14d94}.pathcourses_list li:nth-child(5n-4) .test .path_coursround{border:2px solid #f0373a}.coursepath{min-height:60px}.lp_course_sortorder{padding-left:4rem}.actions .icon{color:#999}body#page-local-learningplan-index .course_extended_menu_list .createiconchild{right:6px;top:10px}body#local-learningplan-lpusers_enroll #filters_form.collapsibleregion{overflow:visible}body#page-local-learningplan-plan_view .course_extended_menu_list{top:-40px}body#page-local-learningplan-plan_view #region-main .card.card-block{overflow-x:visible}body#page-local-learningplan-index .actionicons.opened .options_container{top:-40px;right:-36px}body#page-local-learningplan-index .options_container:hover{top:-40px;right:-36px}body#page-local-learningplan-index .actionicons.quick_actions_list2.opened .options_container{right:-18px}body#page-local-learningplan-index .quick_actions_list2.options_container:hover{right:-18px}body#page-local-learningplan-index .lp_container:hover .actionicons{visibility:visible}body#page-local-learningplan-index .actionicons{visibility:hidden}#page-local-learningplan-lpusers_enroll .collapsibleregion{overflow:visible}#page-local-learningplan-index .lp_info{min-width:85px}.path-local-learningplan .dataTables_wrapper .dataTables_processing{position:absolute;top:50%;left:50%;width:100%;height:40px;margin-left:-50%;margin-top:-25px;padding-top:20px;text-align:center}#learning_plan_users{width:100%!important;float:left}.actions .fas{font-family:FontAwesome;font-style:normal}body#page-local-learningplan-plan_view .cmplt_icon .fa.fa-check{margin-right:3px}.max_progress .progress{max-width:250px;margin:auto}.lp_course-wrapper{margin-top:1rem}.prg100 .vertical_brdr{border-left:2px solid #2e7ed2;left:-14px}@media (max-width:1181px){.path-local-learningplan .summary_container{padding:0}.path-local-learningplan .summary_container .lp_course_desc{font-size:12px;word-break:break-all}.path-local-learningplan .summary_container a{font-size:15px}.lp_container .learning_plan_info .lp_value{word-break:break-all;display:flex}}@media(min-width:768px) and (max-width:1015px){body#page-local-learningplan-index table#all_learning_plans .learning_plan_view .lpicon{display:none}body#page-local-learningplan-index table#all_learning_plans .learning_plan_view .lp_name{font-size:15px}}@media(max-width:1023px){.coursepath,.lpimg_bg{display:none}body#page-local-learningplan-index .learning_plan_info .text-muted,body#page-local-learningplan-plan_view .planview_topcontent .text-muted{min-width:85px!important}body.path-local-learningplan .lp_course_sortorder{padding-left:0}body.path-local-learningplan .pathcourses_list li{float:left;width:80px;margin-bottom:7px}#page-local-learningplan-view .lpcourse_content>.col-md-5{margin-bottom:31px}body.path-local-learningplan .lpcourseslist:before{content:"\f107";font-family:fontAwesome;position:absolute;left:49.1%;color:#2a7a78;z-index:-1}body.path-local-learningplan .lpcourseslist:after{content:"";border:1px solid #2a7a78;position:absolute;height:65px;left:50%;z-index:-1}#page-local-learningplan-view .lpcourseslist:before{top:-14px;left:-webkit-calc(50% - 4px);left:-moz-calc(50% - 4px);left:-o-calc(50% - 4px);left:calc(50% - 4px)}#page-local-learningplan-view .lpcourseslist:after{top:-30px;height:29px}#page-local-learningplan-plan_view .lpcourseslist:before{top:16px;left:-webkit-calc(50% - 4px);left:-moz-calc(50% - 4px);left:-o-calc(50% - 4px);left:calc(50% - 4px)}#page-local-learningplan-plan_view .lpcourseslist:after{top:-30px}body.path-local-learningplan .lpcourses{border-left:none}.path-local-learningplan .course_progress_container,.path-local-learningplan .lp_dot,body.path-local-learningplan .vertical_brdr{display:none}body.path-local-learningplan .middlline_div{border-bottom:none}.lp_course-wrapper .lp_course_sortorder:first-child .lpcourseslist:after,.lp_course-wrapper .lp_course_sortorder:first-child .lpcourseslist:before{content:none}body.path-local-learningplan .lpcourse_content>.col-md-5{position:relative;z-index:1}}@media (min-width:768px) and (max-width:1023px){body.path-local-learningplan .lp_course_sortorder{width:90%;float:none!important;margin:auto}}@media (min-width:810px) and (max-width:1023px){body.path-local-learningplan .lpcourse_content>.col-md-5{width:65%;clear:right;height:inherit;max-width:inherit}#page-local-learningplan-view .lpcourse_content .lpcourseslist{margin-bottom:0}}@media (min-width:768px) and (max-width:809px){body.path-local-learningplan .lpcourse_content>.col-md-5{width:100%;max-width:inherit;margin-bottom:59px}#page-local-learningplan-view .completed{margin-top:10px}body#page-local-learningplan-plan_view #viewrequest_wrapper{overflow:auto}body#page-local-learningplan-plan_view table#viewrequest{min-width:780px}}@media(max-width:991px){body.path-local-learningplan .lpcourse_content>.col-md-4{width:10%}body.path-local-learningplan .completed{margin-left:0!important}body.path-local-learningplan .summary_container{min-height:inherit!important;border-right:0}.path-local-learningplan .lpcourses{border-width:10px}.path-local-learningplan .summary_container:after{display:none}body#page-local-learningplan-plan_view .lpcourse_content>.col-md-4{width:inherit}}@media (min-width:768px) and (max-width:920px){.lp_container .learning_plan_info .col-md-5,.lp_container .learning_plan_info .col-md-7{width:100%;max-width:inherit}}@media(max-width:809px){body#page-local-learningplan-plan_view .lpcourse_content>.col-md-4{margin-top:5px;width:inherit;max-width:100%;text-align:center}body#page-local-learningplan-plan_view .completed>span{display:inline-block}body#page-local-learningplan-plan_view .completed .cmplt_icon .fa-check{margin-left:0}}@media(max-width:768px){body#page-local-learningplan-index table#all_learning_plans{width:100%!important}body#page-local-learningplan-index #all_learning_plans_wrapper{padding:0}}@media(max-width:767px){body#page-local-learningplan-index table#all_learning_plans tbody tr td{width:100%}body#page-local-learningplan-index .actionicons{visibility:visible}body.path-local-learningplan .course_progress{position:static}body.path-local-learningplan .progress-chart-container{margin:auto}body.path-local-learningplan .cmplt_icon .fa.fa-check{display:inline}#page-local-learningplan-view .lpcourses{margin:0}body.path-local-learningplan .lpcourse_content>.col-md-5{width:100%;height:inherit}body.path-local-learningplan .lpcourse_content>.col-md-4{width:100%}#page-local-learningplan-plan_view #learning_plan_users_wrapper{float:left;width:100%}#learning_plan_users_wrapper{overflow:auto}#page-local-learningplan-view .lpcourse_content>.col-md-5{margin-bottom:0}#page-local-learningplan-view .completed{margin-top:10px}}@media (max-width:530px){body#page-local-learningplan-index table#all_learning_plans .learning_plan_view .lp_name{font-size:15px}.learning_plan_info .w-full{margin-top:5px}}@media (max-width:485px){body#page-local-learningplan-index table#all_learning_plans .learning_plan_view .lpicon{display:none}}@media (max-width:599px){body#page-local-learningplan-plan_view .tab-content{padding:0;margin-top:5px}}@media(max-width:480px){#page-local-learningplan-plan_view .planview_tabscontainer ul.nav.nav-tabs li>a.nav-link{padding-left:1rem;padding-right:1rem;font-size:13px;width:100%;text-align:center}#page-local-learningplan-plan_view .switch-label{font-size:8px;padding:0 25px 0 20px}#page-local-learningplan-plan_view .switch-handle{width:15px;height:15px;top:7px;left:6px}#page-local-learningplan-plan_view .switch{margin-right:5px}}@media(max-width:475px){body.path-local-learningplan .lpcourseslist:before{left:48.5%}}@media (max-width:425px){body#page-local-learningplan-index .actionicons{position:relative;top:18px;z-index:1}}@media(max-width:375px){body#page-local-learningplan-plan_view .lpcourse_content>.lpcourseslist span.switch_type{float:left}}#page-local-learningplan-index .departmentselect,#page-local-learningplan-plan_view .departmentselect{display:none}#page-local-learningplan-lpusers_enroll button.custom_btn.btn.move.btn-default,#page-local-learningplan-lpusers_enroll button.custom_btn.btn.remove.btn-default{margin:2% 0;width:100%}#page-local-learningplan-lpusers_enroll .dual_select option{padding:5px}.path-local-learningplan #page-content #region-main{overflow-x:visible;width:100%;float:left}#learningplantabs .nav-tabs .learningplan_tabs{z-index:1;position:relative}#page-local-learningplan-plan_view .progress,#page-local-learningplan-view .progress{border-radius:5px!important}.lp_course_desc{word-break:break-all;min-height:88px}.path_coursline:before{content:'>';position:absolute;left:50%;top:-14px;font-size:20px;color:#929292}.pathcourses_list li:last-child .pathcourse_container .path_coursline:before{content:''!important}#page-local-learningplan-plan_view .planview_tabscontainer{background-color:#fff;padding:15px;margin-top:15px;width:100%;float:left;border:1px solid #ddd;border-radius:0 0 8px 8px}@media(min-width:768px){#page-local-learningplan-lpusers_enroll .box3.col-md-2.actions{margin-top:244px}}@media(max-width:768px){#page-local-learningplan-lpusers_enroll button.custom_btn.btn.move.btn-default,#page-local-learningplan-lpusers_enroll button.custom_btn.btn.remove.btn-default{margin-top:0}}
body#page-local-learningplan-userdashboard .card_list_view {
    display: none;
}
.ctype_learningplan .coursedesc span{
	text-align:center;
	background-color: inherit;
    border: 1px solid #d1edf6;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
}
.disabled{
    opacity: .5;
}
#page-local-learningplan-view .page-header-image ,#page-local-learningplan-view .header-button-group{
    display: none;
}
#page-local-learningplan-index #all_learning_plans_table tbody td span a{
    margin-right: 10px;
}


/* Admin login Planview topcontent css*/
#page-local-learningplan-plan_view .planview_container{
	background-image: linear-gradient(106deg, #4688d5, #043b72);
	color: #fff;
}
#page-local-learningplan-plan_view .planview_topcontainer .desc_container{
	flex-grow: 1;
}

#page-local-learningplan-plan_view .planview_container .courseimg_container{
	width: 100%;
    max-width: 160px;
}
#page-local-learningplan-plan_view .planview_container .courseimg_container .lpimg_bg{
	height: 100%;
	min-height: 200px;
}
#page-local-learningplan-plan_view .planview_container .ratings_users i{
	color: #fff !important;
	font-size: 15px !important;
}
#page-local-learningplan-plan_view .planview_container .description p{
	color: #f7f9fb;
    font-size: 15px;
}
#page-local-learningplan-plan_view .planview_container .description .alert-info {
	padding:0 !important;
	border:none !important;
	text-align: left !important;
}
#page-local-learningplan-plan_view .planview_container .progress_bar .progress{
	width: 50%;
	margin:15px 0;
	height: 8px !important;
}
#page-local-learningplan-plan_view .planview_container  .progress-bar {
    background-color: #1f67b7;
    border: 1px solid #fff;
    border-radius: 5px;
}

#page-local-learningplan-plan_view .planview_container  .progress_percentage{
	font-weight: 500;
}
body#page-local-learningplan-plan_view .course_extended_menu_list {
    top: -50px;
    right: 50px;
}
#page-local-learningplan-plan_view div[role="main"]>.course_extended_menu_list .course_extended_menu_itemlink .icon{
	border-radius: 0 !important;
	background-color: transparent;
	border: none;
	box-shadow: none;
	color: #fff !important;
	font-size: 23px;
}
#page-local-learningplan-plan_view .course_extended_menu_list li {
	margin:0;
}
#page-local-learningplan-plan_view #region-main{
	padding:0 !important;
}
#page-local-learningplan-plan_view #region-main #maincontent{
	height: 0;
}
#page-local-learningplan-plan_view .breadcrumb-item+.breadcrumb-item::before {
    color: #fff!important;
    content: ">";
    font-size: 16px;
}
#page-local-learningplan-plan_view .borderbottom {
    border-bottom: 1px solid #efecec30;
    width: 93%;
    margin: auto;
}
#page-local-learningplan-plan_view .header-maxwidth>div{
	display: flex;
	flex-direction: column-reverse;
	margin-top: 1rem;
}
#page-local-learningplan-plan_view .header-maxwidth{
	background-image: linear-gradient(45deg, #4688d5, #043b72);
	padding-left: 3.5rem;
	padding-right: 3.5rem;
}
#page-local-learningplan-plan_view  .page-header-headings h1:after {
     border-bottom: none !important; 
}
#page-local-learningplan-plan_view .page-context-header .page-header-headings h1{
	font-size: 21px;
	color: #fff;
	margin-bottom: 0;
	font-weight: 600 !important;
}
#page-local-learningplan-plan_view .header-maxwidth .breadcrumb{
	padding:0;
}
#page-local-learningplan-plan_view .header-maxwidth  .breadcrumb-item a{
	color: #fff !important;
	font-size: 16px;
}
#page-local-learningplan-plan_view .header-maxwidth  .breadcrumb-item span{
	color: #fff;
	font-weight: 600;
	text-decoration: underline;
	font-size: 16px;
}

#page-local-learningplan-plan_view .planview_topcontent .overall_users{
	margin-top:0;
}
#page-local-learningplan-plan_view .planview_topcontent .overall_users i{
	font-size: 16px !important;
	color: #fff !important;
	font-weight: 600;
}
#page-local-learningplan-plan_view .planview_topcontent .border-top{
	border-top:1px solid #dee5ea33!important;
}
#page-local-learningplan-plan_view .planview_topcontent .overall_users i:before{
	margin-right: 7px;
}
#page-local-learningplan-plan_view .planview_topcontent .radiostars i{
	display: none;
}


/*learningplan view container css*/
#page-local-learningplan-plan_view  .courseprogress_container .course_line{
	width: 1px;
    background-color: #c8c8c8;
    align-self: stretch;
    margin: 10px auto 10px auto;
    flex: 1;
}

#page-local-learningplan-plan_view  .courseprogress_container.completed .check_circle_icon:before{
	background-image: url([[pix:local_learningplan|lp]]);
}

#page-local-learningplan-plan_view  .courseprogress_container .check_circle_icon{
	background-image: url([[pix:local_learningplan|lp]]);
	width:45px;
	height: 45px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#page-local-learningplan-plan_view .lp_course_sortorder .courseprogress_container{
	min-width: 90px;
}
#page-local-learningplan-plan_view .courseprogress_container .date,
#page-local-learningplan-plan_view .courseprogress_container .time{
   font-size: 14px;
   color: #8f959b !important;
}
#page-local-learningplan-plan_view .planview_tabscontainer {
    background-color: #f6f6f6 !important; 
    margin-top: 0 !important;
    border:none;
}
#page-local-learningplan-plan_view .planview_tabscontainer  .nav-link:hover,
#page-local-learningplan-plan_view .planview_tabscontainer  .nav-link:focus{
	border:none;
}
#page-local-learningplan-plan_view .lp_course-wrapper .l_form:before{
	content: none !important;
}
#page-local-learningplan-plan_view .planview_tabscontainer .nav-tabs{
	border-bottom: none ;
}
#page-local-learningplan-plan_view .tab-content {
    background-color: transparent !important;
}
#page-local-learningplan-plan_view .lpcourses{
	border-left: 0 !important;
}
#page-local-learningplan-plan_view  .lp_course_sortorder{
	padding-left: 0;
}
#page-local-learningplan-plan_view .lpcourseslist{
	height: 100%;
}
#page-local-learningplan-plan_view .lpcourseslist .course_container{
	box-shadow: 0 0 1px 1px #fff;
	border-radius: 15px;
}
#page-local-learningplan-plan_view  .summary_container{
	border-right: none !important;
	width: 100%;
}
#page-local-learningplan-plan_view  .summary_container:after {
   border-right: none !important;
   content: none !important;
   border-left-color: none !important;
   display: none ;
}

#page-local-learningplan-plan_view .summary_container .lp_course_desc{
	min-height: 40px;
	text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #828d9a;
}
#page-local-learningplan-plan_view  .bottom_right_container .details_block,
#page-local-learningplan-plan_view  .bottom_right_container .courses_block,
#page-local-learningplan-plan_view  .bottom_right_container .users_block {
	border: 1px solid #ddd;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 0px 1px 2px 0px #ddd;
    margin-bottom: 2rem !important;
    background-color: #fff;

}
#page-local-learningplan-plan_view .summary_container .desc_block a{
    color: #2a364a;
    font-size: 17px;
}
#page-local-learningplan-plan_view .summary_container  .course_rating{
	font-size: 17px;
	color: #2a364a;
}
#page-local-learningplan-plan_view .course_img{
    width: 100%;
    max-width: 180px;
}
#page-local-learningplan-plan_view .course_img  .pvcourse_img{
	border-radius: 8px !important;
	height: 100%;
    min-height: 190px;
}
#page-local-learningplan-plan_view  .progressbar_container{
	margin:0;
}
#page-local-learningplan-plan_view  .progressbar_container h6{
    color: #2a364a;
}
#page-local-learningplan-plan_view  .progressbar_container .progress{
	width: 60%;
	margin:0;
	height: 8px !important;
	background-color: #efefef;
}
#page-local-learningplan-plan_view  .progressbar_container .progress-bar {
    background-color: #1f67b7;
    border-radius: 8px;
    
}
#page-local-learningplan-plan_view  .progressbar_container .progress-bar[aria-valuenow="0"] {
	width: 0 !important;
}
#page-local-learningplan-plan_view  .progressbar_container .progress_percentage{
	font-weight: 500;
	color: #2f3a4e;
}
#page-local-learningplan-plan_view  .bottom_content .language_option{
	text-align: right;
}
#page-local-learningplan-plan_view  .bottom_content .language_option i{
	color:#908c8c ;
}
#page-local-learningplan-plan_view  .bottom_content .language_option strong{
	font-size: 14px;
	color: #2a364ad6;
}

#page-local-learningplan-plan_view  .summary_container .couse_status{
    font-weight: 600;
    font-size: 14px;
}
body.path-local-learningplan ul.nav.nav-tabs li>a.nav-link.active{
	border-bottom: 0 !important;
	box-shadow: none ;
	font-size: 20px;
	font-weight: 600;
	color: #2c384c;
}
#page-local-learningplan-plan_view .bottom_right_container .block_heading{
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
    font-size: 15px !important;
    color:#2a364a;
}
#page-local-learningplan-plan_view .bottom_right_container .block_content{
    margin-top: 10px;
}
#page-local-learningplan-plan_view .bottom_right_container  .content_name{
	color: #2e3a4d!important;
    font-weight: 600;
    font-size: 13px;
    flex-grow: 1;
}

@media (max-width: 767px){
#page-local-learningplan-plan_view .course_container {
    flex-direction: column;
}
#page-local-learningplan-plan_view .course_img {
    max-width: 100%;
    height: 200px;
}
#page-local-learningplan-plan_view  .lpimg_bg {
    display: block;
}
#page-local-learningplan-plan_view .summary_container {
	max-width: 100%;
}
#page-local-learningplan-plan_view .planview_container .planview_topcontainer{
	flex-direction: column;
}

#page-local-learningplan-plan_view .bottom_content .language_option{
	text-align: left;
}
#page-local-learningplan-plan_view #region-main-box{
	padding: 0 !important;
}
}
@media (max-width: 1023px){
#page-local-learningplan-plan_view .courseimg_container .lpimg_bg {
    display: block !important;
}
#page-local-learningplan-plan_view .course_img .pvcourse_img{
	display: block ;
}
#page-local-learningplan-plan_view .planview_topcontainer .courseimg_container{
	display: block !important;
	max-width: 100%;
}
#page-local-learningplan-plan_view .planview_topcontent .border-top{
	display: none;
}
}



/*user learning path css*/
#page-local-learningplan-view .planview_topcontent .learningpath_img {
    width: 100%;
    max-width: 180px;
}
#page-local-learningplan-view .planview_topcontent .learningpath_img .lpimg_bg{
    height: 100%;
    max-height: 220px;
}
#page-local-learningplan-view .planview_topcontent .learningpath_desc{
    flex-grow: 1;
}
#page-local-learningplan-view .header-maxwidth {
    background-image: linear-gradient(45deg,#4688d5,#043b72);
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
#page-local-learningplan-view .header-maxwidth>div {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1rem;
}
#page-local-learningplan-view  .page-header-headings h1 {
    font-size: 21px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 600!important;
}
#page-local-learningplan-view  .page-header-headings h1:after {
    border-bottom: none!important;
}
#page-local-learningplan-view .planview_container {
    background-image: linear-gradient(106deg,#4688d5,#043b72);
    color: #fff;
}
#page-local-learningplan-view #region-main {
    padding: 0!important;
    background-color: #f6f6f6;
}
#page-local-learningplan-view .planview_topcontent .radiostars{
	display: none;
}

#page-local-learningplan-view .planview_topcontent .overall_users,
#page-local-learningplan-view .planview_topcontent .like_unlike{
    margin-top: 0;
}

#page-local-learningplan-view .planview_topcontent .overall_users i{
    font-size: 14px!important;
    color: #fff!important;
    font-weight: 600;
}
#page-local-learningplan-view .planview_topcontent .overall_users i:before {
    margin-right: 7px;
}
#page-local-learningplan-view .planview_topcontent .description .alert-info {
    padding: 0!important;
    border: none!important;
    text-align: left!important;
} 
#page-local-learningplan-view .planview_topcontent .description p {
    color: #f7f9fb;
    font-size: 15px;
}
#page-local-learningplan-view .planview_topcontent .progress_bar .progress {
    width: 50%;
    margin: 15px 0;
    height: 8px!important;
}
#page-local-learningplan-view .planview_container .progress_bar .progress-bar {
    background-color: #1f67b7;
    border: 1px solid #fff;
    border-radius: 5px;
}
#page-local-learningplan-view .planview_topcontent .border-top {
    border-top: 1px solid #dee5ea33!important;
}
#page-local-learningplan-view #region-main #maincontent {
    height: 0;
}
#page-local-learningplan-view .lpcoursesuser_view_container {
    background-color: #f6f6f6!important;
    margin-top: 0!important;
    border: none;
}
#page-local-learningplan-view .course_img {
    width: 100%;
    max-width: 180px;
}
#page-local-learningplan-view .course_img .pvcourse_img {
    border-radius: 8px !important;
    height: 100%;
    min-height: 190px;
}
#page-local-learningplan-view .lpcourseslist .course_container {
    box-shadow: 0 0 1px 1px #fff;
    border-radius: 15px;
}
#page-local-learningplan-view .summary_container {
    border-right: none!important;
    width: 100%;
}
#page-local-learningplan-view .summary_container .desc_block a {
    color: #2a364a;
    font-size: 17px;
}
#page-local-learningplan-view .summary_container .desc_block .course_rating {
    font-size: 17px;
    color: #2a364a;
}
#page-local-learningplan-view .summary_container .lp_course_desc {
    min-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #828d9a;
}
#page-local-learningplan-view .max_progress h6 {
    color: #2a364a;
}
#page-local-learningplan-view .max_progress .progress {
    width: 60%;
    margin: 0;
    height: 8px!important;
    background-color: #efefef;
    flex-grow: 1;
}
#page-local-learningplan-view .max_progress .progress_percentage {
    font-weight: 500;
    
}
#page-local-learningplan-view .bottom_content .language_option {
    text-align: right;
}
#page-local-learningplan-view .summary_container .couse_status {
    font-weight: 600;
    font-size: 14px;
}
#page-local-learningplan-view .lpcourseslist {
    height: 100%;
}
#page-local-learningplan-view .lpcourses {
    border-left: 0!important;
}
#page-local-learningplan-view  .summary_container:after {
   border-right: none !important;
   content: none !important;
   border-left-color: none !important;
   
}
#page-local-learningplan-view .lp_course_sortorder {
    padding-right: 0;

}
#page-local-learningplan-view .lp_course-wrapper{
	background-color: #f6f6f6;
    margin-top: 0;
}
#page-local-learningplan-view .lp_bottom_container{
	margin-top:1rem;
}
#page-local-learningplan-view .lp_bottom_container .learningpath_details, 
#page-local-learningplan-view .lp_bottom_container .learningpath_courses {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 0 1px 2px 0 #ddd;
    margin-bottom: 2rem!important;
    background-color: #fff;
}
#page-local-learningplan-view .lp_bottom_container .block_heading {
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
    font-size: 15px!important;
    color: #2a364a;
}
#page-local-learningplan-view .lp_bottom_container .block_content {
    margin-top: 10px;
}
#page-local-learningplan-view .lp_bottom_container .content_name {
    color: #2e3a4d!important;
    font-weight: 600;
    font-size: 13px;
    flex-grow: 1;
}
#page-local-learningplan-view .lp_course_sortorder .courseprogress_container {
    min-width: 90px;
}
#page-local-learningplan-view .courseprogress_container .check_circle_icon {
     border: 1px solid #c7c7c7;
     border-radius: 50px;
     width: 45px;
     height: 45px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
#page-local-learningplan-view  .courseprogress_container.completed .check_circle_icon{
	background-image: url([[pix:local_learningplan|lp]]) ;
    border:none;
    border-radius: 0;
}
#page-local-learningplan-view  .courseprogress_container .course_line {
    width: 1px;
    background-color: #c8c8c8;
    align-self: stretch;
    margin: 2px auto 2px auto;
    flex: 1;
}
#page-local-learningplan-view .bottom_content .language_option i {
    color: #908c8c;
}
#page-local-learningplan-view .bottom_content .language_option strong {
    font-size: 14px;
    color: #2a364ad6;
}
#page-local-learningplan-view .courseprogress_container .date, 
#page-local-learningplan-view .courseprogress_container .time {
    font-size: 14px;
    color: #8f959b!important;
}


@media (max-width: 767px){
#page-local-learningplan-view .course_container {
    flex-direction: column;
}
#page-local-learningplan-view .learningpath_img {
    max-width: 100%;
    height: 200px;
}
#page-local-learningplan-view  .lpimg_bg {
    display: block;
}
#page-local-learningplan-view .summary_container {
	max-width: 100%;
}
#page-local-learningplan-view .planview_container .planview_topcontent{
	flex-direction: column;
}

#page-local-learningplan-view .bottom_content .language_option{
	text-align: left;
}
#page-local-learningplan-view #region-main-box{
	padding: 0 !important;
}
}
@media (max-width: 1023px){
#page-local-learningplan-view .learningpath_img .lpimg_bg {
    display: block !important;
}

#page-local-learningplan-view .planview_topcontent .learningpath_img{
	display: block !important;
	max-width: 100%;
}
#page-local-learningplan-view .planview_topcontent .border-top{
	display: none;
}
}
#page-local-learningplan-plan_view #learningplantabs .tab-content .tab-pane:not(#plan_courses) {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}
#page-local-learningplan-view  .summary_container{
     border-right: none !important;
    }
#page-local-learningplan-view .course_img .pvcourse_img .optional,
#page-local-learningplan-view .course_img .pvcourse_img .mandatory{
     font-size: 10px;
     background-color: #fff;
     padding: 0 15px;
     top: 10px;
     right: 12px;
     box-shadow: 0 1px 2px #dfdfdf;
     font-weight: 600;
     position: absolute;
     color: #000;
}
