{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{# action}}
    <ul class="course_extended_menu_list">
        <li>
            {{# assignusers}}
                <div class="courseedit course_extended_menu_itemcontainer">
                    <a title="{{# str}} edit_course,local_classroom {{/ str}}" class="course_extended_menu_itemlink" href="{{ assignusersurl }}"><i class="icon fa fa-user-plus fa-fw" aria-hidden="true" aria-label="" title ="{{# str}} assignusers,local_classroom {{/ str}}"></i></a>
                </div>
            {{/ assignusers}}
            
        </li>
       
        {{# unenroll}}
            <li>
                <div class="coursebackup course_extended_menu_itemcontainer">
                    <a title="{{# str}} coursebackup {{/ str}}" class="course_extended_menu_itemlink" href="javascript:void(0)" alt = "{{# str}} unenroll,local_classroom {{/ str}}"
                        title = "{{# str}}  unenroll,local_classroom {{/ str}}" onclick="(function(e){ require('local_classroom/classroom').deleteConfirm({action:'unenrollclassroom', id: {{ classroomid }}, classroomid: {{ classroomid }},classroomname:'{{classname_string}}'}) })(event)"><i class="icon fa fa-user-times" aria-hidden="true" aria-label="" title = "{{# str}}  unenroll,local_classroom {{/ str}}"></i></a>
                </div>
            </li>
        {{/ unenroll}}
        <li>
            {{# edit}}
                <div class="coursebackup course_extended_menu_itemcontainer">
                    <a title="{{# str}}  user_enrollments, local_classroom {{/ str}}" class="course_extended_menu_itemlink" href="javascript:void(0)" title = "{{# str}} edit {{/str}}" onclick="(function(e){ require('local_classroom/ajaxforms').init({contextid:1, component:'local_classroom', callback:'classroom_form', form_status:0, plugintype: 'local', pluginname: 'classroom', id: {{ classroomid }} }) })(event)"><i class="icon fa fa-pencil fa-fw" aria-hidden="true" aria-label="" title = "{{# str}} edit {{/str}}"></i>
                    </a>         
                </div>
            {{/ edit}}
            </li>
            <li>
            {{# classroomcompletion}}
                <div class="coursebackup course_extended_menu_itemcontainer">
                    <a title="{{# str}}  classroom_completion, local_classroom {{/ str}}" class="course_extended_menu_itemlink" href="javascript:void(0)" title = "{{# str}} classroomcompletion, local_classroom {{/str}}" onclick="(function(e){ require('local_classroom/ajaxforms').init({contextid:1, component:'local_classroom', callback:'classroom_completion_form', form_status:0, plugintype: 'local', pluginname: 'classroom_completion_settings', id: {{ classroomcompletion_id }}, cid: {{ classroomid }} }) })(event)"><i class="icon fa fa-tags fa-fw" aria-hidden="true" aria-label="" title = "{{# str}} classroomcompletion , local_classroom{{/str}}"></i>
                    </a>         
                </div>
            {{/ classroomcompletion}}
        </li>
         {{#classroom_actionstatus}}
                <li>
                      <div class="coursebackup course_extended_menu_itemcontainer">
                          {{{.}}}       
                      </div>
                </li>
         {{/classroom_actionstatus}}
    </ul>
{{/ action}}
{{# classroom}}
<div class="classview_topcontainer">
    <div class="w-100 pull-left classview_topcontent">
        <div class="col-12 col-md-3 pull-left classview_topcontent_left p-0">
            <div style="background-image: url('{{ classroomlogoimg }}');" alt="{{ classname }}" title="{{ classname }}" class="classviewimg" ></div>
            {{# classroom_status}}
                <div class="cr_status_icon cr_status_band">
                    <span class="status_{{classroom_status}} cr_status_strip" title="{{classroom_status}}" alt="{{classroom_status}}">{{classroom_status}}</span>&nbsp;
                </div>
            {{/ classroom_status }}
            <div class="classname_strip">
                <span class="classname" title = "{{ classname }}">{{ classname_string }}</span>
                <span class="start_end text-center">{{#userdate}} {{startdate}}, %d/%m/%Y %H:%M {{/userdate}}&nbsp;-&nbsp;{{#userdate}} {{enddate}}, %d/%m/%Y %H:%M {{/userdate}}</span>
            </div>
             {{{display_ratings}}}
             {{{display_like}}}
             {{{display_review}}}
               
            {{# userenrolmentcap }}
            
            {{/ userenrolmentcap }}
            {{# selfenrolmentcap }}
                <div class="enrol_strip">
                    <span class="enroll">{{{.}}}</span>
                </div>
            {{/ selfenrolmentcap }}
        </div>
        <div class="col-md-9 col-12 pull-left classview_topcontent_right">
            <h6><b>{{#str}}summary{{/str}}</b></h6>
            <div class="description">
                {{# isdescription}}
                    {{^ descriptionstring}}
                        <p class="text-muted">{{{ description }}}</p>
                    {{/ descriptionstring }}
                    {{# descriptionstring}}
                        <p class="text-muted">{{ descriptionstring }} ...</p>
                    {{/ descriptionstring }}
                {{/ isdescription}}
                {{^ isdescription }}
                    <p class="alert alert-info text-center">{{#str}}nocoursedesc, local_classroom{{/str}}</p>
                {{/ isdescription }}
            </div>
            <div class="w-100 pull-left topcontent_right_middle mt-1">
                <div class="col-md-6 col-12 pull-left classdetails_left">
                    <p class="contentlist">
                        <span class="lable_name ">{{#str}}classroom_location, local_classroom{{/str}}</span>
                        <span class="text-muted">: </span>
                        <span class="text-muted">&nbsp; {{# classroomlocation }} {{ classroomlocation }} {{/ classroomlocation }} {{^ classroomlocation }} N/A {{/ classroomlocation }}</span>
                    </p>
                    <p class="contentlist">
                        <span class="lable_name">{{#str}}department{{/str}}</span>
                        <span class="text-muted">: </span>
                        <span class="text-muted" title="{{classroomdepartmenttitle}}" >&nbsp;{{# classroomdepartment }} {{ classroomdepartment }} {{/ classroomdepartment }}{{^ classroomdepartment }} N/A {{/ classroomdepartment }}</span>
                    </p>
                </div>
                <div class="col-md-6 col-12 pull-left classdetails_right">
                    <div class="w-100 pull-left">
                        <h6>{{#str}}seats_allocation, local_classroom{{/str}} :</h6>
                        <div class="col-md-5 col-6 pull-left">
                            <div class="pull-left">
                                <span class="seats_icon pull-left mr-3">
                                    <img src="{{seats_image}}" class="seat_img">
                                </span>
                            </div>
                            <span class="seats_count">{{allocatedseats}}/{{totalseats}}</span>
                        </div>
                        <div class="col-md-7 col-sm-12 col-12 pull-left p-0 crseats_progress">
                            <div class="progress progress-striped">
                               <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{seats_progress}}%">
                                    <p class="progress-bar-percent-value m-0">{{seats_progress}}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 p-0 pull-left mt-1">
                        <h6>{{#str}}users_completions, local_classroom{{/str}} :</h6>
                        <div class="col-md-5 col-6 pull-left">
                            <div class="pull-left mr-3">
                                <i class="fa fa-users fa-fw seat_img" aria-hidden="true" aria-label="" title="" ></i>
                            {{! </span> }}
                            </div>
                            <span class="waitingseats_count">{{completed_seats}}/{{allocatedseats}}</span>
                        </div>
                        <div class="col-md-7 col-12 pull-left p-0 crseats_progress">
                            <div class="progress progress-striped">
                               <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{completion_seats_progress}}%">
                                    <p class="progress-bar-percent-value m-0">{{completion_seats_progress}}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#waitinglist_users_tab}}
                        <div class="w-100 p-0 pull-left mt-1">
                            <h6>{{#str}}user_waiting_list, local_classroom{{/str}} :</h6>
                            <div class="col-md-5 col-6 pull-left">
                                <div class="pull-left mr-3">
                                <i class="fa fa-list-ol fa-fw seat_img" aria-hidden="true" aria-label="" title="" ></i>
                                {{! </span> }}
                                </div>
                                <span class="waitingseats_count">{{waitingseats}}</span>
                            </div>
           
                        </div>
                    {{/waitinglist_users_tab}}
                </div>
                <div class="w-100 pull-left topcontent_right_bottom {{# trainerpagination}}scroll_trainers{{/ trainerpagination}} p-0 mt-2 mb-2">
                    <div class="w-full pull-left"><b>{{#str}}trainers, local_classroom{{/str}} :</b></div>
                    {{# trainers}}
                        <div class="col-md-4 col-12 pull-left trainers_scroll p-0">
                            <div class="col-3 pull-left pl-0">{{{ classroomtrainerpic }}}</div>
                            <div class="col-9 trainers_scroll_right mt-1 pull-left p-0">
                                <span class="text-muted">{{ trainername }}</span>
                                <span class="text-muted">{{ traineremail }}</span>
                            </div>
                        </div>
                    {{/ trainers }}
                    {{^ trainers}}
                        <div class="w-full pull-left alert alert-info">{{#str}}no_trainer_assigned, local_classroom{{/str}}</div>
                    {{/ trainers}}
                    {{# trainerpagination }}
                        <span><i class="fa fa-angle-left fa-2x trainer-prev" aria-hidden="true"></i></span>
                        <span><i class="fa fa-angle-right fa-2x trainer-next" aria-hidden="true"></i></span>
                    {{/ trainerpagination }}
                   
                </div>
            </div>
        </div>
    </div>

        <div class="classview_tabscontainer">
        <ul class="course_extended_menu_list">
        {{# certificate_exists }}
            {{# certificate_download }}
                <li>
                    <a class="course_extended_menu_itemlink" title="{{#str}} download_certificate, local_courses {{/ str}}" class="course_extended_menu_itemlink" href="{{ config.wwwroot}}/admin/tool/certificate/view.php?code={{certid}}"><i class="icon fa fa-download" aria-hidden="true"></i>
                    </a>
                </li>
            {{/ certificate_download }}
            {{^ certificate_download }}
                  <li>
                        <a class="course_extended_menu_itemlink" title="{{# str}} unableto_download_msg, local_classroom, Learning path {{/str}}" class="course_extended_menu_itemlink" href="javascript: void(0)"><!-- <i class="icon fa fa-download" aria-hidden="true"></i>--> 
                        <i class="icon fa fa-download" aria-hidden="true"></i>

                        </a>
                    </li>
            {{/ certificate_download }}
        {{/ certificate_exists }}
       </ul>
            <ul class="nav nav-tabs inner_tabs" role="tablist">
                {{#session_tab}}
                    <li class="nav-item classroommodules" role="presentation" data-module="sessions" data-status = 1>
                        <a class="active nav-link" data-toggle="tab"  href="javascript:void(0);" aria-controls="sessions" role="tab">{{# str }} sessions, local_classroom {{/ str }}</a>
                    </li>
                {{/session_tab}}
                {{#course_tab}}
                    <li class="nav-item classroommodules" role="presentation" data-module="courses" data-status = 2>
                        <a class="nav-link" data-toggle="tab" href="javascript:void(0);" aria-controls="courses" role="tab">{{# str }} courses, local_classroom {{/ str }}</a>
                    </li>
                 {{/course_tab}}
                 {{#user_tab }}
                    <li class="nav-item classroommodules" role="presentation" data-module="users" data-status = 3>
                        <a class="nav-link" data-toggle="tab" href="javascript:void(0);" aria-controls="users" role="tab">{{# str }} users, local_classroom {{/ str }}</a>
                    </li>
                 {{/user_tab }}
                 {{#feedback_tab }}
                    <li class="nav-item classroommodules" role="presentation" data-module="feedbacks" data-status = 4>
                        <a class="nav-link" data-toggle="tab" href="javascript:void(0);" aria-controls="evaluations" role="tab">{{# str }} pluginname, local_evaluation {{/ str }}</a>
                    </li>
                {{/feedback_tab }}
                {{#completion_settings_tab}}
                    <li class="nav-item informationdata" role="presentation" data-module="completioninfo" data-status = 6>
                        <a class="nav-link" data-toggle="tab" href="javascript:void(0);" onclick="(function(e){ require('local_classroom/classroom').completionInfo({contextid:1, classroomid: {{classroomid}}, name:'completioninfo'}) })(event)" aria-controls="completion_settings_tab" role="tab">{{# str }} completion_settings_tab, local_classroom {{/ str }}</a>
                    </li>
                {{/completion_settings_tab}}
                {{#user_tab }}
                    {{#target_audience_tab}}
                        <li class="nav-item informationdata" role="presentation" data-module="targetaudience" data-status = 7>
                            <a class="nav-link" data-toggle="tab" href="javascript:void(0);" onclick="(function(e){ require('local_classroom/classroom').completionInfo({contextid:1, classroomid: {{classroomid}}, name:'targetaudience'}) })(event)" aria-controls="target_audience_tab" role="tab">{{# str }} target_audience_tab, local_classroom {{/ str }}</a>
                        </li>
                    {{/target_audience_tab}}
                {{/user_tab }}
                {{#requested_users_tab}}
                    <li class="nav-item classroommodules" role="presentation" data-module="requestedusers" data-status = 5>
                        <a class="nav-link" data-toggle="tab" href="javascript:void(0);" aria-controls="requested_users_tab" role="tab">{{# str }} requested_users_tab, local_classroom {{/ str }}</a>
                    </li>
                {{/requested_users_tab}}
                {{#waitinglist_users_tab}}
                    <li class="nav-item classroommodules" role="presentation" data-module="waitinglistusers" data-status =8>
                        <a class="nav-link" data-toggle="tab" href="javascript:void(0);" aria-controls="waitinglist_users_tab" role="tab">{{# str }} waitinglist_users_tab, local_classroom {{/ str }}</a>
                    </li>
                {{/waitinglist_users_tab}}
            </ul>
            <div class="" id="classroommodulescontent">
                <div class="tab-content pull-left w-100">

                    <div class="tab-pane active" id="sessions" role="tabpanel">
                        {{#createsession}}
                        <div class="createicon">
                            <i title="{{# str}} create_session, local_classroom{{/str }}" class="fa fa-plus create_session createpopicon" aria-hidden="true" onclick="(function(e){ require('local_classroom/ajaxforms').init({contextid:1, component:'local_classroom', callback:'session_form', form_status:0, plugintype: 'local_classroom', pluginname: 'session', id:0, cid: {{classroomid}}, title: 'addsession' }) })(event)"></i>
                        </div>
                        {{/createsession}}
                         <div class="m-t-2" id="sessions_tabdata" data-region="sessions_tabdata-preview-container">
                            <div data-region="sessions_tabdata-count-container"></div>
                            <div data-region="sessions_tabdata-list-container" id ="sessionsid"></div>
                        </div>

                    </div>

                    <div class="tab-pane" id="courses" role="tabpanel">
                        {{#assign_courses}}
                            <div class="createicon"><i class="fa fa-plus add_classroomcourse createpopicon" aria-hidden="true" title="Assign Courses" onclick="(function(e){ require('local_classroom/ajaxforms').init({contextid:1, component:'local_classroom', callback:'course_form', form_status:0, plugintype: 'local_classroom', pluginname: 'course', id:0, cid: {{classroomid}} }) })(event)"></i>
                            </div>
                        {{/assign_courses}}

                        <div class="m-t-2" id="courses_tabdata" data-region="courses_tabdata-preview-container">
                            <div data-region="courses_tabdata-count-container"></div>
                            <div data-region="courses_tabdata-list-container" id ="coursesid"></div>
                        </div>
                    </div>

                    <div class="tab-pane" id="users" role="tabpanel">
                    {{#assignusers}}
                        <div class="createicon"><a href="{{config.wwwroot}}/local/classroom/enrollusers.php?cid={{classroomid}}"><i class="icon fa fa-user-plus fa-fw add_classroomcourse createpopicon cr_usericon" aria-hidden="true" title="{{#str}}viewclassroom_assign_users, local_classroom {{/str}}"></i></a></div>
                    {{/assignusers}}
                        <div class="m-t-2" id="users_tabdata" data-region="users_tabdata-preview-container">
                            <div data-region="users_tabdata-count-container"></div>
                            <div data-region="users_tabdata-list-container" id ="usersid"></div>
                        </div>
                    </div>

                    <div class="tab-pane" id="feedbacks" role="tabpanel">
                        {{#createfeedback}}
                            <div class="createicon">
                                <i class="fa fa-plus createpopicon" data-action="createevaluationmodal" title="{{#str}}createevaluation, local_evaluation {{/str}}" onclick="(function(e){ require('local_evaluation/newevaluation').init('createevaluationmodal',1, -1,{{classroomid}},'classroom') })(event)"></i>
                            </div>
                        {{/createfeedback}}
                        <div class="m-t-2" id="feedbacks_tabdata" data-region="feedbacks_tabdata-preview-container">
                            <div data-region="feedbacks_tabdata-count-container"></div>
                            <div data-region="feedbacks_tabdata-list-container" id ="feedbacksid"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="completioninfo" role="tabpanel">
                        <div class="completioninfo"></div>
                    </div>
                    <div class="tab-pane" id="targetaudience" role="tabpanel">
                        <div class="targetaudience"></div>
                    </div>
                    <div class="tab-pane" id="requestedusers" role="tabpanel">
                        <div class="m-t-2" id="requestedusers_tabdata" data-region="requestedusers_tabdata-preview-container">
                            <div data-region="requestedusers_tabdata-count-container"></div>
                            <div data-region="requestedusers_tabdata-list-container" id ="requestedusersid"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="waitinglistusers" role="tabpanel">
                        <div class="m-t-2" id="waitinglistusers_tabdata" data-region="waitinglistusers_tabdata-preview-container">
                            <div data-region="waitinglistusers_tabdata-count-container"></div>
                            <div data-region="waitinglistusers_tabdata-list-container" id ="waitinglistusersid"></div>
                        </div>
                    </div>
                    <!-- {{{ classroomsessions }}} -->
                </div>

            </div>
        </div>

</div>
{{#js}}

    $( document ).ready(function() {
        $(".trainer-next, .trainer-prev").click(function () {
            var div = $(".trainers_scroll")[0];
            var html = $(div).html();
            $(div).remove();
            $(".topcontent_right_bottom").append("<div class=\"col-md-4 col-12 pull-left trainers_scroll\">" + html + "</div>");
        });
    });
    $('.classroommodules').click(function(){
        var classroommodule = $(this).data('module');

        if ($(this).find('a').hasClass('active')){
            return true;
        }
        $(".tab-pane").removeClass('active');
        $("#"+classroommodule).addClass('active');

        var status = $(this).data('status');
        var targetid = classroommodule+'_tabdata';
        var options = {targetID: targetid,
                    templateName: 'local_classroom/classroomview'+classroommodule,
                    methodName: 'local_classroom_classroomview'+classroommodule,
                    perPage: 5,
                    cardClass: 'col-md-12 col-12',
                    viewType: 'card'};

        var dataoptions = {tabname: classroommodule,classroomid: {{classroomid}},contextid: 1 };
        var filterdata = {};
        for(i = 1; i<=7; i++){
            if(status != i){
                switch(i){
                    case 1:
                        $("#sessions_tabdataid").empty();
                    break;
                    case 2:
                        $("#coursesid").empty();
                    break;

                    case 3:
                        $("#usersid").empty();
                    break;

                    case 4:
                        $("#feedbacksid").empty();
                    break;

                    case 5:
                        $("#requestedusersid").empty();
                    break;

                    case 6:
                        $(".completioninfo").empty();
                    break;

                    case 7:
                        $(".targetaudience").empty();
                    break;
                }
                
            }
        }
        require(['local_costcenter/cardPaginate'], function(cardPaginate) {
            cardPaginate.reload(options, dataoptions,filterdata);
        });
    });

{{/js}}
{{/ classroom}}