{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{# response}}

{{# records}}
<div class="classview_topcontainer w-full pull-left">
    <div class="col-12 pull-left classview_topcontent pl-0">
        <div class="col-12 pull-left classview_topcontent_right">
            <h3>{{ name }}</h3>
            <div class="description">
                {{# isdescription}}
                    {{^ descriptionstring}}
                        <p class="text-muted">{{{ description }}}</p>
                    {{/ descriptionstring }}
                    {{# descriptionstring}}
                        <p class="text-muted">{{ descriptionstring }} ...</p>
                    {{/ descriptionstring }}
                {{/ isdescription}}
                {{^ isdescription }}
                    <p class="alert alert-info text-center">{{#str}}nocoursedesc, local_classroom{{/str}}</p>
                {{/ isdescription }}
            </div>
            <div class="w-100 pull-left topcontent_right_middle">
                <div class="col-md-6 col-12 pull-left classdetails_left">
                 	<p class="contentlist"><span class="lable_name">{{#str}}scheduled, local_classroom{{/str}}</span> <span class="text-muted">: </span><span class="text-muted">&nbsp;{{#userdate}} {{startdate}}, %d %b' %y %H:%M:%S {{/userdate}}&nbsp;-&nbsp;{{#userdate}} {{enddate}}, %d %b' %y %H:%M:%S {{/userdate}}</span></p>
                     <!--<p class="contentlist"><span class="lable_name">{{#str}}classroom_code, local_classroom{{/str}}</span> <span class="text-muted">: </span><span class="text-muted">&nbsp;{{ shortname }}</span></p>-->
                    <p class="contentlist"><span class="lable_name ">{{#str}}classroom_location, local_classroom{{/str}}</span> <span class="text-muted">: </span><span class="text-muted">&nbsp; {{# classroomlocation }} {{ classroomlocation }} {{/ classroomlocation }} {{^ classroomlocation }} N/A {{/ classroomlocation }}</span></p>
                    <p class="contentlist"><span class="lable_name">{{#str}}department, local_classroom{{/str}}</span> <span class="text-muted">: </span><span class="text-muted" title="{{classroomdepartmenttitle}}">&nbsp;{{# classroomdepartment }} {{ classroomdepartment }} {{/ classroomdepartment }}{{^ classroomdepartment }} N/A {{/ classroomdepartment }}</span></p>
                    <!--<p class="contentlist"><span class="lable_name">{{#str}}employee_location, local_classroom{{/str}}</span> <span class="text-muted">: </span><span class="text-muted">&nbsp;{{# emplocation }} {{ emplocation }} {{/ emplocation }}{{^ emplocation }} N/A {{/ emplocation }}</span></p>-->
                </div>
                <div class="col-md-6 col-12 pull-left classdetails_right">
                    
                      <h5>{{#str}}seats_allocation, local_classroom{{/str}}</h5>
                      <p>{{#str}}total_seats, local_classroom{{/str}}{{totalseats}}</p>
                      <!--<p>Allocated&nbsp;Seats&nbsp;:&nbsp;{{allocatedseats}}</p>-->
                   
                </div>
            </div>
            <div class="w-100 pull-left topcontent_right_bottom p-0 mt-10">
                {{# trainers}}
                    <h6><b>{{#str}}trainers, local_classroom{{/str}}</b></h6>
                    <div class="col-md-4 col-12 pull-left trainers_scroll">
                        <div class="col-3 pull-left p-0">{{{ classroomtrainerpic }}}</div>
                        <div class="col-9 pull-left trainers_scroll_right"><span class="text-muted">{{ trainername }}</span>
                            <!--<span class="text-muted">{{ trainerdesignation }}</span>-->
                            <span class="text-muted">{{ traineremail }}</span>
                        </div>
                    </div>
                {{/ trainers }}
                {{^ trainers}}
                    <div class="w-100 pull-left alert alert-info">{{#str}}no_trainer_assigned, local_classroom{{/str}}</div>
                {{/ trainers}}
                {{# trainerpagination }}
                <span><i class="fa fa-angle-left fa-2x trainer-prev" aria-hidden="true"></i></span>
                <span><i class="fa fa-angle-right fa-2x trainer-next" aria-hidden="true"></i></span>
                {{/ trainerpagination }}
            </div>
        </div>
    </div>
</div>

<div class="mt-15 w-100 pull-left">
    <div class="w-100 pull-left p-0 mt-15">
        <h3 class="watnext_head pb-15">{{#str}}whats_next, local_classroom{{/str}}</h3>
    </div>
    <div class="course_buttons col-12 pull-left pt-15 pb-15">
        <div class="col-md-6 col-9 pull-left">{{#str}}do_you_want_create_session, local_classroom{{/str}}</div>
        <div class="col-md-6 col-3 pr-0 pull-left text-right">
            <a href="javascript:void(0)" onclick="(function(e){ require('local_classroom/ajaxforms').init({contextid:{{ contextid }}, component:'local_classroom', callback:'session_form', form_status:0, plugintype: 'local_classroom', pluginname:'session', id:0, cid: {{ classroomid }}, }) })(event)"><button class="btn btn-primary">Go to</button></a>
        </div>
    </div>
    <div class="course_buttons col-12 pull-left pt-15 pb-15">
         <div class="col-md-6 col-9 pull-left">{{#str}}do_you_want_add_course, local_classroom{{/str}}</div>
         <div class="col-md-6 col-3 pr-0 pull-left text-right">
            <a href="javascript:void(0)" onclick="(function(e){ require('local_classroom/ajaxforms').init({contextid:{{ contextid }}, component:'local_classroom', callback:'course_form', form_status:0, plugintype: 'local_classroom', pluginname: 'course', id:0, cid: {{ classroomid }} }) })(event)"><button class="btn btn-primary">Go to</button></a>
        </div>
    </div>
	{{#linkpath}}
	 <div class="course_buttons col-12 pull-left pt-15 pb-15">
         <div class="col-12 pr-0 text-right">
            <a href='{{ linkpath }}' ><button class="btn btn-primary">{{#str}}continue{{/str}}</button></a>
        </div>
    </div>
  {{/linkpath}}
</div>
{{#js}}
    $( document ).ready(function() {
        $(".trainer-next, .trainer-prev").click(function () {
            var div = $(".trainers_scroll")[0];
            var html = $(div).html();
            $(div).remove();
            $(".topcontent_right_bottom").append("<div class=\"col-md-4 trainers_scroll\">" + html + "</div>");
        });
    });

{{/js}}
{{/ records}}
{{/ response}}
