{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{# classroom_view_count}}
{{# card_view}}
<div id="{{{subtab}}}" class="tab-pane divslider active active_subtab">
<div class="userdashboard_content userdashboard_ctype_classroom row d-flex flex-row flex-{{#enableflow}}no{{/enableflow}}wrap">
{{#enableslider}}
     {{> block_userdashboard/userdashboard_enable_slider}}  
{{/enableslider}}
    {{#moduledetails}}
    <div class="col-sm-4 col-12 tabs_cmn_class courses_inprogress_slide {{{subtab}}} ctype_classroom" data-index="{{index}}">
        <div class="classroom_container w-full">
            <div class="w-full ub_classrooms">
                <div class="d-flex">
                    <div class="ub_classroomname  flex-grow-1">
                        <a href="{{classroom_url}}" title="{{classroomFullname}}"> {{displayClassroomFullname}}</a>
                    </div>
                    <div class="rating_container">
                        <i class="fa fa-star"></i> 4.4
                    </div>
                </div>
                <div class="w-full">
                    <div class="w-full coursecontent">
                        <div class="desc coursedesc">{{{classroomSummary}}}</div>
                        <div class="schedule my-2"><strong>{{{startdate}}} - {{{enddate}}}</strong></div>
                        <a href="{{classroom_url}}" class="">
                            <button class="btn btn-primary my-2 launch_btn">{{#str}}launch,block_userdashboard{{/str}}</button>
                        </a>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
        
    {{/moduledetails}}  
    {{# viewMoreCard}}
        <!-- <div class="col-sm-6 col-12 pull-left view_more_data_card ctype_classroom d-flex justify-content-center align-items-center">
            <a class="center_elemet" href="{{{view_more_url}}}">{{#str}}viewmore{{/str}}</a>
        </div> -->
    {{/ viewMoreCard}}
</div>
</div>
{{/ card_view}}
{{# list_view}}
<table id ="userdashboard_table_content" class="generaltable">
      <thead>
          <tr>
              <th>{{#str}}classroomname, local_classroom {{/str}}</th>
              <th></th>
              <th>{{#str}}description,local_classroom {{/str}}</th>
              <th>{{#str}}startdate, local_classroom {{/str}}</th>
              <th>{{#str}}enddate,local_classroom {{/str}}</th>
             </tr>
    </thead>
    <tbody>
          {{# moduledetails}}
         <tr>
            <td> 
               <a href='{{classroom_url}}' alt="{{classroomFullname}}">{{displayClassroomFullname}}</a> 
            </td>
            <td>
                <a href="{{classroom_url}}">
                   <button class="btn btn-sm launch_btn">{{#str}}launch,block_userdashboard{{/str}}</button>
                 </a>
                 {{{ copyaction }}}
            </td>

            <td> {{{classroomSummary}}} </td>
            <td> {{{startdate}}} </td>
            <td> {{{enddate}}} </td>
          </tr>
        {{/ moduledetails}}
    </tbody>
</table>
{{/ list_view}}

{{/ classroom_view_count}}

{{^ classroom_view_count}}
    {{> block_userdashboard/userdashboard_nodata_text}}  
{{/ classroom_view_count}}
