{{#response}}
{{#viewtypeCard}}
<div id="courses_tab_content">
    <table class="ap-sessions-table" id="coursesdata">
        <thead>
            <tr>
                <th>{{#str}}course{{/str}}</th>
                <th>{{#str}}completion_status,local_classroom{{/str}}</th>
                {{#action}}{{#selfenrolmenttabcap}}<th>{{#str}}actions{{/str}}</th>{{/selfenrolmenttabcap}}{{/action}}
            </tr>
        </thead>
        <tbody>
        {{#records}}
        <tr>
            <td><a href="{{linkpath}}" title="{{name}}" style="font-weight:600; color:var(--ap-primary); text-decoration:none;">{{name}}</a></td>
            <td><span class="ap-badge {{#status}}ap-badge--{{status}}{{/status}}">{{status}}</span></td>
            {{#selfenrolmenttabcap}}
            {{#action}}
            <td>
                <a href="javascript:void(0);" title="{{#str}}unassign,local_classroom{{/str}}" class="ap-sessions-table__action-btn ap-sessions-table__action-btn--danger"
                   onclick="(function(e){ require('local_classroom/classroom').deleteConfirm({action:'deleteclassroomcourse', classroomid: {{classroomid}}, name:'{{{name}}}', id: {{id}}}) })(event)">
                    <i class="fa fa-times"></i>
                </a>
            </td>
            {{/action}}
            {{/selfenrolmenttabcap}}
        </tr>
        {{/records}}
        </tbody>
    </table>
</div>
{{/viewtypeCard}}
{{/response}}
