{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

   
    ddd

}}
    {{#response}}
            {{#viewtypeCard}}
            <table class="generaltable dataTable no-footer" id="skill_repository" role="grid" aria-describedby="skill_repository_info">
                <thead>
                    <tr role="row">
                        <th class="header text-left" tabindex="0">Skill name</th>
                        <th class="header text-left" tabindex="0">Category</th>
                        <th class="header text-center" tabindex="0">Achieved Users</th>
                        <th class="header text-center" tabindex="0">Code</th>
                        <th class="header text-center" tabindex="0">Actions</th>
                    </tr>
                </thead>
            <tbody>
            {{#records}}

                <tr>
                    <td class="text-left">
                        <a href="../skillrepository/skillinfo.php?id={{skill_id}}">{{{skilname}}}</a>
                    </td>
                    <td class="text-left">{{skill_catname}}</td>
                    <td class="text-center">{{achieved_users}}</td>
                    <td class="text-center">{{shortname}}</td>

                    <td class="text-center">
                         <a href="javascript:void(0)" data-action="createrepositorymodal" class="iconsmall" data-value="{{skill_id}}" onclick="(function(e){ require('local_skillrepository/newrepository').init({selector:'createrepositorymodal', contextid:1, repositoryid:{{skill_id}}}) })(event)" style="cursor:pointer" title="Edit">
                        <i class="fa fa-pencil fa-fw" title="{{# str }} edit_title, local_skillrepository {{/ str }}"></i>

                       
                        <a href="javascript:void(0)" title="{{# str}}delete{{/ str}}" onclick="(function(e){ require('local_skillrepository/newrepository').deleteskill({ selector: 'deleteskill' ,skillid:{{skill_id}},contextid:1}) })(event)">
                                        <i class="fa fa-trash fa-fw" aria-hidden="true" title="{{# str }} delete_title, local_skillrepository {{/ str }}" aria-label="Delete"></i>
                        </a>

                        
                    </td>
                </tr>     
            {{/records}}
            </tbody>
    </table>
    {{/viewtypeCard}}
{{/response}}



