{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.


    ddd

}}
{{#response}}
    {{#viewtypeCard}}
        <table class="generaltable dataTable no-footer" id="skill_repository" role="grid" aria-describedby="skill_repository_info">
            <thead>
                <tr role="row">
                    {{# is_admin}}
                        <th class="header text-left" tabindex="0">{{# str}} organisation, local_costcenter{{/ str}}
                        </th>
                    {{/ is_admin}}
                    <th class="header text-left" tabindex="0">Full Name</th>
                    <th class="header text-center" tabindex="0">Code</th>
                    <th class="header text-center" tabindex="0">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#records}}
                    <tr>
                        {{# is_admin}}
                            <td class="text-left">{{organisationname}}</td>
                        {{/ is_admin}}
                        <td class="text-left">{{skillscategoryname}}</td>
                        <td class="text-center">{{code}}</td>
                        <td class="text-center">
                            <a href="javascript:void(0)" data-action="createrepositorymodal" class="iconsmall" data-value="{{skill_id}}" onclick="(function(e){ require('local_skillrepository/newcategory').init({selector:'createcategorymodal', contextid:1, categoryid:{{skillscategory_id}}}) })(event)" style="cursor:pointer" title="Edit">
                                <i class="fa fa-pencil fa-fw" title="{{# str }} edit_title, local_skillrepository {{/ str }}"></i>
                            </a>
                            {{^ delete_cat}}
                                <a href="javascript:void(0)" title="{{# str}}delete{{/ str}}" onclick="(function(e){ require('local_skillrepository/newcategory').deletecategory({ selector: 'deletecategory' ,categoryid:{{skillscategory_id}},contextid:1}) })(event)">
                                    <i class="fa fa-trash fa-fw" aria-hidden="true" title="{{# str }} delete_title, local_skillrepository {{/ str }}" aria-label="Delete"></i>
                                </a>
                            {{/ delete_cat}}
                            {{# delete_cat}}
                                <a href="javascript:void(0)" title="{{# str}}delete{{/ str}}" onclick="(function(e){ require('local_skillrepository/newcategory').notdeletecategory({ selector: 'deletecategory' ,categoryid:{{skillscategory_id}},contextid:1}) })(event)">
                                    <i class="fa fa-trash fa-fw" aria-hidden="true" title="{{# str }} delete_title, local_skillrepository {{/ str }}" aria-label="Delete"></i>
                                </a>
                            {{/ delete_cat}}
                        </td>
                    </tr>
                {{/records}}
            </tbody>
        </table>
    {{/viewtypeCard}}
{{/response}}