{{!
    @template local_airpay_gamification/streak_calendar

    7-day streak heat map for the dashboard (GitHub contribution style).

    Context variables:
    - days: array of {date, label, active, is_today}
    - current_streak, longest_streak
}}
<div class="airpay-gamification__streak-calendar">
    <div class="airpay-gamification__streak-header">
        <span><i class="fa fa-fire" style="color: #f97316;"></i> {{current_streak}} day streak</span>
        <small>Best: {{longest_streak}} days</small>
    </div>
    <div class="airpay-gamification__streak-days">
        {{#days}}
        <div class="airpay-gamification__streak-day {{#active}}airpay-gamification__streak-day--active{{/active}} {{#is_today}}airpay-gamification__streak-day--today{{/is_today}}" title="{{date}}">
            <small>{{label}}</small>
            <div class="airpay-gamification__streak-dot"></div>
        </div>
        {{/days}}
    </div>
</div>
