<!-- Groups users View -->
 {{#response}}
{{#viewtypeCard}}
 {{#records}}
  <div class="{{cardClass}} pull-left {{^ visible}} inactive {{ /visible}}">
             <div class="card-page">
              {{ # groupname }}
               <div class="card-title d-flex justify-content-between"><b>{{ groupname }}</b>                  
                    <div class=" dropdown action_menu_dropdown">
                        <span  data-toggle="dropdown" class="px-2" aria-expanded="false">
                            <i class="fa fa-ellipsis-h "></i>
                        </span>
                          {{ / groupname }}

                       <div class="pull-right dropdown-menu dropdown-menu-right shadow-sm">{{{actions}}} </div>
                      
                    </div>
              </div>
            <div class="col-sm-6 pull-left">  
              <div class="group_id pull-left">
                <p><b>{{#str}}tabgroupid, local_groups{{/str}} :</b></p>
              </div>
            <div class="groupid  ml-2 pull-left">
              <p>{{{ groupid }}}</p>
            </div>
          </div>
          <div class="col-sm-6 pull-left">  
             <div class="group_count pull-left">
                <p><b>{{#str}}grouptabuserscount, local_groups{{/str}} :</b></p>
            </div>
            <div class="groupcount ml-2 pull-left">
            <p>{{groupcount}}</p>
            </div>
          </div>
          <div class="col-sm-6 pull-left">  
            <div class="group_count pull-left">
               <p><b>{{#str}}organisation, local_groups{{/str}} :</b></p>
           </div>
           <div class="groupcount ml-2 pull-left">
           <p>{{orgname}}</p>
           </div>
         </div>
   <div class="col-sm-12 pull-left mb-10">
    <ul>
      
    {{{userimages}}}
  
</ul>
    </div>  
        <a href="{{ location_url }}" class=" group_view btn btn-primary pull-right mr-10 ">{{#str}}grouptabmanageusers, local_groups{{/str}}</a>
      </div>
    </div>
  {{/records}}
 {{/viewtypeCard}}
{{/response}}
