{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_userdashboard/inner_tab

    Select an action to execute.

    Classes required for JS:
    * none

    Data attibutes required for JS:
    * none

    Context variables required for this template:
    * message - The message to explain why we ask user to select an action
    * choices - List of possible actions
    * confirm - Text for button confirms
    * cancel -  Text for button cancel

    Example context (json):
    {
        "message": "Message",
        "choices": [
            { "value": "1", "text": "One" },
            { "value": "2", "text": "Two" }
        ],
        "confirm": "Confirm",
        "cancel": "Cancel"
    }
}}

{{# inprogress_elearning_available}}

<div class="userdashboard_content {{{course_count_view}}} userdashboard_ctype_classroom">

    {{#enableslider}}
         {{> block_userdashboard/userdashboard_enable_slider}}  
    {{/enableslider}}    

    {{#inprogress_elearning}}
    <div class="col-sm-6 col-12 pull-left courses_inprogress_slide {{{subtab}}} ctype_classroom">
        <div class="classroom_container w-full pull-left">
            <div class="w-full pull-left ub_classrooms">
                <div class="w-full pull-left ub_classroomname pt-10 pr-15 pb-1 pl-15 mb-1">
                    <span class="userdashboard_employee_classroom_icon"></span>
                    {{{link}}}
                </div>
                <div class="w-full pull-left pl-10 pr-10 pb-10">
                    <div class="w-full pull-left pl-15 pr-15 coursecontent">
                        <div class="desc coursedesc">{{{coursesummary}}}</div>

                        <span class="pull-left schedule"><i class="fa fa-calendar pr-10" aria-hidden="true"></i>{{{startdate}}} &nbsp;-&nbsp;{{{enddate}}}</span>
                        <div class="pull-right mt-15 {{#rating_element}}w-full d-flex align-items-center justify-content-between flex-row flex-wrap{{/rating_element}}">
                            <div class="pull-left">{{{rating_element}}}</div>
                            <a href="{{{class_url}}}">
                                <button class="btn btn-primary launch_btn">{{#str}}launch,block_userdashboard{{/str}}</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
        
    {{/inprogress_elearning}}  

</div>
{{/ inprogress_elearning_available}}

{{^ inprogress_elearning_available}}
    {{> block_userdashboard/userdashboard_nodata_text}}  
{{/ inprogress_elearning_available}}
                   

