#page-local-courses-enrolledusers #course_users_wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden
}

#page-local-courses-enrolledusers #course_users tbody td:nth-last-child(2),
#page-local-courses-enrolledusers #course_users thead th:nth-last-child(2) {
    min-width: 80px
}

#page-local-courses-enrolledusers #course_users tbody td .fa-id-card-o.pull-right {
    margin-top: 3px;
    margin-left: 0
}

.collapsibleregioncaption {
    border: none;
    padding: 0 !important
}

#page-local-courses-courseenrol #addcontrols input[type=submit],
#page-local-courses-courseenrol #region-main input[type=button],
#page-local-courses-courseenrol #removecontrols input[type=submit] {
    border: none
}

.openLMStransition.local_courses .date_selector .visibleifjs .icon {
    margin-top: 12px
}

.cat_pop_icon {
    position: absolute;
    left: 22px;
    top: 25px
}

#page-local-courses-courseenrol .userselector div {
    display: none
}

body#page-local-courses-courseenrol #assignform {
    width: 97%;
    background-color: #fff;
    padding: 0 1%;
    clear: both;
    float: none;
    margin: auto;
    text-align: center;
    border-radius: 0 0 8px 8px;
    box-shadow: 4px 4px 5px #dedcdc;
    margin-bottom: 25px
}

body#page-local-courses-courseenrol table.roleassigntable.generaltable.generalbox.boxaligncenter tr>td {
    background-color: #f5f5f5
}

body#page-local-courses-courseenrol #assignform>div:first-child {
    overflow-x: auto
}

body#page-local-courses-courseenrol #assignform>div#continue {
    margin-top: 5px
}

body#page-local-courses-courseenrol .course_enroll_label_btns,
body#page-local-courses-courseenrol .course_enroll_label_right_btns {
    width: 100%;
    min-width: 322px;
    max-width: 322px
}

body#page-local-courses-courseenrol .course_enroll_label_btns {
    float: left
}

body#page-local-courses-courseenrol .course_enroll_label_right_btns {
    float: left
}

body#page-local-courses-courseenrol span.course_enroll_label_btns_span {
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    float: left;
    max-width: 126px;
    padding: 5px 0
}

body#page-local-courses-courseenrol .course_description {
    height: 225px;
    overflow: hidden;
    word-break: break-word
}

body#page-local-courses-courseenrol .course_description.show_more_description {
    height: inherit;
    overflow: auto
}

body#page-local-courses-courseenrol img#image.content-img {
    width: 100%;
    height: 300px
}

#page-local-courses-courses div#id_summary_editoreditable {
    height: 150px !important;
    min-height: 150px !important;
    max-height: 150px !important
}

#page-local-courses-courses .course_buttons {
    padding: 5px
}

#page-local-courses-courses .course_buttons a {
    float: left
}

#popup_category_wrapper {
    width: 100%;
    float: left;
    overflow: auto
}

#page-local-courses-courses .course_container {
    background-color: #fff;
    color: #000;
    min-height: 215px !important;
    box-shadow: 0px 0px 8px #ddd;
   /* padding: 25px 10px;*/
    margin: 15px 0;
}

.courseimg {
    width: 100%;
    height: 205px;
    position: relative;
}

#page-local-courses-courses .course_name a {
    font-size: 18px;
    word-break: break-word;
    color: #000
}

.coursedesc {
    min-height: 45px
}

.desc {
    color: #6d6e70
}

#page-local-courses-courses .course_actionslist {
    float: right
}

#page-local-courses-courses .filter_form {
    position: relative;
    top: -30px;
    transform: translateX(1366px);
    -webkit-transform: translateX(1366px);
    transition: all .5s
}

#page-local-courses-courses .search_filter {
    margin-top: 42px
}

#page-local-courses-courses .course_filters {
    width: 100%;
    float: right;
    padding: 0 20px;
    margin: auto;
    z-index: 2;
    position: absolute;
    overflow: hidden
}

#page-local-courses-courses .course_filters.open {
    height: auto;
    min-height: 120px
}

#page-local-courses-courses #filter_toggle {
    z-index: 2;
    position: relative;
    right: 14px;
    top: 7px;
    cursor: pointer
}

#page-local-courses-courses #filter_toggle i.fa {
    font-size: 25px;
    color: #1177d1
}

#page-local-courses-courses .filter_form.openfilter {
    width: 100%;
    background-color: #d1d2d4;
    padding: .5em 0 1em 0;
    position: relative;
    top: -30px;
    z-index: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: all .5s;
    min-height: 110px;
    border-radius: 5px
}

#page-local-courses-courses .search_filter {
    padding-bottom: 25px
}

#page-local-courses-courses .collapsibleregion.collapsed {
    height: 30px !important
}

#page-local-courses-courses .collapsibleregion {
    height: auto !important;
    overflow: visible
}

#page-local-courses-courses .collapsibleregioncaption a:hover {
    text-decoration: none
}

#page-local-courses-courses .courseimg_bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    border-radius: 12px;
}

#page-local-courses-index .dataTables_length {
    display: none
}

#page-local-courses-index .generaltable.dataTable.no-footer td img.iconsmall {
    padding: 0 10px;
    cursor: pointer
}

#page-local-courses-index #category_tbl_wrapper #category_tbl_info {
    display: none
}

#page-local-courses-index .dataTables_paginate.paging_simple_numbers.paginate_button.current {
    color: #fff;
    background-color: #1177d1
}

#page-local-courses-courses .course_extended_menu_list {
    top: -20px
}

body#page-local-courses-index #region-main .card.card-block {
    overflow-x: visible
}

body#page-local-courses-index .course_extended_menu_list {
    top: -20px
}

body#page-local-courses-index #category_tbl_filter {
    float: left
}

body#page-course-view-tabtopics .section li.activity .actions form.togglecompletion .btn {
    background-color: inherit;
    color: inherit;
    border: inherit;
    outline: 0
}

.modal-body .watnext_head {
    border-bottom: 1px solid #eee
}

.modal-body .course_buttons {
    border-bottom: 1px solid #eee
}

body#page-local-courses-index #category_tbl thead {
    display: none
}

body#page-local-courses-index #category_tbl tbody tr {
    background: 0 0
}

body#page-local-courses-index .catlist_container {
    border: 1px solid #c5c5c5;
    border-radius: 0
}

body#page-local-courses-index .catlist_container .cattop_content {
    border-bottom: 2px solid #d4d4d4;
    background-color: #f2f2f2
}

body#page-local-courses-index .catlist_container .catlistimg {
    height: 85px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff
}

body#page-local-courses-index .catlist_container .catcount {
    font-size: 30px;
    line-height: 14px
}

body#page-local-courses-index .catlist_container .cattop_content .actions>a:first-of-type>.icon,
body#page-local-courses-index .catlist_container .cattop_content .actions>img.icon {
    margin: 0;
    padding-left: 10px;
    cursor: pointer
}

body#page-local-courses-index #category_tbl tbody td {
    padding: 15px 10px;
    width: 25%
}

body#page-local-courses-index #category_tbl {
    border: none;
    border-radius: 8px;
    padding: 10px 0
}

body#page-local-courses-index .catbottom_content.py-2.w-full {
    padding: 15px
}

body#page-local-courses-index .catlist_container .cattop_content .catname {
    position: absolute;
    font-weight: 600;
    line-height: 30px;
    font-size: 15px;
    word-break: normal
}

body#page-local-courses-index .catbottom_content .catnames {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    word-break: normal
}

body#page-local-courses-index .catbottom_content a {
    color: #0b4f8a;
    text-decoration: none;
    padding-left: 4px
}

body#page-local-courses-index .catlist_container .cattop_content .catnaming {
    position: absolute;
    font-weight: 200;
    line-height: 45px;
    font-size: 12px;
    word-break: normal;
    float: left !important
}

body#page-local-courses-index .catlisticon i {
    font-size: 25px;
    color: #f26724
}

body#page-local-courses-index .catlisticons i {
    font-size: 25px;
    color: #f26724
}

body#page-local-courses-index .catlist_container .courses_str {
    font-size: 17px;
    padding-left: 3px
}

#back_tp_course {
    border: 1px solid;
    border-radius: 5px;
    float: right;
    margin: 5px;
    padding: 5px
}

.coursebox {
    margin: 10px 0;
    float: left;
    width: 100%
}

.coursebox.clearfix.collapsed.odd {
    background: #f9f9f9
}

#assignform {
    clear: both
}

body#page-local-courses-courses .btn-link.btn-sm,
body#page-local-courses-courses .btn-link.btn-sm:active,
body#page-local-courses-courses .btn-link.btn-sm:focus,
body#page-local-courses-courses .btn-link.btn-sm:hover {
    text-decoration: none
}

#page-local-courses-courses .modal.openLMStransition .modal-body .course_buttons:last-child {
    border-bottom: none
}

.course_extended_menu_list .catcreateicon {
    font-size: 17px;
    top: 3px;
    position: absolute;
    left: 16px;
    color: #f26724
}

body#page-course-view-tabtopics .modal.openLMStransition .modal-content .mform #Department,
body#page-local-courses-courses .modal.openLMStransition .modal-content .mform #Department {
    height: 30px;
    float: left;
    margin-top: 32px
}

body#page-course-view-tabtopics .modal.openLMStransition .modal-content .mform #Category,
body#page-local-courses-courses .modal.openLMStransition .modal-content .mform #Category {
    height: 30px;
    float: left;
    margin-top: 32px
}

body#page-course-view-tabtopics .modal.openLMStransition .modal-content .mform .Sub,
body#page-local-courses-courses .modal.openLMStransition .modal-content .mform .Sub {
    height: 30px;
    float: left;
    margin-top: 32px
}

body#page-course-view-tabtopics .form-autocomplete-selection,
body#page-local-courses-courses .form-autocomplete-selection {
    margin-top: 2px !important
}

body#page-local-courses-index .course_extended_menu_list .createiconchild {
    top: 10px;
    right: 4px
}

body#page-local-courses-courses .course_extended_menu_list .createiconchild {
    right: 6px
}

#page-local-courses-upload-index #download_courses {
    float: right;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px
}

body#page-local-courses-courses .lable_align {
    min-width: 100px
}

body#page-local-courses-index .actionicons.opened .options_container,
body#page-local-courses-index .options_container:hover {
    top: -13px;
    right: -4px
}

body#page-local-courses-index .catlist_container:hover .actionicons {
    visibility: visible
}

body#page-local-courses-index .actionicons {
    visibility: hidden
}

.path-local-courses .showoptions {
    z-index: 2
}

#manage_categoriesid {
    width: 100%;
    float: left;
    margin-top: 30px
}

body#page-local-courses-courses .catbtm_colon {
    min-width: 80px
}

body#page-local-courses-upload-index h2+.mform {
    clear: both
}

@media (min-width:769px) and (max-width:1199px) {
    body#page-local-courses-courses .catcourses_list .cat_btm .col-md-5,
    body#page-local-courses-courses .catcourses_list .cat_btm .col-md-7 {
        width: 100%;
        text-align: center
    }
    body#page-local-courses-courses .catbtm_colon {
        min-width: 100px
    }
    body#page-local-courses-courses .coursedesc {
        min-height: 50px
    }
    .course_container .coursetype {
        top: -2px !important
    }
}

@media(max-width:1217px) {
    .course_container .coursetype {
        min-height: 44px
    }
}

@media (min-width:768px) {
    #page-local-courses-courseenrol .box3.col-md-2.actions {
        margin-top: 243px
    }
}

@media (min-width:768px) and (max-width:1099px) {
    #manage_categoriesid .col-md-3 {
        width: 33.33%;
        max-width: inherit
    }
    body#page-local-courses-courses .coursedesc {
        word-break: break-all
    }
    body#page-local-courses-courses .coursedesc p {
        font-size: 12px
    }
}

@media (min-width:992px) and (max-width:1205px) {
    .cat_btm .col-lg-5,
    .cat_btm .col-lg-7 {
        width: 100%;
        max-width: inherit
    }
}

@media(max-width:991px) {
    #page-local-courses-index .course_extended_menu_list .catcreateicon {
        font-size: 21px
    }
}

@media (min-width:980px) and (max-width:1185px) {
    body#page-local-courses-index .catlist_container .cattop_content .catname {
        width: 84%
    }
    body#page-local-courses-index .actionicons {
        width: 15%
    }
}

@media (min-width:870px) and (max-width:925px) {
    #page-local-courses-courses .course_name a {
        font-size: 16px !important
    }
}

@media (min-width:768px) and (max-width:939px) {
    body#page-local-courses-index .catlist_container .cattop_content {
        padding-left: 5px;
        padding-right: 5px
    }
    body#page-local-courses-index .catlist_container .cattop_content .catname {
        font-size: 12px
    }
    body#page-local-courses-index .catlist_container .col-md-6 {
        padding-right: 0
    }
    body#page-local-courses-index .catlist_container .catcount {
        font-size: 22px
    }
    body#page-local-courses-index .catlist_container .courses_str {
        font-size: 13px
    }
    body#page-local-courses-index .actionicons.opened .options_container,
    body#page-local-courses-index .options_container:hover {
        right: -30px
    }
}

@media (min-width:768px) and (max-width:869px) {
    #page-local-courses-courses .course_name a {
        font-size: 14px !important
    }
    #page-local-courses-courses .course_container .coursecontent {
        padding-left: 0
    }
    #page-local-courses-courses .cat_btm .catbtm_info {
        display: flex;
        word-break: break-all
    }
    body#page-local-courses-courseenrol #fgroup_id_buttonar .form-submit {
        margin-bottom: 3px !important
    }
}

@media (min-width:769px) and (max-width:782px) {
    body#page-local-courses-courses .catcourses_list .col-md-10 {
        width: 82% !important
    }
}

@media (max-width:768px) {
    body#page-local-courses-courses .col-md-6.catcourses_list {
        width: 100%
    }
    body#page-local-courses-courses .catbtm_colon {
        min-width: 100px
    }
    body#page-local-courses-courses .coursedesc {
        min-height: 50px
    }
    .course_container .coursetype {
        top: -2px !important;
        display: inline-block;
        width: 100%
    }
    #page-local-courses-courses .course_container .coursecontent {
        margin-bottom: 5px
    }
}

@media (max-width:767px) {
    #page-local-courses-courses .courseimg_bg {
        display: none
    }
    #page-local-courses-courses .course_buttons {
        clear: both;
        float: left;
        width: 100%
    }
    #page-local-courses-courses .actionicons,
    #page-local-courses-index .actionicons {
        visibility: visible !important
    }
    #page-local-courses-courseenrol button.custom_btn.btn.remove.btn-default {
        margin-top: 0
    }
    #page-local-courses-courseenrol .box3.col-md-2.actions {
        margin-bottom: 3px
    }
}

@media (min-width:544px) and (max-width:980px) {
    body#page-local-courses-index #category_tbl tbody td {
        width: 50% !important;
        float: left
    }
}

@media (max-width:543px) {
    body#page-local-courses-index #category_tbl tbody td {
        width: 100% !important;
        float: left
    }
    body#page-local-courses-courses .catcourses_list .cat_btm {
        text-align: left
    }
    body#page-local-courses-courses #region-main {
        padding-top: 7px
    }
    .course_container .coursetype .certification,
    .course_container .coursetype .classroom,
    .course_container .coursetype .elearning,
    .course_container .coursetype .learningpath,
    .course_container .coursetype .program {
        display: inline-block
    }
}

@media(max-width:514px) {
    #page-course-view-tabtopics .course_extended_menu_list li {
        margin-bottom: 5px
    }
    .path-course-view .section .activity .actions,
    .path-course-view .section .activity .activityinstance {
        display: table-cell
    }
}

@media (max-width:375px) {
    body#page-local-courses-courses .catcourses_list .cat_btm .catbtm_info {
        font-size: 14px
    }
    #page-local-courses-courses .course_name a {
        font-size: 14px !important
    }
}

body#page-local-courses-courseenrol #filters_form.collapsibleregion {
    box-sizing: inherit
}

#page-local-courses-courses .catcourses_list:hover .actionicons {
    visibility: visible
}

#page-local-courses-courses .actionicons {
    visibility: hidden
}

body#page-local-courses-courses a:first-of-type>.icon,
span:first-of-type>.icon {
    margin-left: 0
}

body#page-local-courses-courses .actionicons.opened .options_container,
body#page-local-courses-courses .quick_actions_list5.options_container:hover {
    top: -32px;
    right: -35px
}

body#page-local-courses-courses .quick_actions_list5.options_container:hover::after {
    text-align: center;
    left: 20px
}

body#page-local-courses-courses .actionicons.opened .quick_actions_list6.options_container::after {
    left: inherit;
    right: 50px
}

body#page-local-courses-courses .actionicons.quick_actions_list6.opened .options_container,
body#page-local-courses-courses .quick_actions_list6.options_container:hover {
    top: -33px;
    right: -27px
}

.quick_actions_list6.options_container:hover {
    display: inline-flex
}

body#page-local-courses-courses .actionicons.quick_actions_list5.opened .options_container {
    min-width: 150px
}

body#page-local-courses-courses .actionicons.quick_actions_list5.opened .options_container,
body#page-local-courses-courses .options_container {
    min-width: 150px
}

body#page-local-courses-courses .quick_actions_list5.options_container:hover {
    min-width: 150px
}

body#page-local-courses-courses .actionicons a .icon {
    font-size: initial;
    width: initial;
    height: initial;
    vertical-align: inherit;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    box-sizing: inherit;
    margin-right: 0;
    color: #fff
}

#page-report-outline-index td.numviews {
    text-align: left !important
}

#page-mod-quiz-review .answer i.fa {
    margin-left: 20px
}

.path-course-view .completionprogress {
    margin-top: 15px
}

#page-report-log-index form.logselecform {
    margin-top: 15px
}

.course_container .coursetype {
    position: relative;
    top: -9px
}

.course_container .coursetype .classroom {
    color: #0071bc
}

.course_container .coursetype .elearning {
    color: #3f51b5
}

.course_container .coursetype .learningpath {
    color: #ec1b23
}

.course_container .coursetype .program {
    color: #3ab54a
}

.course_container .coursetype .certification {
    color: #28aae2
}

#page-local-courses-index #popup_category_wrapper .dataTables_paginate {
    width: 100%;
    text-align: right;
    float: initial
}

#page-local-courses-courseenrol button.custom_btn.btn.move.btn-default,
#page-local-courses-courseenrol button.custom_btn.btn.remove.btn-default {
    margin: 2% 0;
    width: 100%
}

#page-local-courses-courseenrol .dual_select option {
    padding: 5px
}

#page-local-courses-index .categoryname {
    background: #d8ecf8;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 12px
}

#page-local-courses-enrolledusers .course_extended_menu_list {
    top: -20px
}

body#page-local-courses-userdashboard .card_list_view {
    display: none;
}
body#page-local-courses-courses .actionicons.quick_actions_list1 .options_container{
    min-width: 30px;
}
body#page-local-courses-courses .actionicons.quick_actions_list1.opened .options_container, 
body#page-local-courses-courses .quick_actions_list1.options_container:hover{
    right: 15px;
}
 .ctype_elearning .coursedesc span{
    text-align:center;
    background-color: inherit;
    border: 1px solid #d1edf6;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
}

/*hema   local course view file code*/

#page-local-courses-courses .course_container .coursetype{
    top: 0px!important;
    left: 15px;
}
#page-local-courses-courses .course_container .coursetype .elearning{
    padding-left: 0!important;
}
#page-local-courses-courses .courseimg_bg{
    padding: 10px!important;
}
#page-local-courses-courses .course_container{
    padding: 20px 0 20px 8px!important;
}
/*progress bar code*/
#page-local-courses-courses .course_progress_container  .progress_circular {
    width: 28px;
    height: 28px;
    background-color: transparent;
    background-image: conic-gradient(white 100%, transparent 0%);
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid #fff;
}
#page-local-courses-courses .course_progress_container{
    color: #fff;
    gap: 4px;
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition:  width .4s;
    width: 38px;
}
 #page-local-courses-courses .course_container.course_progress_container .progress_percentage{
    font-weight: bold;
    margin-left: 5px;
}
#page-local-courses-courses .course_container:hover .course_progress_container .progress_percentage{
  
    margin-left: 0px;
}
#page-local-courses-courses .course_container .course_progress_container .progress_status{
    display: none;
}
#page-local-courses-courses .course_container:hover .course_progress_container{
    background-color: #2E64BA;
    padding: 5px;
    border: 0px solid #fff;
    width: 100%;
}
#page-local-courses-courses  .progress_percentage {
    margin-left: 6px !important;
}
#page-local-courses-courses .course_container:hover .course_progress_container .progress_status{
    display: flex;
}
#page-local-courses-courses .alert-info{
    border: none!important;
}
#page-local-courses-courses #region-main{
    background-color: transparent;
}
