{{!
    @template local_airpay_catalog/course_card

    Rich course card for the LXP catalog.

    Context variables:
    - id, fullname, shortname, summary, categoryname
    - enrolled_count, level, has_level, type
    - is_enrolled, is_completed, is_new
    - viewurl, detailurl, imageurl
}}
<div class="airpay-catalog__card">
    <a href="{{detailurl}}" class="airpay-catalog__card-link">
        <div class="airpay-catalog__card-thumb">
            <span class="airpay-catalog__card-code">{{shortname}}</span>
            {{#is_new}}<span class="airpay-catalog__badge airpay-catalog__badge--new">New</span>{{/is_new}}
            {{#is_completed}}<span class="airpay-catalog__badge airpay-catalog__badge--done"><i class="fa fa-check"></i></span>{{/is_completed}}
            <span class="airpay-catalog__card-type">{{type}}</span>
        </div>
        <div class="airpay-catalog__card-body">
            <h4 class="airpay-catalog__card-title">{{fullname}}</h4>
            <p class="airpay-catalog__card-summary">{{summary}}</p>
            <div class="airpay-catalog__card-meta">
                <span class="airpay-catalog__card-category">{{categoryname}}</span>
                {{#has_level}}
                <span class="airpay-catalog__card-level">{{level}}</span>
                {{/has_level}}
            </div>
            <div class="airpay-catalog__card-footer">
                <span class="airpay-catalog__card-enrolled">
                    <i class="fa fa-users"></i> {{enrolled_count}}
                </span>
                {{#is_enrolled}}
                <span class="airpay-catalog__btn airpay-catalog__btn--continue">Continue</span>
                {{/is_enrolled}}
                {{^is_enrolled}}
                <span class="airpay-catalog__btn airpay-catalog__btn--enroll">View Details</span>
                {{/is_enrolled}}
            </div>
        </div>
    </a>
</div>
