{{!
    This file is part of eAbyas
    Copyright eAbyas Info Solutons Pvt Ltd, India
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    
    @author Maheshchandra  <maheshchandra@eabyas.in>
}}
{{# enabletable}}
    <table class='generaltable', id='popup_user{{roleid}}'>
        <thead>
            <tr>
                <th>{{# str}} fullname, local_assignroles{{/ str}}</th>
                <th>{{# str}} employeeid, local_assignroles{{/ str}}</th>
                <th>{{# str}} email, local_assignroles{{/ str}}</th>
                <th>{{# str}} role, local_assignroles{{/ str}}</th>
                <th>{{# str}} actions, local_assignroles{{/ str}}</th>
            </tr>
        </thead>
        <tbody>
            {{# rowdata}}
                <tr>                  
                    <td>{{fullname}}</td>
                    <td>{{employeeid}}</td>
                    <td>{{email}}</td>
                    <td>{{rolefullname}}</td>
                    <td><a style = 'color:#1177d1;cursor:pointer' onclick='(function(e){ require("local_assignroles/popup").unassignConfirm({selector:"unassignpopup", contextid:{{contextid}}, rolename:"{{rolefullname}}", roleid:{{roleid}}, userid:{{userid}}, username:"{{fullname}}"}) })(event)'>{{# str}}unassign, local_assignroles{{/ str}}</a></td>
                </tr>
            {{/ rowdata}}
        </tbody>
    </table>
{{/ enabletable}}
{{^ enabletable}}
    {{# str}} nousertorole, local_assignroles{{/ str}}
{{/ enabletable}}
