{{!
    Recursive node partial for the org tree.
    @template local_airpay_org/org_node
}}
<div class="org-row depth-{{depth}} {{^visible}}hidden-org{{/visible}}">
    <div class="org-meta">
        <i class="fa fa-{{#has_children}}folder-open{{/has_children}}{{^has_children}}folder{{/has_children}} fa-fw text-muted"></i>
        <div>
            <span class="fw-semibold">{{fullname}}</span>
            {{#has_brand}}<span class="branding-dot" style="background: {{brand_color}};" title="Branded: {{brand_color}}"></span>{{/has_brand}}
            {{#shortname}}<span class="text-muted small ms-2">{{.}}</span>{{/shortname}}
        </div>
    </div>
    <div class="d-flex align-items-center gap-3">
        {{#has_children}}<span class="text-muted small d-none d-md-inline"><i class="fa fa-sitemap fa-fw"></i> {{child_count}}</span>{{/has_children}}
        <span class="text-muted small d-none d-md-inline"><i class="fa fa-users fa-fw"></i> {{user_count}}</span>
        <span class="badge {{visiblecss}} small">{{visiblelabel}}</span>
        {{#can_manage}}
        <div class="dropdown">
            <button type="button" class="btn btn-sm btn-link text-muted p-0 dropdown-toggle no-arrow"
                    data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a class="dropdown-item" href="#"
                       data-action="edit-org" data-orgid="{{id}}" data-name="{{fullname}}">
                        <i class="fa fa-pencil fa-fw"></i> Edit Settings
                    </a>
                </li>
                {{^is_tenant}}
                <li>
                    <a class="dropdown-item" href="#"
                       data-action="add-child-org" data-parentid="{{id}}" data-name="{{fullname}}">
                        <i class="fa fa-plus fa-fw text-success"></i> Add Sub-org
                    </a>
                </li>
                {{/is_tenant}}
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="#"
                       data-action="toggle-org" data-orgid="{{id}}" data-name="{{fullname}}" data-visible="{{visible_int}}">
                        {{#visible}}<i class="fa fa-eye-slash fa-fw text-warning"></i> Hide{{/visible}}
                        {{^visible}}<i class="fa fa-eye fa-fw text-success"></i> Show{{/visible}}
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item text-danger" href="#"
                       data-action="delete-org" data-orgid="{{id}}" data-name="{{fullname}}">
                        <i class="fa fa-trash fa-fw"></i> Delete
                    </a>
                </li>
            </ul>
        </div>
        {{/can_manage}}
    </div>
</div>

{{#has_children}}
{{#children}}
{{> local_airpay_org/org_node }}
{{/children}}
{{/has_children}}
