<div class="course_drawer_header_container">
    <div class="course_image d-flex flex-column align-items-start justify-content-end" style="background-image: url('{{coursebannerimage}}');">
        <div class="course_title text-white"><a href="{{cfg.wwwroot}}/course/view.php?id={{id}}" title="{{coursename}}">{{coursename}}</a></div>
    </div>
    <div class="content">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{{percentage}}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>         
        </div>
    <span class="percentage text-white ">{{{percentage}}}%</span>
    </div>
    {{{display_ratings}}}
</div>
