{{!
    This file is part of eAbyas
    Copyright eAbyas Info Solutons Pvt Ltd, India
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    @author Narendra  <narendra.patel@moodle.in>
}}
{{# enabletable}}
{{# rowdata}}

    <div class="row shadow" style=" margin: auto; width: 99%;">
        <div class="column" >Assign as <b>{{ role }}</b> at <b>{{costcenter}}</b> on <b>{{timeassign}}</b></div>
        <div class="column2" >
            <a onclick='(function(e){ require("local_assignroles/popup").unassignConfirm({selector:"unassignpopup", contextid:{{ctxid}}, rolename:"{{role}}", roleid:{{roleid}}, userid:{{userid}}, username:"{{fullname}}"}) })(event)'><i class="fa fa-times fa-fw" title="{{# str }} unassign, local_assignroles {{/ str }}"></i></a>
        </div>
    </div>
    <div style=" height: 10px;"></div>

{{/ rowdata}}

    <style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 95%;
        padding: 10px;
        height: 40px;
    }
    .column2 {
        float: left;
        width: 5%;
        padding: 10px;
        height: 40px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .row i{
        visibility:hidden;
    }
    .row:hover i{
        visibility:visible;
    }
</style>


    <!-- <table class='generaltable', id='popup_user{{roleid}}'>
        <thead>
            <tr>
                <th>{{# str}} rolename, local_users{{/ str}}</th>
                <th>{{# str}} hierarchy, local_users{{/ str}}</th>
                <th>{{# str}} level, local_users{{/ str}}</th>
                <th>{{# str}} timeassign, local_users{{/ str}}</th>
                <th>{{# str}} action, local_users{{/ str}}</th>
            </tr>
        </thead>
        <tbody>
            {{# rowdata}}
                <tr>
                    <td>{{role}}</td>
                    <td>{{costcenter}}</td>
                    <td>{{depth}}</td>
                    <td>{{timeassign}}</td>
                    <td><a style = 'color:#1177d1;cursor:pointer' onclick='(function(e){ require("local_assignroles/popup").unassignConfirm({selector:"unassignpopup", contextid:{{ctxid}}, rolename:"{{role}}", roleid:{{roleid}}, userid:{{userid}}, username:"{{fullname}}"}) })(event)'>{{# str}}unassign, local_assignroles{{/ str}}</a></td>
                </tr>
            {{/ rowdata}}
        </tbody>
    </table> -->
{{/ enabletable}}
