{{!
    This file is part of eAbyas
    Copyright eAbyas Info Solutons Pvt Ltd, India
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    
    @author eabyas  <info@eabyas.in>
}}

<div class="d-block">
    <div class="user_info_left">
        <div class="user_gen_info w-full pull-left">
            <div class="general_info text-center">
                <div class="general_info_container">
                </div>
            </div>
        </div>
    </div>
</div>
{{> local_users/skillinfotabs }}