{{!
    This file is part of eAbyas
    Copyright eAbyas Info Solutons Pvt Ltd, India
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    
    @author eabyas  <info@eabyas.in>
}}

        <div class="edu_info w-full pull-left">
            <div class="profile_data_content mx-auto d-flex flex-wrap flex-row align-items-center">
                <div class="userinfo-lable col-md-12 mb-2">{{#str}}personalinfo, local_users{{/str}}</div>
                <div class="userinfo-content col-md-12">
                    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} location, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ location }}</div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} address, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ address }}</div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} gender, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ gender }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} dateofbirth, local_users {{/ str }}</div>

                                </h6>
                                <div class="u_info pull-left pl-10">{{ dateofbirth }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} contactno, local_users {{/ str }}</div>
                                </h6>
                                <div class="u_info pull-left pl-10">{{ phnumber }}</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} timezone {{/ str }}</div>
                                </h6>
                                <div class="u_info pull-left pl-10">{{ timezone }}</div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} zone, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ zone }}</div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} region, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ region }}</div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="profile_data_content mx-auto d-flex flex-wrap flex-row align-items-center">
                <div class="userinfo-lable col-md-12 mb-2">{{# str }} professionalinfo, local_users {{/ str }}</div>
                <div class="userinfo-content col-md-12">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} costcenter, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ organisation }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} department, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ department }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} commercialunit, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ subdepartment }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} commercialarea, local_users {{/ str }}</div>

                                </h6>
                                <div class="u_info pull-left pl-10">{{ usercu }}</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} territory, local_users {{/ str }}</div>
                                </h6>
                                <div class="u_info pull-left pl-10">{{ userterritory }}</div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} domain, local_users {{/ str }}</div>
                                </h6>
                                <div class="u_info pull-left pl-10">{{ domain }}</div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} role {{/ str }}</div>
                                </h6>
                                <div class="u_info pull-left pl-10">{{ domainrole }}</div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} serviceid, local_users {{/ str }}</div>

                                </h6>
                                <div class="u_info pull-left pl-10">{{ empid }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} employmenttype, local_users {{/ str }}</div>

                                </h6>
                                <div class="u_info pull-left pl-10">{{ employment_type }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} designation, local_users {{/ str }}</div>

                                </h6>
                                <div class="u_info pull-left pl-10">{{ designation }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} region, local_users {{/ str }}</div>

                                </h6>
                                <div class="u_info pull-left pl-10">{{ region }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} grade, local_users {{/ str }}</div>

                                </h6>
                                <div class="u_info pull-left pl-10">{{ grade }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} joiningdate, local_users {{/ str }}</div>

                                </h6>
                                <div class="u_info pull-left pl-10">{{ joindate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile_data_content mx-auto d-flex flex-wrap flex-row align-items-center">
                <div class="userinfo-lable col-md-12 mb-2">{{# str }} otherinfo, local_users {{/ str }}</div>
                <div class="userinfo-content col-md-12">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} supervisor, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ supervisorname }}</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} certificates, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ certificatescount }}</div>
                            </div>
                        </div>
                    </div> -->
                    <!--<div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} level, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ level }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <h6>
                                    <div>{{# str }} branch, local_users {{/ str }}</div>
                                    
                                </h6>
                                <div class="u_info pull-left pl-10">{{ branch }}</div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
