.block_announcement .totalannouncements .activeannouncements{
	/*background-color: #f5f5f5 !important;*/
	padding: 5px 0px;
}
.block_announcement .totalannouncements .notactiveannouncements{
	/*background-color: #A9A9A9 !important;*/
	padding: 5px 0px;
}
.block_announcement .singleannouncemet>div.descriptionannounce{
	overflow-x: auto;
	width: 100%;
}
.block_announcement .totalannouncements .fullannouncement{
    /*border: 1px solid #e5e5e5;*/
	position: relative;
    /*padding: 10px 0;*/
    /*border-bottom: 1px solid #F4F6F9;*/
}
.fstaticlabel{
    font-size: 15px;
}
.block_announcement.block i.fa.fa-volume-up{
	/*width: 1.25em;*/
	font-size: 14px;
    float: left;
    margin-right: 10px;
}
.block_announcement div.technicalsupport{
	text-align: right;
}
.block_announcement div.cratenew{
	text-align: right;
}
.block_announcement.block .news_fa_icon{
	float: left;
	font-size: 13px;
	margin-right: 10px;
	line-height: 18px;
}
.block_announcement.block .totalannouncements b > a {
    color: #555658;
    font-size: 14px;
    font-weight: 400;
}
/*code by bunesh 26_05*/
body#page-blocks-announcement-announcements div[role="main"]{
	position: relative;
}
body#page-blocks-announcement-announcements .collapsibleregioncaption{
	float: right;
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 11px;
    font-weight: normal;
    top: 27px;
}
body#page-blocks-announcement-announcements .collapsibleregioncaption a{
	color: #fff;
}
body#page-blocks-announcement-announcements .collapsibleregioncaption img{
	display: none;
}
/*code starts here 27_05*/
body#page-blocks-announcement-news .createnews{
	text-align: center;
    font-weight: 400;
    padding: 10px 1%;
    height: auto;
    font-size: 24px;
    width: 98%;
}
body#page-blocks-announcement-news div.addnews{
    font-size: 15px;
    height: 100%;
    padding-left: 6px;
    padding: 9px;
    width: 98%;
    float: left;
    min-height: 150px;
}
body#page-blocks-announcement-news #region-main {
    box-shadow: 4px 4px 5px #dedcdc;
    background-color: #fff;
    border-radius: 8px;
	margin-top: 10px;
}
body#page-blocks-announcement-news .delnews a{
	color: #0072bc;
}
body#page-blocks-announcement-announcements a.pull-left{
	/*margin-top: 55px;*/
    font-size: 18px;
    padding-right: 10px;
}
body#page-blocks-announcement-announcements .coursebackup.course_extended_menu_itemcontainer {
    margin-top: 46px;
}
body#page-blocks-announcement-news div.addnews img{
        width: 100%;
        height: 430px;
}
.block.block_announcement .content {
    min-height: 170px;
}
#page-blocks-announcement-announcements #region-main .card.card-block {overflow-x: visible;}
#page-blocks-announcement-announcements .course_extended_menu_list {top: -40px;}
.block_announcement .content.mt-3 {
    margin-bottom: 1rem;
}
.block.block_announcement .announcement_right{
    padding-left: 15px;
    margin-top: 8px;
}
.block.block_announcement .annoncement_name{
    font-size: 17px;
    font-weight: 600;
}
.block.block_announcement .annonun_created{
    font-size: 12px;
}
.block.block_announcement .announcedate_container {
    border: 1px solid #ddd;
    margin-bottom: .7rem;
    /*max-width: 70px;*/
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -o-border-radius: .25rem;
    border-radius: .25rem;
}
.block.block_announcement .announcedate_container .announcemy{
    background-color: #3477ba;
    width: 100%;
    float: left;
    font-size: 12px;
    color: #fff;
    padding: 3px 2px;
}
.block.block_announcement .announcedate_container .announceday{
    font-size: 20px;
    padding: 4px 2px;
}
#table_block_announcement_wrapper {
    overflow: auto;
}
#table_block_announcement_wrapper #table_block_announcement {
    min-width: 810px;
}
body.path-blocks div[role="main"] .dataTables_wrapper #table_block_announcement>thead>tr{
    background-color: transparent;    
}
@media(min-width: 1366px){
    .block.block_announcement .announcedate_container {max-width: 70px;min-width: 23%;}
    .block.block_announcement .announcement_right {
        width: -webkit-calc(75% - 7%);
        width: -moz-calc(75% - 7%);
        width: -o-calc(75% - 7%);
        width: calc(75% - 7%);
    }
}
@media (min-width:768px) and (max-width: 1199px){
    .block.block_announcement .announcement_right{
        padding-left: 15px;
        font-size: 14px;
    }
}