{{!
    This file is part of eAbyas
    Copyright eAbyas Info Solutons Pvt Ltd, India
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    @author eabyas  <info@eabyas.in>
}}
{{#response}}
    {{^records}}
    {{#nodata}}
        <div class = 'w-100 pull-left alert alert-info'>{{nodata}}</div>
    {{/nodata}}
    {{/records}}
    {{#viewtypeCard}}
            <table class="w-full pull-left generaltable" id = sessionsdata>
            {{#records.0}}
                <thead>
                    <tr>
                        {{#classroomname}}<th>{{#str}}classroomname,local_classroom{{/str}}</th>{{/classroomname}}
                        <th>{{#str}}name{{/str}}</th>
                        <th>{{#str}}date{{/str}}</th>
                        <th>{{#str}}time{{/str}}</th>
                        <th>{{#str}}type,local_classroom{{/str}}</th>
                        <th>{{#str}}room,local_classroom{{/str}}</th>
                        <th>{{#str}}status,local_classroom{{/str}}</th>
                        <th>{{#str}}attended_sessions_users,local_classroom{{/str}}</th>
                        <th>{{#str}}faculty,local_classroom{{/str}}</th>         
                    </tr>
                </thead>
                {{/records.0}}
                {{#records}}
                <tr>
                {{#classroomname}}<td>{{classroomname}}</td>{{/classroomname}}
                <td>{{name}}</td>
                <td><i class="fa fa-calendar" aria-hidden="true"></i>{{date}}</td>
                <td><i class="fa fa-clock-o"></i>{{starttime}} <b>-</b>{{endtime}}</td>
                <td>{{{link}}}</td>
                <td>{{room}}</td>
                <td>{{{status}}}</td>
                <td>{{attendacecount}}</td>
                <td>{{{trainer}}}</td>
                </tr>
            {{/records}}
        </table>
    {{/viewtypeCard}}
{{/response}}
{{#js}}
    var search_interval = 100;
    var timer;
    var searchval 
    $(document).on('keyup', '#global_filter_conductedtrainingsdashboards', function(){

        if (searchval===$(this).val()){
            return true;
        }
        searchval = $(this).val();

        var thiselement = $('.trainerdashboardstatus a.active').parent();

        var trainerdashboardstatus = thiselement.data('status');

        var options = {targetID: 'conductedtrainingsdashboards',
                    templateName: 'block_trainerdashboard/conductedtrainings',
                    methodName: 'block_trainerdashboard_get_conductedtrainings',
                    perPage: 6,
                    cardClass: 'col-xl-4 col-md-6 col-12',
                    viewType: 'card'};

        var dataoptions = {trainerdashboardstatus: trainerdashboardstatus, search_query: searchval};
        timer = setTimeout(function(){
            require(['local_costcenter/cardPaginate'], function(cardPaginate) {
                cardPaginate.reload(options, dataoptions,'');
            });
        },search_interval);
    });
    $(document).on('keydown', '.global_filter_conductedtrainingsdashboards', function(){
        if (searchval===$(this).val()){
            return true;
        }
        searchval = $(this).val();

        var thiselement = $('.trainerdashboardstatus a.active').parent();

        var trainerdashboardstatus = thiselement.data('status');

        var options = {targetID: 'conductedtrainingsdashboards',
                    templateName: 'block_trainerdashboard/conductedtrainings',
                    methodName: 'block_trainerdashboard_get_conductedtrainings',
                    perPage: 6,
                    cardClass: 'col-xl-4 col-md-6 col-12',
                    viewType: 'card'};

        var dataoptions = {trainerdashboardstatus: trainerdashboardstatus, search_query: searchval};
        timer = setTimeout(function(){
            require(['local_costcenter/cardPaginate'], function(cardPaginate) {
                cardPaginate.reload(options, dataoptions,'');
            });
        },search_interval);
    });
{{/js}}