{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#response}}
    {{#viewtypeCard}}
        <table class="generaltable" id = 'manage_transactions'>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Transaction Code</th>
                    <th>Invoice Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#records}}
                    {{#data}}
                    <tr>
                        <td>{{#coursename}}{{coursename}}{{/coursename}}{{^coursename}}N/A{{/coursename}}</td>
                        <td>{{#transactioncode}}{{transactioncode}}{{/transactioncode}}{{^transactioncode}}N/A{{/transactioncode}}</td>
                        <td>{{invoicedate}}</td>
                        <td>{{#amount}}{{amount}}{{/amount}}{{^amount}}N/A{{/amount}}</td>
                        <td>{{status}}</td>
                    </tr>
                    {{/data}}
                    {{#nodata}}
                    <div class='w-full pull-left text-center alert alert-info'>{{#str}}notransactions, local_biz_cart{{/str}}.</div>
                    {{/nodata}}
                {{/records}}
            </tbody>
        </table>
    {{/viewtypeCard}}
{{/response}}
