{{!
    This file is part of eAbyas
    Copyright eAbyas Info Solutons Pvt Ltd, India
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    
    @author Maheshchandra  <maheshchandra@eabyas.in>
}}
 
    <table class='generaltable'>
        <thead>
            <tr>
                <th>fullname</th>
                <th>employeeid</th>
                <th>email</th>
                <th>organization</th>
                
            </tr>
        </thead>
        <tbody>
            {{#rowdata}}
                <tr>                  
                    <td>{{fullname}}</td>
                    <td>{{employeeid}}</td>
                    <td>{{email}}</td>
                    <td>{{orgname}}</td>
                     
                </tr>
            {{/rowdata}}
        </tbody>
    </table>
 
