{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<ul class="course_extended_menu_list dept">
    {{# create_sub_sub_sub_department}}
        <li>
            <div class='courseedit course_extended_menu_itemcontainer'>
                {{{ create_sub_sub_sub_department }}}
            </div>
        </li>
    {{/ create_sub_sub_sub_department}}
    {{# create_sub_sub_department}}
        <li>
            <div class='courseedit course_extended_menu_itemcontainer'>
                {{{ create_sub_sub_department }}}
            </div>
        </li>
    {{/ create_sub_sub_department}}
    {{# create_sub_department}}
        <li>
            <div class='courseedit course_extended_menu_itemcontainer'>
                {{{ create_sub_department }}}
            </div>
        </li>
    {{/ create_sub_department}}
    {{# create_department}}
        <li>
            <div class='courseedit course_extended_menu_itemcontainer'>
                {{{ create_department }}}
            </div>
        </li>
    {{/ create_department}}
    {{# create_organisation}}
        <li>
            <div class='courseedit course_extended_menu_itemcontainer'>
                {{{ create_organisation }}}
            </div>
        </li>
    {{/ create_organisation}}


    <!--{{# createsubdeptpopup}}
    <li>
       <div class='courseedit course_extended_menu_itemcontainer'>
            {{{ createsubdeptpopup }}}
        </div>
    </li>
    {{/ createsubdeptpopup}}

    {{# createdeptpopup}}
    <li>
       <div class='courseedit course_extended_menu_itemcontainer'>
            {{{ createdeptpopup }}}
        </div>
    </li>
    {{/ createdeptpopup}} --> 
</ul>
