/*#page-local-evaluation-index #manage_feedbacks .eval_container .evalinfo_container {
    min-height: 195px
}*/

.path-local-evaluation span.evaluation_info {
    font-weight: 700
}

.path-local-evaluation .form-inline label:not(.sr-only):not(.accesshide)+select {
    margin-left: .5rem;
    margin-right: .5rem
}

body .ui-widget-content a,
body a {
    color: #0070a8;
    font-size: 15px;
    text-decoration: none
}

i.icon.fa.fa-plus-square.fa-fw.iconsmall.pull-right {
    margin-top: -37px;
    margin-bottom: 18px
}

.path-local-evaluation span.evaluation_depend {
    color: red
}

.path-local-evaluation hr.evaluation_pagebreak {
    height: 4px;
    color: #aaa;
    background-color: #aaa;
    border: 0;
    margin: 0
}

#page-local-evaluation-eval_view i.icon.fa.fa-trash.fa-fw.iconsmall {
    display: none
}

.path-local-evaluation .drag_target_active {
    opacity: .25
}

.path-local-evaluation .drag_item_active {
    opacity: .5
}

.path-local-evaluation .evaluation_bar_image {
    height: 10px
}

.path-local-evaluation #analysis-form label {
    display: inline
}

.path-local-evaluation .templateslist td.cell.action,
.path-local-evaluation .templateslist th.header.action {
    width: 10%
}

.path-local-evaluation table.analysis {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 65px
}

#page-local-evaluation-analysis .generaltable {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}

body#page-local-evaluation-analysis .generaltable tbody tr:first-child {
    border-right: 1px solid #ddd
}

.path-local-evaluation table.analysis tr:first-child th {
    padding: 10px;
    color: #3889ca
}

.path-local-evaluation table.analysis tr {
    background: 0 0
}

body#page-local-evaluation-analysis .sub_ans {
    background-color: #12a89d;
    color: #fff;
    border-radius: 8px
}

body#page-local-evaluation-analysis .tot_que {
    background-color: #aa67aa;
    color: #fff;
    border-radius: 8px;
    margin-left: 15px
}

body#page-local-evaluation-analysis table.analysis td,
body#page-local-evaluation-analysis table.analysis th {
    padding: .75rem
}

.path-local-evaluation table.analysis td.optionname:before,
.path-local-evaluation table.analysis td.singlevalue:before {
    content: '- '
}

.path-local-evaluation table.analysis.itemtype_textarea td {
    padding: 4px 0
}

.path-local-evaluation table.analysis tr.isempty {
    display: none
}

.path-local-evaluation #showentryanontable td.cell.random_response,
.path-local-evaluation #showentrytable td.cell.completed_timelocalified {
    font-weight: 700
}

.path-local-evaluation #showentryanontable td.cell.deleteentry,
.path-local-evaluation #showentrytable td.cell.deleteentry,
.path-local-evaluation #showentrytable td.cell.userpic {
    width: 10px
}

.path-local-evaluation .response_navigation {
    width: 100%;
    float: left;
    margin: .5em 0
}

.path-local-evaluation .response_navigation a {
    display: inline-block
}

.path-local-evaluation .response_navigation a.back_to_list {
    margin: auto;
    float: right;
    left: -50%;
    position: relative
}

.path-local-evaluation .response_navigation .prev_response:before {
    content: ' ◄ '
}

.path-local-evaluation .response_navigation .next_response:after {
    content: ' ► '
}

.path-local-evaluation .response_navigation .next_response {
    float: right
}

.path-local-evaluation .response_navigation .prev_response {
    float: left
}

#page-local-evaluation-survey table#f2ftable.generaltable.dataTable>tbody>tr.even>td {
    background-color: #fff !important
}

#page-local-evaluation-survey table#f2ftable.generaltable.dataTable>tbody>tr>td:hover {
    background-color: inherit !important
}

#page-local-evaluation-survey .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody,
#page-local-evaluation-survey .online_test .dataTables_wrapper.no-footer {
    height: auto !important;
    overflow: inherit
}

body.path-mod-feedback #mod_feedback_navblock .qnbutton {
    color: inherit;
    background-color: inherit
}

#page-local-evaluation-survey table#f2ftable.generaltable.dataTable>tbody>tr.odd>td.dataTables_empty {
    background-color: #d9edf7 !important
}

#page-local-evaluation-survey .ui-tabs.ui-widget {
    margin-top: 0 !important
}

#page-local-evaluation-survey .ui-tabs-vertical .ui-tabs-panel {
    background-color: #b5e8f5;
    min-height: 125px;
    margin-top: -67px;
    border: 1px solid #ccc !important;
    border-left: none !important;
    border-right: none !important
}

#page-local-evaluation-survey .ui-tabs-vertical .ui-tabs-nav {
    padding: 0;
    margin-left: 2px
}

#page-local-evaluation-survey .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    background-color: #b5e8f5 !important;
    border: 1px solid #ccc !important;
    border-right: none !important;
    margin: 0 !important
}

#page-local-evaluation-survey .ui-tabs-vertical .ui-tabs-nav li>a {
    width: 140px;
    background-image: none !important;
    padding: 5px 0 5px 10px !important
}

#page-local-evaluation-survey .tab_questionulli>a {
    padding: 6px 60px 6px 10px
}

#page-local-evaluation-survey .span-online_test_name {
    width: 35%;
    float: left
}

#page-local-evaluation-survey .dataTables_wrapper.no-footer {
    padding: 0
}

#page-local-evaluation-users_assign .user_courses select[multiple] {
    width: 23em !important;
    min-height: 25em !important
}

#page-local-evaluation-users_assign .user_batches_filter,
#page-local-evaluation-users_assign .user_courses {
    width: 82%;
    display: block;
    margin: 0 0 0 18%
}

#page-local-evaluation-users_assign #select-from option,
#page-local-evaluation-users_assign #select-to option {
    min-height: 1.5em
}

#page-local-evaluation-users_assign #select-from optgroup,
#page-local-evaluation-users_assign #select-to optgroup {
    min-height: 2em
}

#page-local-evaluation-users_assign .button_ul,
#page-local-evaluation-users_assign .filter_ul {
    display: inline-block;
    list-style-type: none;
    margin: auto
}

#page-local-evaluation-users_assign .select2 {
    width: 88% !important
}

#page-local-evaluation-users_assign .fitem_fselect {
    width: 50%;
    float: left
}

#page-local-evaluation-users_assign .select2-search__field {
    width: 500px !important
}

#page-local-evaluation-users_assign .knowmore {
    float: right;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    color: #fff
}

#page-local-evaluation-users_assign div#department_job_desigantion-filter_caption {
    width: 75px
}

#page-local-evaluation-survey .qusetin_bank {
    margin: auto;
    text-align: center;
    list-style-type: none
}

#page-local-evaluation-survey .qusetin_bank li {
    margin-left: 20px;
    display: -moz-inline-stack;
    display: inline-block
}

#page-local-evaluation-survey .notice {
    border: 1px solid;
    margin: 10px 0;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #00529b;
    background-color: #bde5f8;
    text-align: center;
    clear: both
}

.online_test {
    padding: 2% 0;
    width: 100%;
    float: left
}

#custompop h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: orange;
    margin: 100px 0
}

#custompop .box {
    width: 20%;
    margin: 0 auto;
    background: rgba(255, 255, 255, .2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center
}

.button {
    font-size: 1em;
    padding: 10px;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-out
}

#custompop .button:hover {
    background: orange
}

#custompop .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    transition: opacity 1ms;
    visibility: hidden;
    opacity: 0
}

#custompop .overlay:target {
    visibility: visible;
    opacity: 1
}

#custompop .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out
}

#custompop .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif
}

#custompop .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all .2s;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #333
}

#custompop .popup .close:hover {
    color: orange
}

#custompop .popup .content {
    max-height: 30%;
    overflow: auto
}

#manage_feedbacksid .evalution_container {
    background-color: #f3f3f3;
    padding: 15px 1%;
    width: 98%
}

#manage_feedbacksid .eval_firstrow {
    width: 100%;
    float: left;
    margin-bottom: 15px
}

#manage_feedbacksid .eval_secondrow {
    border: 1px solid #ddd;
    width: 100%;
    float: left;
    background-color: #fff;
    display: inline-flex;
    text-align: center
}

.eval_secondrow span i.fa {
    float: left;
    font-size: 25px
}

.moveleft,
.staymiddle {
    border-right: 1px solid #ddd
}

.eval_heading {
    float: left;
    font-size: 20px
}

.eval_actions {
    float: right
}

.eval_actions a {
    padding: 0 5px
}

.eval_actions a i.fa {
    font-size: 17px;
    color: #818a91
}

#page-local-evaluation-index .dataTables_wrapper .dataTables_scroll {
    width: 100% !important
}

#page-local-evaluation-index .dataTables_scrollHeadInner {
    width: 100% !important
}

#page-local-evaluation-index .generaltable.dataTable.no-footer {
    width: 100% !important
}

#page-local-evaluation-index .actionicons a:first-of-type>.icon {
    margin-left: 0
}

.success_icon {
    text-align: center;
    font-size: 20px;
    font-weight: 700
}

.success_icon img {
    width: 35px;
    height: 35px
}

.col-form-label {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
    font-weight: 700 !important
}

#page-local-evaluation-eval_view .dropdown-menu {
    right: 0;
    min-width: 13rem
}
body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3>label .dropdown.show .dropdown-menu {
    transform: none !important;
    top: 100% !important;
    right: 0;
}
#page-local-evaluation-analysis .singlebutton,
#page-local-evaluation-eval_view #analysis .singlebutton {
    float: right
}

.feedback_info,
.feedback_info_value {
    font-size: 14px
}

#page-local-evaluation-analysis .tab_responses h4 {
    border-bottom: 1px solid #ddd;
    padding: 0 15px 15px
}

#page-local-evaluation-analysis .summary_details {
    float: left;
    display: inline-flex;
    margin-bottom: 3px
}

#page-local-evaluation-eval_view .tab_questions,
#page-local-evaluation-eval_view .tab_responses {
    background-color: #2c2f3b;
    color: #fff;
    padding: 5px
}

#page-local-evaluation-index .eval_secondrow .eval_value {
    font-size: 20px
}

#page-local-evaluation-index #region-main .card.card-block {
    overflow-x: visible
}


body#page-local-evaluation-analysis .generaltable tbody tr {
    width: 50%;
    float: left;
    background: 0 0
}

body#page-local-evaluation-analysis .generaltable tbody tr td {
    display: block
}

body#page-local-evaluation-analysis .respavg_img {
    margin: auto;
    display: block;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 2px #ddd
}

body#page-local-evaluation-analysis .resp_avg {
    display: block
}

body#page-local-evaluation-analysis .respavg_count {
    font-size: 20px;
    color: #12a89d
}

body#page-local-evaluation-analysis .generaltable tbody tr td:nth-child(1) .quotient {
    color: #aa67aa
}

body#page-local-evaluation-analysis .generaltable tbody tr td:nth-child(2) .quotient {
    color: #12a89d
}

body#page-local-evaluation-analysis .generaltable tbody tr td:nth-child(3) .quotient {
    color: #3b8aca
}

body#page-local-evaluation-analysis .generaltable tbody tr td:nth-child(4) .quotient {
    color: #682b92
}

body#page-local-evaluation-analysis .generaltable tbody tr td:nth-child(5) .quotient {
    color: #ec1c24
}

body#page-local-evaluation-eval_view .ui-tabs .ui-tabs-nav {
    background: 0 0;
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    width: 100%;
    float: left
}

body#page-local-evaluation-eval_view .ui-widget.ui-widget-content {
    border: none;
    overflow: auto
}

body#page-local-evaluation-eval_view .ui-tabs .ui-tabs-panel {
    padding: 1em 15px;
    width: 100%;
    float: left;
    min-width: 1140px
}

body#page-local-evaluation-eval_view .ui-tabs .ui-tabs-nav li {
    background: 0 0;
    border: none
}

body#page-local-evaluation-eval_view .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 3px solid transparent;
    margin-bottom: -1px
}

body#page-local-evaluation-eval_view .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    background: 0 0;
    color: inherit
}

body#page-local-evaluation-eval_view .evaluation_header_wrapper {
    margin-bottom: 0;
    clear: both;
    float: left;
    width: 100%;
    background-color: #2c2f3b;
    color: #fff;
    font-size: 15px
}

body#page-local-evaluation-eval_view .evaluation_header_wrapper .evaluation_question_heading_label {
    float: left;
    width: 65%;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase
}

body#page-local-evaluation-eval_view .evaluation_header_wrapper .ratings_wrapper {
    float: right;
    width: 35%;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase
}

body#page-local-evaluation-eval_view #evaluation_dragarea {
    border: 1px solid #ddd;
    border-radius: 0 8px;
    width: 100%;
    float: left
}

body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
    float: left;
    width: 75%;
    word-break: break-word;
    font-size: 15px;
    padding-left: 30px;
    position: relative;
    max-width: 100%;
}

body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3::before {
    vertical-align: middle;
    line-height: 34px;
    margin-right: 5px;
}
body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3::after {display: none;}
body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-9.form-inline.felement {
    padding: 0;
    float: right;
    width: 35%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;
    overflow: auto
}

body#page-local-evaluation-eval_view #evaluation_dragarea .form-check-label {
    padding: 0 8px;
    min-width: 77px;
    display: table-cell;
    cursor: pointer;
    text-align: center;
}

body#page-local-evaluation-eval_view #evaluation_dragarea .form-check-label span {
/*    display: block;*/
    text-align: center
}

body#page-local-evaluation-eval_view #evaluation_dragarea .form-check-label input[type=radio] {
    display: block;
    margin: auto
}

body#page-local-evaluation-eval_view #evaluation_dragarea .itemhandle {
    float: left;
    left: 20px;
    position: absolute;
    color: #999
}

body#page-local-evaluation-eval_view #evaluation_dragarea .itemtitle {
    display: inline-flex
}

body#page-local-evaluation-eval_view #evaluation_dragarea .action-menu .dropdown-toggle {
    color: #999
}

body#page-local-evaluation-eval_view #evaluation_dragarea .itemname {
    font-weight: 400
}

body#page-local-evaluation-eval_view .tab_addedit {
    width: 100%;
    float: left
}

body#page-local-evaluation-eval_view .tab_addedit h5 {
    background-color: #2c2f3b;
    color: #fff;
    padding: 10px
}

body#page-local-evaluation-eval_view #evaluation_preview_form .col-md-3 {
    width: 100%;
    float: left
}

body#page-local-evaluation-eval_view #evaluation_preview_form .col-md-9.form-inline.felement {
    width: 100% !important;
    float: left;
    padding-left: 23px
}

body#page-local-evaluation-eval_view #evaluation_preview_form .form-check-label {
    padding-left: 15px
}

body#page-local-evaluation-show_entries .col-md-3 {
    width: 100%;
    float: left
}

body#page-local-evaluation-show_entries .col-md-9.form-inline.felement {
    width: 100%;
    float: left;
    padding-left: 50px
}

body#page-local-evaluation-complete,
body#page-local-evaluation-show_entries {
    counter-reset: quenumbr
}

body#page-local-evaluation-show_entries #evaluation_viewresponse_form .col-md-3 label.col-form-label.d-inline:before {
    counter-increment: quenumbr;
    content: counter(quenumbr) ".";
    padding-right: 5px;
    font-weight: 700
}

body#page-local-evaluation-show_entries #region-main h4 {
    border-bottom: 1px solid #ddd;
    padding: 0 15px 15px
}

#page-local-evaluation-analysis #region-main,
#page-local-evaluation-complete #region-main,
#page-local-evaluation-show_entries #region-main {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden
}

.path-local-evaluation .nothingtodisplay {
    padding-left: 15px
}

body#page-local-evaluation-show_entries #evaluation_viewresponse_form {
    padding: 0 15px
}

body#page-local-evaluation-show_entries .response_navigation {
    padding: 0 15px
}

body#page-local-evaluation-show_entries .backurl {
    clear: both;
    float: left;
    margin-left: 14px
}

body#page-local-evaluation-eval_view #mform3 .col-md-3 {
    text-align: right
}

body#page-local-evaluation-eval_view #mform3 .col-md-9.felement input[type=text] {
    width: 230px;
    padding: 5px
}

#page-local-evaluation-analysis #region-main .card.card-block {
    padding-left: 0;
    padding-right: 0
}

body#page-local-evaluation-index .course_extended_menu_list .createiconchild {
    top: 19px;
    right: 13px
}

#page-local-evaluation-index [data-region=paged-content-page] {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

#page-local-evaluation-index [data-region=paged-content-page].hidden {
    display: none
}

#page-local-evaluation-index [data-region=paged-content-page]::after {
    clear: both;
    display: table;
    content: ""
}

#page-local-evaluation-index .modal.openLMStransition .modal-content .mform i.icon.fa.fa-calendar.fa-fw {
    margin-top: 10px
}

@media (min-width:2000px) {
    /*.evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement {
        width: 35% !important
    }
    .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
        width: 65% !important
    }*/
}

@media (min-width:1800px) and (max-width:1999px) {
    /*.evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement {
        width: 30% !important
    }
    .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
        width: 70% !important
    }*/
}

@media (min-width:1500px) and (max-width:1799px) {
    /*.evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement {
        width: 35% !important
    }
    .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
        width: 65% !important
    }*/
}

@media (min-width:1360px) and (max-width:1499px) {
    /*.evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement {
        width: 44% !important
    }
    .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
        width: 56% !important
    }*/
}

@media (min-width:1341px) and (max-width:1359px) {
    /*.evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement {
        width: 44% !important
    }
    .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
        width: 56% !important
    }*/
}

@media (min-width:1300px) and (max-width:1340px) {
    /*.evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement {
        width: 35% !important
    }
    .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
        width: 65% !important
    }*/
}

@media (min-width:1100px) and (max-width:1299px) {
    /*.evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement {
        width: 55% !important
    }
    .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
        width: 45% !important
    }*/
}

@media (min-width:1025px) and (max-width:1200px) {
    #manage_feedbacksid .eval_container .evalinfo_container {
        min-height: 190px
    }
}
@media (min-width:1025px) {
	body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3>label {
	    white-space: normal;
	}
	.evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement,
	.evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
    	width: 50%!important;
    	flex: 0 0 50%;
    }
}
@media (min-width:1025px) and (max-width:1099px) {
    /*.evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement {
        width: 60% !important
    }
    .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
        width: 40% !important
    }*/
}

@media (min-width:992px) and (max-width:1340px) {
    #manage_feedbacksid .eval_container .evalname {
        white-space: nowrap;
        display: inline-block;
        width: -webkit-calc(100% - 50px);
        width: -moz-calc(100% - 50px);
        width: -o-calc(100% - 50px);
        width: calc(100% - 50px);
        overflow: hidden;
        text-overflow: ellipsis
    }
    body #manage_feedbacksid .eval_container .evalicon {
        font-size: 20px;
        margin-right: 3px
    }
    #manage_feedbacksid .eval_container .actionicons .showoptions {
        width: 23px;
        height: 25px
    }
    #manage_feedbacksid .eval_container .actionicons .showoptions .fa-ellipsis-h.options {
        font-size: 18px !important
    }
}

@media (min-width:992px) and (max-width:1115px) {
    #manage_feedbacksid .eval_container .eval_label {
        min-width: 93px !important
    }
    #manage_feedbacksid .eval_container .evalname {
        font-size: 14px !important
    }
}

@media (min-width:930px) {
    body#page-local-evaluation-eval_view #mform3 {
        width: 50%;
        margin: auto
    }
}

@media (min-width:992px) and (max-width:1024px) {
    .evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement {
        width: 63% !important
    }
    .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
        width: 37% !important
    }
    #manage_feedbacksid .eval_container .evalinfo_container {
        min-height: auto
    }
}

@media(max-width:991px) {
    #page-local-evaluation-index .actionicons {
        visibility: visible !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement {
        width: 55% !important
    }
    .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
        width: 45% !important
    }
    body#page-local-evaluation-eval_view .evaluation_header_wrapper .evaluation_question_heading_label {
        width: 55%
    }
    body#page-local-evaluation-eval_view .evaluation_header_wrapper .ratings_wrapper {
        width: 45%
    }
    body#page-local-evaluation-eval_view #evaluation_dragarea .form-check-label {
        min-width: 50px
    }
    body#page-local-evaluation-index .course_extended_menu_list .createiconchild {
        top: 17px;
        right: 8px;
        font-size: 12px
    }
    #page-local-evaluation-index .modal.openLMStransition .modal-content .mform {
        width: 100%
    }
}

@media (min-width:674px) and (max-width:886px) {
    #page-local-evaluation-eval_view .evalinfo_container .aligninline:nth-child(1),
    #page-local-evaluation-eval_view .evalinfo_container .aligninline:nth-child(3) {
        width: 70%
    }
}

@media (max-width:886px) {
    #page-local-evaluation-eval_view .evalinfo_container .aligninline>span {
        min-width: 110px;
        margin-right: 0
    }
}

@media (max-width:673px) {
    #page-local-evaluation-eval_view .evalinfo_container .aligninline>span {
        display: flex;
        font-size: 14px
    }
    div.aligninline span.mr-10>b {
        min-width: 105px
    }
}

@media (min-width:671px) and (max-width:991px) {
    #manage_feedbacks .col-md-4 {
        width: 50%;
        max-width: inherit
    }
    #manage_feedbacksid .eval_container .eval_label {
        min-width: 90px !important
    }
}

@media (max-width:767px) {
    #manage_feedbacksid .eval_container .evalinfo_container p {
        margin-bottom: 5px
    }
    #manage_feedbacksid .eval_container .evalname {
        font-size: 14px !important
    }
    .evaluation_header_wrapper .ratings_wrapper,
    body#page-local-evaluation-eval_view #evaluation_edit_form .col-md-9.form-inline.felement {
        width: 100% !important
    }
    .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .col-md-3 {
        width: 100% !important
    }
    body#page-local-evaluation-eval_view .evaluation_header_wrapper .evaluation_question_heading_label,
    body#page-local-evaluation-eval_view .evaluation_header_wrapper .ratings_wrapper {
        width: 100%
    }
    body#page-local-evaluation-eval_view #evaluation_dragarea .form-check-label {
        min-width: 50px
    }
    #page-local-evaluation-index #manage_feedbacksid,
    .path-local-evaluation #manage_feedbacksid_wrapper {
        padding: 0 0 0 10px
    }
    body#page-local-evaluation-eval_view #mform3 .col-md-3 {
        text-align: left
    }
    body#page-local-evaluation-index .course_extended_menu_list .createiconchild {
        top: 39px;
        right: 43px
    }
}

@media (max-width:585px) {
    body#page-local-evaluation-eval_view #evaluation_dragarea #evaluation_edit_form .form-check-label input[type=radio] {
        display: inherit
    }
    body#page-local-evaluation-eval_view #evaluationtabs {
        overflow: auto
    }
    body#page-local-evaluation-eval_view .ui-widget.ui-widget-content #edit,
    body#page-local-evaluation-eval_view .ui-widget.ui-widget-content #ul_refferals {
        min-width: 680px
    }
    .path-local-evaluation .form-inline label:not(.sr-only):not(.accesshide)+select {
        margin-bottom: .5rem
    }
}

@media (max-width:480px) {
    body#page-local-evaluation-analysis table.analysis+table.generaltable tbody tr {
        width: 100%;
        border-right: none;
        min-height: 100px
    }
    body#page-local-evaluation-analysis table.analysis+table.generaltable tbody tr:first-child {
        border-bottom: 1px solid #ddd
    }
    div.aligninline span.mr-10>b {
        min-width: 100px;
        display: inline-block
    }
    body#page-local-evaluation-index .course_extended_menu_list .createiconchild {
        top: 40px;
        font-size: 11px
    }
    .classview_topcontent_right h3 {
        font-size: 1.3rem
    }
}

@media (max-width:405px) {
    #manage_feedbacksid .eval_container .eval_label {
        min-width: 90px !important
    }
}

@media (max-width:360px) {
    #manage_feedbacksid .eval_container .evalinfo_container {
        text-align: left !important
    }
    #manage_feedbacksid .eval_container .evalinfo_container p {
        font-size: 11px
    }
    #manage_feedbacks .col-md-4 {
        padding: 0
    }
    #manage_feedbacksid .eval_container .evalicon {
        display: none
    }
}

@media (max-width:350px) {
    #page-local-evaluation-eval_view .evalinfo_container {
        padding: 0
    }
}

#manage_feedbacks {
    width: 100%;
    float: left
}

/*#manage_feedbacksid .eval_container {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    position: relative;
    box-shadow: 0 0 5px 3px #ddd;
    -webkit-box-shadow: 0 0 5px 3px #ddd
}
*/
#manage_feedbacksid .eval_container .evalname_container {
    padding: 10px 15px;
    line-height: 20px
}

/*#manage_feedbacksid .eval_container .evalactions {
    background: #eee;
    border-radius: 0 0 8px 8px
}*/

#manage_feedbacksid tbody tr td .eval_container .evalactions a i.fa {
    color: #fff;
    padding: 10px;
    font-size: 20px
}

/*#manage_feedbacksid .eval_container .evalinfo_container {
    padding: 15px;
    color: #666
}*/

#manage_feedbacksid .eval_container .evalicon {
    font-size: 25px;
    margin-right: 10px;
    color: #1177d1
}

#manage_feedbacksid .eval_container .evalname {
    font-size: 18px
}

body#page-local-evaluation-eval_view .course_extended_menu_list li {
    display: inline;
    float: right;
    margin: 0 5px
}

body#page-local-evaluation-eval_view .course_extended_menu_list li a {
    margin-right: inherit
}


div.aligninline {
    text-align: left;
    float: left;
    padding: inherit;
    margin-top: 3px
}

body#page-local-evaluation-eval_view .evalview_topcontent {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 5px
}

body#page-local-evaluation-analysis .itemtype_numeric th {
    border-bottom: 1px solid #ddd
}

/*body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group .col-md-3 {
    width: 100%;
    float: left;
    flex: auto;
    max-width: inherit
}
*/
/*body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group .col-md-9 {
    width: 100%;
    float: left;
    display: table;
    margin: 10px 0;
    padding-left: 40px;
    max-width: inherit;
    flex: inherit
}*/

/*body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group .col-md-9 label {
    width: 25%;
    padding: 0 5px;
    margin: 10px 0;
    color: #333e48;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    display: inline-table
}*/

body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group.femptylabel .col-md-9 {
    width: 100%;
    /* text-align: center; */
}

body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group.femptylabel .col-md-9 .btn-cancel,
body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group.femptylabel .col-md-9 .form-submit {
    display: inline-block
}

body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group .fitem {
    display: inline-block
}

body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group .col-md-9 textarea {
    /* width: 50%; */
    float: left;
    height: 80px !important
}

body#page-local-evaluation-complete .evaluation_form.ianonymous .col-md-3>label {
    font-size: 17px;
    font-weight: 400 !important;
/*    color: #0070a8*/
}

body#page-local-evaluation-complete .evaluation_form.ianonymous .col-md-3 label.col-form-label.d-inline:before {
    counter-increment: quenumbr;
    content: counter(quenumbr) ".";
    padding-right: 5px;
    font-weight: 300
}

body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group.femptylabel .col-md-3 {
    display: none
}

body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group.evaluation_mode .col-md-9 {
    margin: 0
}

body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group.evaluation_mode {
/*    border-bottom: 1px solid #ddd;*/
    font-size: 17px;
    /* margin: 0; */
    padding: 0
}

body#page-local-evaluation-complete .evaluation_form.ianonymous .form-group .col-md-9 input[type=checkbox] {
    margin-right: 12px;
    float: left;
    margin-top: 3px
}

#page-local-evaluation-index .eval_container:hover .actionicons {
    visibility: visible
}

#page-local-evaluation-index .actionicons {
    visibility: hidden
}

body#page-local-evaluation-users_assign .collapsibleregion {
    overflow: visible
}

#page-local-evaluation-show_entries .no-overflow {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
    margin-top: 15px
}

#page-local-evaluation-show_entries .dataformatselector .form-inline.text-xs-right {
    float: right
}

#page-local-evaluation-show_entries .no-overflow>.generaltable {
    margin-bottom: 1rem
}

#page-local-evaluation-analysis .continuebutton {
    width: 100%;
    float: left
}

#page-local-evaluation-analysis .analysis.itemtype_textfield {
    margin-bottom: 15px
}

#page-local-evaluation-analysis .analysis.itemtype_textfield th {
    border-bottom: 1px solid #ddd
}

.path-local-evaluation table.analysis.itemtype_textarea {
    margin-bottom: 15px
}

table.analysis thead,
table.analysis thead tr {
    background: 0 0
}

#page-local-evaluation-analysis .analysis.itemtype_textfield tbody {
    min-height: 208px;
    float: left;
    width: 100%;
    border-right: 1px solid #ddd
}

#page-local-evaluation-analysis .analysis.itemtype_multichoice th {
    min-height: 60px;
    float: left
}

#page-local-evaluation-analysis .generaltable tbody tr {
    min-height: 208px
}

#page-local-evaluation-analysis .analysis.itemtype_textarea th {
    border-bottom: 1px solid #ddd
}

#page-local-evaluation-analysis .analysis.itemtype_textarea tbody {
    min-height: 187px;
    float: left;
    width: 100%;
    border-right: 1px solid #ddd
}

#page-local-evaluation-show_entries .alert.alert-info.alert-block {
    margin: 0 15px
}

body#page-local-evaluation-eval_view #region-main .card.card-block {
    overflow: initial
}

.eval_schedule_label {
    color: #f05a28
}

/*#manage_feedbacksid .eval_container .eval_label {
    min-width: 100px;
    float: left
}*/

#page-local-evaluation-eval_view .evalinfo_container {
    line-height: 17px
}

#page-local-evaluation-users_assign .box3.col-md-2.actions {
    margin: 15% 0
}

#page-local-evaluation-users_assign button.custom_btn.btn.move.btn-default,
#page-local-evaluation-users_assign button.custom_btn.btn.remove.btn-default {
    margin: 2% 2%;
    width: 100%
}

#page-local-evaluation-users_assign .dual_select option {
    padding: 5px
}

.take_evaluation {
    color: #333 !important;
    font-size: 18px;
    padding: 8px 15px
}

.evaluation_form .evaluation_itemlist {
    border-bottom: 1px solid #ccc;
    padding: 5px
}

body#page-local-evaluation-index .dataTables_wrapper.no-footer {
    overflow: auto
}

body#page-local-evaluation-index .openLMStransition.local_evaluation .mform>.form-group {
    margin-left: .6rem
}

body#page-local-evaluation-index .openLMStransition.local_evaluation .form-autocomplete-suggestions {
    min-width: 205px;
    max-width: 205px
}

#page-local-evaluation-show_entries .dataformatselector .form-inline.text-xs-right #downloadtype_download {
    margin: 0 .5rem 3px
}

form#filteringform #fgroup_id_buttonar .fitem.form-submit {
    margin-bottom: 3px
}

body#page-local-evaluation-index .modal-body .generaltable td {
    vertical-align: middle
}

@media (max-width:585px) {
    #page-local-evaluation-show_entries .no-overflow>.generaltable {
        margin-bottom: 1rem;
        display: table;
        table-layout: fixed;
        min-width: 700px
    }
}

body#page-local-evaluation-eval_view #mform3 .col-md-3 {
    text-align: right;
    margin-left: 550px
}

body#page-local-evaluation-eval_view #mform3 .col-md-9.felement input[type=text] {
    width: 230px;
    padding: 5px;
    margin-left: 500px
}

.evaluation_heading {
    text-align: center;
    color: #2e76ad
}

body#page-local-evaluation-userdashboard .card_list_view {
    display: none;
}


/*filterform*/
#page-local-evaluation-index  form#filteringform {
    display: flex;
    flex-wrap: wrap;
}
#page-local-evaluation-index  .form-autocomplete-selection [data-active-selection=true]{
    padding: 0.25em 0.4em !important;
    font-size:100% !important;
}

@media (max-width:1059px){
    #page-local-evaluation-index  #filters_form .mform .autocomplete .form-autocomplete-downarrow {
        position: absolute;
        top: 5px !important;
    }
}
@media (max-width:767px){
    #page-local-evaluation-index  #filters_form .mform .autocomplete .form-autocomplete-downarrow {
        position: absolute;
        top: 26px !important;
    }
    #page-local-evaluation-index  #filters_form .mform .autocomplete .form-autocomplete-downarrow {
        left:180px;
    }
}
#page-local-evaluation-eval_view .dropdown-menu [data-method="addnew_question"]{
    margin-bottom: 0 !important;
    float: none;
}



/* hema added manage feedbacks css*/
#page-local-evaluation-index .eval_container {
    border-radius: 0;
    box-shadow: 7px 7px 30px #0000005C;
}

#page-local-evaluation-index  .eval_container{
    transform: scale(1);
    transition: 0.5s;
    z-index: 1000;
}
#page-local-evaluation-index  .eval_container:hover{
    transform: scale(1.1);
    transition: 0.5s;
    z-index: 1000;
}
#page-local-evaluation-index .eval_container .evalinfo_container{
    padding: 15px 15px 0 15px;
}
#page-local-evaluation-index .eval_container .eval_image{
    background-image: url('https://energyresourcing.com/wp-content/uploads/2022/07/giving-constructive-feedback.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    width: 100%;
    height: 200px;
    padding: 10px;
    position: relative;
}
#page-local-evaluation-index .evalinfo_container .evalname a {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    font-family: Georgia, serif;
    text-decoration: none;
}
#page-local-evaluation-index .eval_container .enroll_strip{
    border: 1px solid #ff6e22;
    background: #ff6e22;  
    color: #fff;
    font-size: 12px;   
    border-radius: 50px;
    padding: 3px 10px;
    margin-right: 8px; 

}
#page-local-evaluation-index .eval_container .completed_strip{
    border: 1px solid #00651a;
    background: #00651a;
    color: #fff;
    font-size: 12px;   
    border-radius: 50px;
    padding: 3px 10px;
    margin-right: 8px; 
}
#page-local-evaluation-index .eval_container .enroll_count a,
#page-local-evaluation-index .eval_container .completed_count a {
    color: #fff;
    font-size:11px;
}
#page-local-evaluation-index .eval_container .setting_icon{
    background-color: #fff;
    padding: 2px 6px;
    width: 25px;
    height: 24px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page-local-evaluation-index .eval_container .eval_labelname {
    font-size: 12px;
    margin: 6px 0px;
}

#page-local-evaluation-index .eval_container .type_survey {
    color: #000;
    font-weight: 600;
}
#page-local-evaluation-index .eval_container .eval_labelname .eval_label{
    color:#373737;
}
#page-local-evaluation-index .eval_container .eval_schedule_label {
    color: #ff7628;
    margin-left: 2px;
}
#page-local-evaluation-index .eval_container .schedule_content {
    color: #ff7628;
    font-size: 12px;
}
#page-local-evaluation-index .take_evaluation {
    font-size: 12px;
    padding: 0 15px 15px 15px;
    color: #ff7628!important;
    text-decoration: underline;
    margin-top: -10px;
}
#page-local-evaluation-index .showoptions{
    background:transparent;
    color:#000;
}

/*evaluation feedback view page css*/
body#page-local-evaluation-eval_view .evalview_topcontainer{
    content:"";
    background-image: url('https://energyresourcing.com/wp-content/uploads/2022/07/giving-constructive-feedback.jpg');
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    min-height: 150px;
    margin-top: 35px;
}
body#page-local-evaluation-eval_view .evalview_topcontainer:after{
    content: " ";
    backdrop-filter: blur(4px);
    background-image: linear-gradient(45deg, #03295f, #05294fb5);
    background-color: rgba(255,255,255,0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
body#page-local-evaluation-eval_view .evalview_topcontainer .alert-info{
    background-color: none;
    border:none;
    text-align: left;
    color: #fff;
}
body#page-local-evaluation-eval_view .evalview_topcontainer:before{
    background-image: linear-gradient(to right,#f0f0f0,#ffff);
}
body#page-local-evaluation-eval_view .evalview_topcontent{
    border: none;
    width: 90%;
    margin:auto;
    padding: 15PX;
    color: #fff;
}
body#page-local-evaluation-eval_view .evalview_topcontent .eval_schedule_label{
    color:#fff;
}
#page-local-evaluation-eval_view .evalinfo_container{
    font-size: 13px;
    line-height: 13px;
}
body#page-local-evaluation-eval_view .evalview_topcontent .eval_data a{
    color: #ff7029;
}
body#page-local-evaluation-eval_view .ui-tabs .ui-tabs-nav{
    padding-left: 0;
}
body#page-local-evaluation-eval_view .ui-tabs .ui-tabs-nav li.ui-tabs-active{
    border:none;
    border-bottom: 3px solid #ff721c;
    color: #ff721c;
    font-weight: 600;
}
body#page-local-evaluation-eval_view .ui-tabs .ui-tabs-nav li a{
    color: #000;
}
body#page-local-evaluation-eval_view #evaluation_dragarea{
    border: none;
    float: none;
}
body#page-local-evaluation-eval_view .ui-widget.ui-widget-content{
    padding: 1rem 2rem;
}
#evaluation_dragarea .evaluation_form .evaluation_itemlist{
    border: 1px solid #eaeaea;
    box-shadow: 0 3px 8px #eaeaea;
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
}
body#page-local-evaluation-eval_view .evaluation_header_wrapper{
    background-color: transparent;
    color: #000;
}
body#page-local-evaluation-eval_view #evaluation_dragarea .form-check-label{
    min-width: 60px;
    font-size: 13px;
    width: 100%;
}
body#page-local-evaluation-eval_view #evaluation_dragarea .itemhandle{
    left: 16px;
    position: absolute;
    color: #999;
    top: 15px;
}
body#page-local-evaluation-eval_view #evaluation_dragarea .itemname{
    color: #000;
}
body#page-local-evaluation-eval_view  #id_creating_templates{
    padding: 14px;
    background-color: #f0f4fe;
    border-bottom: none;
    box-shadow: 0 3px 9px #ddd;
}
body#page-local-evaluation-eval_view .evalview_topcontent h3{
    border-bottom: 1px solid #263f5d;
    padding: 9px 0;
}
body#page-local-evaluation-eval_view  #id_creating_templates h3{
    font-size: 13px;
}
body#page-local-evaluation-eval_view  #id_creating_templates .btn.btn-icon{
    height: 25px;
    width: 25px;
    background-color: #ff721c;
    border-color:#ff721c;
}
body#page-local-evaluation-eval_view  #id_creating_templates .expanded-icon{
    padding:3px !important;
}
body#page-local-evaluation-eval_view  #id_creating_templates .expanded-icon .icon{
    color:#fff;
}
#page-local-evaluation-eval_view #id_creating_templatescontainer .col-form-label{
    font-size: 12px;
    font-weight: 400 !important;
}
#page-local-evaluation-eval_view #id_creating_templatescontainer .btn.btn-primary{
    background-color: #ff721c;
    border-color:#ff721c;
}
#page-local-evaluation-eval_view  #id_creating_templatescontainer #fitem_id_create_template .col-md-9{
    justify-content: end;
  } 
body#page-local-evaluation-eval_view .evalview_topcontent .description .alert-info{
    border:none;
    background-color: transparent;
    color: #fff;
    text-align: left !important;
    padding-left: 0;
}

/*feedback user login page*/
#page-local-evaluation-complete #region-main{
    padding: 15px;
}
#page-local-evaluation-complete .evaluation_form .evaluation_itemlist {
    border: 1px solid #eaeaea;
    box-shadow: 0 3px 8px #eaeaea;
    padding: 18px;
    position: relative;
    margin-bottom: 20px;
}
#page-local-evaluation-complete .evaluation_form .evaluation_itemlist .col-md-3{
    flex: 0 0 49%;
    max-width: 49%;
    text-align: left;
}
#page-local-evaluation-complete .evaluation_form .evaluation_itemlist .form-inline{
    display: flex;
    flex-flow: row;
    flex: 0 0 49%;
    max-width: 49%;
}
body#page-local-evaluation-complete .evaluation_form.ianonymous .form-inline .form-check-label input[type=radio] {
    display: block;
    margin: auto;
}
body#page-local-evaluation-complete .evaluation_form  .evaluation_itemlist .form-inline .fitem{
    min-width: 60px;
    display: table-cell;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
body#page-local-evaluation-complete .evaluation_form.ianonymous #fgroup_id_buttonar .form-inline{
    justify-content: center;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
}
body#page-local-evaluation-complete .evaluation_form.ianonymous .col-md-3>label {
    font-size: 15px;
    color: #000;
}
#page-local-evaluation-complete #page-header .breadcrumb,
#page-local-evaluation-eval_view #page-header .breadcrumb{
    padding-bottom: 0;
}

