{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template catalog/elarning list

    Displays elarning
   
}}
<span class="courseimg_strip">Strip</span>
<div class="row mb-2 mt-2">
    <div class=" card-img-top courseimg_container col-md-4">
        <a ng-if="record.enroll == 0" title="<% record.coursename %>">
            <div style="background-image: url('<% record.fileurl %>')" alt="<% record.coursename %>" class=courseimg_bg></div>
        </a>
        <a ng-if="record.enroll == 1" title="<% record.coursename %>">
            <div style="background-image: url('<% record.fileurl %>')" alt="<% record.coursename %>" class=courseimg_bg></div>
        </a>
    </div>
    <div class=" card-body readyCCnt coursecontent col-md-8">
        <div class="d-flex w-full course_name_container ">
            <div>
                <span class="CstripCntLt" ng-if="record.open_learningformat==2 && record.open_status != 2 && record.open_status" >
                    <span class="elearning"><% record.statusstring %></span> 
                </span>
                <a ng-if="record.enroll == 0" class="d-block C_titile link text-decoration-none" title="<% record.coursename %>">
                    <h4 class="course_name m-y-1 card-title course-title">
                        <% record.course_shortname %>
                    </h4>
                </a>
                <a ng-if="record.enroll == 1" class="d-block C_titile link text-decoration-none" title="<% record.coursename %>">
                    <h4 class="course_name m-y-1 card-title course-title">
                        <% record.course_shortname %>
                    </h4>
                </a>
            </div>
        </div>
        <div class="card-text course-desc">
            <div class="coursedesc w-full pull-left">
                <div class="desc" ng-bind-html="record.summary | unsafe" ></div>
            </div>
        </div>
     
        <div class=" justify-content-between align-items-center w-full">
            <div class="endrolled_details_div">
                <span ng-if="record.open_skillcategory">
                <span class="d-block"><small><strong>Skill Category</strong></small></span>
                <span class = "course_skill_category"><% record.open_skillcategory %></span>
                </span>

                <span ng-if="record.enrol_date != 'N/A'">
                <div class="progress-status">
                    <div><big><strong><% record.progressbarpercent %> %</strong></big></div>
                    <div class="w-full pull-left progress">
                        <div class="progress-bar" role="progressbar" style="width: <% record.progressbarpercent %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                </span>
            </div>
            <div class="action_div">
                
                    <span ng-bind-html="record.selfenrol | unsafe" class="enrolled<% record.id %>"></span>
                  <span ng-bind-html="record.redirect | unsafe"></span>
                
            </div>
        </div>
    </div>
</div>
