{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

   
}}
    {{#response}}
            {{#viewtypeCard}}
            <table class="generaltable dataTable no-footer" id="skill_repository" role="grid" aria-describedby="skill_repository_info">
                <thead>
                    <tr role="row">
                        <th class="header c0 sorting" style="text-align: left; width: 247px;" scope="col" tabindex="0" aria-controls="skill_repository" rowspan="1" colspan="1" aria-label="Skill name: activate to sort column ascending">{{#str}} type, local_notifications {{/str}}</th>
                        <th class="header c1 sorting" style="text-align: left; width: 228px;" scope="col" tabindex="0" aria-controls="skill_repository" rowspan="1" colspan="1" aria-label="Achieved Users: activate to sort column ascending">{{#str}} code, local_notifications {{/str}}</th>
                        <th class="header c2 sorting" style="text-align: left; width: 245px;" scope="col" tabindex="0" aria-controls="skill_repository" rowspan="1" colspan="1" aria-label="Code: activate to sort column ascending">{{#str}} subject, local_notifications {{/str}}</th>
                        <th class="header c3 sorting" style="text-align: left; width: 190px;" scope="col" tabindex="0" aria-controls="skill_repository" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending">{{#str}} organization, local_notifications {{/str}}</th>
                        <th class="header c4 lastcol sorting" style="width: 124px;" scope="col" tabindex="0" aria-controls="skill_repository" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending">{{#str}} form_actions, local_notifications {{/str}}
                        </th>
                    </tr>
                </thead>
            <tbody>
            {{#records}}

                <tr>
                    <td>
                        {{notification_type}}
                    </td>
                    <td>
                        {{code}}
                    </td>
                    <td>
                       {{subject}}
                    </td>
                    <td>
                        {{organization}}
                    </td>
                    <td>
                         <a href="javascript:void(0)" data-action="createnotificationmodal" class="createnotificationmodal" data-value="{{notification_id}}" onclick="(function(e){ require('local_notifications/notifications').init({selector:'createnotificationmodal', context:{{contextid}}, id:{{notification_id}},form_status:0, callback:'notification_form'}) })(event)" style="cursor:pointer" title="{{# str}}edit{{/ str}}">
                        <i class="fa fa-pencil fa-fw"></i>

                       <a href="javascript:void(0)" title="{{# str}}delete{{/ str}}" onclick="(function(e){ require('local_notifications/custom').deletenotification({{notification_id}})})(event)">
                            <i class="fa fa-trash fa-fw" aria-hidden="true" aria-label="Delete"></i>
                        </a>

                       
                       

                        
                    </td>
                </tr>     
            {{/records}}
            </tbody>
    </table>
    {{/viewtypeCard}}
{{/response}}



